
<div class="fixed-table-container">
    <table ng-table="ctrl.tableParams" class="table fix-table-row-height table-striped">
        <tr ng-repeat="row in $data">
            <td data-title="ctrl.$translate.i18n.i18n_metric" sortable="'name'" style="width: 55%;">
                <div data-container="body" bs-tooltip="'{{ row.metricHelp }}'">{{ row.name }}</div>
            </td>
            <td data-title="ctrl.$translate.i18n.page_anomaly_health" sortable="'anomalyHealth'" ng-class="{ 'trigger-red': row.triggerRed, 'trigger-yellow': row.triggerYellow }" style="width: 15%;">
                <div><a href="javascript:;" ng-click="ctrl.showModal(7, row.name, row.host)">{{ row.anomalyHealth | formatAnomalyHealth }}</a></div>
            </td>
            <td data-title="ctrl.$translate.i18n.page_overview_panel_alert_title" sortable="'alertStatus'">
                <div style="padding-left: 10px;">
                    <a href="/alerts/status" ng-if="row.alertStatus !== 'GREY'" style="width: 15%;">
                    <!-- <a href="/host_topology?tabId=2&id=&name=" ng-if="row.alertStatus !== 'GREY'" style="width: 15%;"> -->
                        <i class="iconfont fa-status-{{ row.alertStatus | lowercase }} status-color status-{{ row.alertStatus | lowercase }}" style="font-weight: bolder;"></i>
                    </a>
                    <i class="iconfont fa-status-{{ row.alertStatus | lowercase }} status-color status-{{ row.alertStatus | lowercase }}" style="font-weight: bolder;" ng-if="row.alertStatus == 'GREY'"></i>
                </div>
            </td>
            <td data-title="ctrl.$translate.i18n.i18n_operating" style="padding: 0 6px; width: 15%;">
                <div ng-show="row.anomalyHealth !== 100">
                    <a href="/association?guide&metric={{ row.name }}&host={{ row.host }}" class="btn btn-primary btn-small" style="padding: 0.1rem 0.5rem;"><i class="fa fa-search"></i> <em translate="page_alert_diagnostic_analysis"></em></a>
                </div>
            </td>
        </tr>
    </table>
</div>
