
<div class="fixed-table-container">
    <table ng-table="ctrl.tableParams" class="table fix-table-row-height">
        <tr ng-repeat="row in $data">
            <td data-title="'指标'" sortable="'name'">
                <div data-container="body" bs-tooltip="'{{ row.metricHelp }}'">{{ row.name }}</div>
            </td>
            <td data-title="'健康值'" sortable="'anomalyHealth'" ng-class="{ 'trigger-red': row.triggerRed, 'trigger-yellow': row.triggerYellow }">
                <div><a href="javascript:;" ng-click="ctrl.showModal(7, row.name, row.host)">{{ row.anomalyHealth | formatAnomalyHealth }}</a></div>
            </td>
            <td data-title="'报警情况'" sortable="'alertStatus'">
                <div style="padding-left: 10px;">
                    <a href="/host_topology?tabId=2&id=&name=" ng-if="row.alertStatus !== 'GREY'">
                        <i class="iconfont fa-status-{{ row.alertStatus | lowercase }} status-color status-{{ row.alertStatus | lowercase }}" style="font-weight: bolder;"></i>
                    </a>
                    <i class="iconfont fa-status-{{ row.alertStatus | lowercase }} status-color status-{{ row.alertStatus | lowercase }}" style="font-weight: bolder;" ng-if="row.alertStatus == 'GREY'"></i>
                </div>
            </td>
            <td data-title="'操作'">
                <div ng-show="row.anomalyHealth !== 100">
                    <a href="/rca?guide&metric={{ row.name }}&host={{ row.host }}"><i class="fa fa-search" bs-tooltip="'诊断分析'"></i></a>
                </div>
            </td>
        </tr>
    </table>
</div>
