<div class="accordion host-list" id="accordion0">
    <cw-loading show="!ctrl.servicePanel.hosts.length" duration=6000></cw-loading>
    <div class="accordion-group host-item" ng-repeat="host in ctrl.servicePanel.hosts">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion0" href="#service{{$index}}" ng-click="ctrl.selectHost($index, host.host, 'service');">
                <ul>
                    <li class="pull-left">
                        <i class="fa btn btn-primary" ng-class="{true: 'fa-minus', false: 'fa-plus'}[$index == ctrl.selected0]"></i>
                    </li>
                    <li style="padding-left: 5%; text-align: left;"
                        class="text-overflow"
                        ng-click="ctrl.switchPanel('host', host.host);">
                        <button type="button" style="margin: 8px 0; padding: 2px 10px; position:relative;"
                            class="btn-item system-status status-color bg-{{ host.healthType }}">
                            {{ host.host }}
                        </button>
                    </li>
                    <li>
                        <button type="button" style="margin: 8px 0; padding: 2px 10px; position:relative; left: 50%; transform: translateX(-50%);"
                            class="btn-item system-status status-color bg-{{ ctrl.hostsResource[ctrl.servicePanel.currentService.name][host.host].status | lowercase }}">
                            {{ ctrl.hostsResource[ctrl.servicePanel.currentService.name][host.host].statusText }}
                        </button>
                    </li>
                    <li>{{ host.status || '-' }}</li>
                    <li>{{ host.cpu || '-' }}</li>
                    <li>{{ host.mem || '-' }}</li>
                    <li>{{ host.disk || '-' }}</li>
                    <li>
                        <i class="fa fa-search" ng-click="ctrl.toHostTopology(host.id, host.host)"></i>
                    </li>
                </ul>
            </a>
        </div>

        <div id="service{{$index}}" class="accordion-body collapse"> <!-- ng-class="{ 'in': $index === 0 }" -->

            <div class="kpi-pane accordion-inner">
                <ul class="item-type">
                    <li ng-repeat="(name, item) in ctrl.serviceKpiPanel.hostStatusMap[host.host].itemStatusMap"
                        ng-click="ctrl.selectServiceKpi(host.host, item.type)"
                        class="status-color bg-{{ item.healthStatusType | lowercase }}"
                        style="color: #fff;"
                        bs-tooltip="'{{ item.type | formatItemType | translateItemType }}'"
                        data-container="body">
                        {{ item.type | formatItemType | uppercase }}
                    </li>
                </ul>
                <div>
                    <div ng-if="host.healthStatusType !== 'GREY'">
                        <p ng-if="ctrl.servicePanel.currentItem!=='ServiceState'" style="margin: 20px 0 0;">{{ ctrl.servicePanel.currentItem | formatItemType | translateItemType }} 重要指标：</p>
                        <p ng-if="ctrl.servicePanel.currentItem=='ServiceState'">
                            <span ng-if="ctrl.servicePanel.currentItemStatus=='GREEN'">服务线程正常运行</span>
                            <span ng-if="ctrl.servicePanel.currentItemStatus!=='GREEN'">服务线程中断</span>
                        </p>
                    </div>
                    <div ng-if="host.healthStatusType === 'GREY'">
                        <p ng-if="ctrl.servicePanel.currentItem=='ServiceState'">
                            <strong>探针没有收集到数据. </strong> (可能原因有: 1. 该服务探针没有 enable, 2. 探针没有正确收集数据)
                        </p>
                    </div>
                    <div ng-show="host.itemStatusMap[ctrl.servicePanel.currentItem].healthStatusType !== 'GREY'" class="kpi-metrics">
                        <div ng-include="'public/app/features/systemoverview/partials/service_kpi_table.html'"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>