<div class="kpi-panel-service">
    
    <div class="list left">
        <cw-loading show="!ctrl.kpiPanel.leftTableBodys.length" duration=6000></cw-loading>
        <table class="table" ng-show="ctrl.kpiPanel.leftTableBodys.length">
            <thead>
                <tr>
                    <th ng-repeat="head in ctrl.kpiPanel.leftTableHeads" translate>{{ head }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.kpiPanel.leftTableBodys"
                    ng-class="{ active: item.name == ctrl.kpiPanel.leftSelected }"
                    ng-click="ctrl.leftClickHandler(item, ctrl.kpiPanel.type)">
                    <td class="text-overflow">
                        <div class="status-{{ item.status | lowercase }}">{{ item.name }}</div>
                    </td>
                    <td class="">
                        <button type="button" 
                            class="btn-item system-status status-color bg-{{ item.status | lowercase }}">
                            {{ item.data }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="panel right">
        <div class="panel-wrapper">
            <div class="panel-header">
                <ul>
                    <li><h4> <span translate="i18n_hostname"></span>：{{ ctrl.kpiPanel.rightPanelHead.name }}</h4></li>
                    <li class="pull-right">
                        <!-- <a href="/service_topology?tabId=1&id={{ ctrl.servicePanel.currentService.id }}&name={{ ctrl.servicePanel.currentService.name }}"
                           bs-tooltip="'查看资源详情'"
                           ng-show="ctrl.servicePanel.currentService.icon">
                            <i class="{{ ctrl.servicePanel.currentService.icon }}"></i>
                        </a> -->
                        <!-- <a href="/host_topology?tabId=1&id={{ctrl.hostPanel.currentHost.id}}&name={{ctrl.hostPanel.currentHost.name}}"
                           bs-tooltip="'查看机器详情'"
                           ng-if="ctrl.hostPanel.currentHost.id">
                            <i class="fa fa-desktop"></i>
                        </a> -->
                    </li>
                </ul>
            </div>
            <div class="panel-content">
                <div class="kpi-overview">
                    <div class="section"
                         ng-repeat="item in ctrl.kpiPanel.rightItemTypes"
                         ng-class="{ active: item.id == ctrl.kpiPanel.rightSelected }"
                         ng-click="ctrl.selectKpi(item.id)"
                         ng-show="item.show">
                        <div class="section-head">
                            <h6 translate>{{ item.name }}</h6>
                        </div>
                        <div class="section-body">
                            <h4 class="status-color status-{{ item.status | lowercase }}">{{ item.data }}</h4>
                        </div>
                    </div>
                </div>
                <div class="kpi-detail">
                    <div ng-if="ctrl.kpiPanel.rightSelected == 'ServiceState'" class="kpi-detail-table">
                        <div ng-switch="ctrl.kpiPanel.rightItemTypes[ctrl.kpiPanel.rightSelected].status" class="service-state-text">
                            <div ng-switch-when="GREEN" translate="page_probe_service_yes"></div>
                            <div ng-switch-when="YELLOW">
                                <em translate="page_probe_service_no"></em>
                                <a class="btn btn-outline-primary btn-small" href="/service_topology?tabId=1&id={{ctrl.hostPanel.currentHost.id}}&name={{ctrl.hostPanel.currentHost.name}}" translate="page_anomaly_detail"></a>
                            </div>
                            <div ng-switch-when="RED">
                                <em translate="page_probe_service_no"></em>
                                <a class="btn btn-outline-primary btn-small" href="/service_topology?tabId=1&id={{ctrl.hostPanel.currentHost.id}}&name={{ctrl.hostPanel.currentHost.name}}" translate="page_anomaly_detail"></a>
                            </div>
                            <div ng-switch-when="GREY">
                                <strong translate="page_probe_no_content"></strong>
                                <a class="btn btn-outline-primary btn-small" href="/service_topology?tabId=1&id={{ctrl.hostPanel.currentHost.id}}&name={{ctrl.hostPanel.currentHost.name}}" translate="page_anomaly_detail"></a>
                            </div>
                        </div>
                    </div>
                    <div ng-if="ctrl.kpiPanel.rightSelected != 'ServiceState'" class="kpi-detail-table">
                        <div ng-if="ctrl.kpiPanel.rightItemTypes[ctrl.kpiPanel.rightSelected].status != 'GREY'">
                            <div ng-include="'public/app/features/systemoverview/partials/service_kpi_table.html'"></div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>