<navbar title="系统总览" icon="fa fa-fw fa-home"></navbar>

<div class="page-container summary-page" ng-init="ctrl.init()">

    <div class="overview-list" style="box-sizing:border-box;">
        <div class="main-view-container">

            <div class="summary-panel view-panel">
                <div class="health-panel panels-wrapper">
                    <h3 class="spec-tip">
                        <a href="javascript:;" ng-click="ctrl.showModal(0)" bs-tooltip="'点击查看历史指数'">健康指数趋势</a>
                        <tip placement="bottom">
                            优：系统运行状况良好<br />
                            良：存在报警或异常指标，不影响运行<br />
                            中：存在严重报警或异常，会影响运行<br />
                            差：不能正常运行，请及时处理
                        </tip>
                    </h3>
                    <div style="position: absolute; bottom: 50%; left: 50%; transform: translate(-50%, 80%); font-weight: bold;">
                        <span style="font-size: 38px;">{{ ctrl.healthPanel.score }}</span>
                        <span style="font-size: 20px;">{{ ctrl.healthPanel.level }}</span>
                    </div>
                    <div class="health-pie"></div>
                </div>
                <div class="health-panel">
                    <!-- Feichi: Ignore -->
                    <!-- <div class="alert-panel">
                        <div class="panels-wrapper">
                            <h3 ng-click="ctrl.showModal(1)" style="cursor: pointer;" bs-tooltip="'点击查看历史报警'">
                                报警情况
                            </h3>
                            <div>
                                <li ng-repeat="alert in ctrl.alertPanel.status" ng-if="alert.count!=0">
                                    <a href="/host_topology?tabId=2">{{ alert.text }} <span class="status-color status-{{ alert.health }}">{{ alert.count }}</span></a>
                                </li>
                            </div>
                        </div>
                        <div class="panels-wrapper">
                            <h3>系统资源高消耗</h3>
                            <div>
                                <li ng-repeat="except in ctrl.exceptionPanel.status"
                                    data-placement="center" bs-modal="modal" data-template-url="public/app/features/systemoverview/partials/system_anomaly_modal.html">
                                    <a href="javascript:;">{{ except.text }} <strong class=""> &gt;{{ except.threadhold }}</strong></a>
                                    <a href="javascript:;">进程: <span class="status-color status-{{ except.health }}">{{ except.count }}</span></a>
                                </li>
                            </div>
                        </div>
                    </div> -->
                    <div class="anomaly-panel panels-wrapper" style="height: 50%; border-top: none;">
                        <h3 ng-click="ctrl.showModal(1)" style="cursor: pointer;" bs-tooltip="'点击查看历史报警'">
                            <a href="javascript:;">报警情况</a>
                        </h3>
                        <div>
                            <li ng-repeat="alert in ctrl.alertPanel.status" ng-if="alert.count!=0">
                                <a href="/alerts/status">{{ alert.text }} <span class="status-color status-{{ alert.health }}">{{ alert.count }}</span></a>
                            </li>
                        </div>
                    </div>
                    <div class="anomaly-panel panels-wrapper">
                        <h3 ng-click="ctrl.showModal(2)" style="cursor: pointer;" bs-tooltip="'点击查看历史情况'">
                            <a href="javascript:;">智能检测异常指标</a>
                        </h3>
                        <div>
                            <li ng-repeat="anomaly in ctrl.anomalyPanel.status" ng-if="anomaly.count!=-1">
                                <a href="/anomaly">{{ anomaly.text }} <span class="status-color status-{{ anomaly.health }}">{{ anomaly.count }}</span></a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>


            <div class="slide-show">
                <!-- Feichi: Ignore -->
                <!-- <span class="overview-switch">
                    <span class="switch-text" ng-click="ctrl.switch()">
                        <span class="item" ng-class="{ 'on': ctrl.switchEnabled }">
                            <i class="fa fa-check"></i>服务拓扑
                        </span>
                        <span>
                            <i class="fa fa-exchange"></i>
                        </span>
                        <span class="item" ng-class="{ 'on': !ctrl.switchEnabled }">
                            <i class="fa fa-check"></i>机器拓扑
                        </span>
                    </span>
                </span> -->
                <span class="overview-switch">
                    <span class="switch-text">
                        <span class="item on">
                            <i class="fa fa-check"></i>服务拓扑
                        </span>
                    </span>
                </span>

                <div class="slide" ng-class="{ 'checked': ctrl.switchEnabled }">
                    <div class="detail-panel view-panel">
                        <div class="service-panel panels-wrapper">
                            <div class="mention center">
                                <span><em class="bg-green"></em>正常</span>
                                <span><em class="bg-yellow"></em>警告</span>
                                <span><em class="bg-red"></em>严重</span>
                                <span><em class="bg-grey"></em>没有运行</span>
                            </div>
                        </div>
                        <div class="service-dependency jtk-container">
                            <script type="jtk" id="tmplNode">
                                <div>
                                    <div class="name">
                                        <i class="${icon} service-icon bg-${status}"></i>
                                        <span class="status-${status}">${name}</span>
                                    </div>
                                </div>
                            </script>
                    
                            <div class="jtk-main">
                                <div class="jtk-demo-canvas jtk-canvas canvas-wide">
                                </div>
                            </div>
                        </div>
        
                        <div class="kpi-panel panels-wrapper">
                            <h3>
                                <a href="javascript:;">服务KPI</a>
                            </h3>
                            <em ng-if="!ctrl.servicePanel.currentService.name">点击上图某个服务，查看服务详情</em>
                            <div class="mention"></div>
                        </div>
                        <div class="" ng-if="ctrl.servicePanel.currentService.name">
                            <div ng-include="'public/app/features/systemoverview/partials/system_service_host_panel.html'"></div>
                        </div>
                    </div>
                </div>

                <!-- Feichi: Ignore -->
                <!-- <div class="slide" ng-class="{ 'checked': !ctrl.switchEnabled }">
                    <div class="detail-panel view-panel">
                        <div class="host-panel panels-wrapper">
                            <div class="mention center">
                                <span><em class="bg-green"></em>正常</span>
                                <span><em class="bg-yellow"></em>警告</span>
                                <span><em class="bg-red"></em>严重</span>
                                <span><em class="bg-grey"></em>没有运行</span>
                            </div>
                        </div>
                        <div class="host-topology topology-graph">
                            <topology-graph params="ctrl.topologyGraphParams"></topology-graph>
                        </div>
        
                        <div class="kpi-panel panels-wrapper">
                            <h3>
                                <a href="javascript:;">机器KPI</a>
                            </h3>
                            <em ng-if="!ctrl.hostPanel.currentHost.name">点击上图某个机器，查看机器详情</em>
                            <div class="mention"></div>
                        </div>
                        <div class="" ng-if="ctrl.hostPanel.currentHost.name">
                            <div ng-include="'public/app/features/systemoverview/partials/system_service_host_panel.html'"></div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>