<navbar text="系统总览" icon="fa fa-fw fa-home"></navbar>

<div class="page-container summary-page" ng-init="ctrl.init()">

    <div class="overview-list" style="box-sizing:border-box;">
        <div class="main-view-container">

            <div class="summary-panel view-panel">
                <div class="health-panel panels-wrapper">
                    <h3 class="spec-tip">
                        <a href="javascript:;" ng-click="ctrl.showModal(0)" bs-tooltip="'点击查看历史指数'" translate="page_overview_panel_health_title"></a>
                        <tip placement="bottom">
                            优：系统运行状况良好<br />
                            良：存在报警或异常指标，不影响运行<br />
                            中：存在严重报警或异常，会影响运行<br />
                            差：不能正常运行，请及时处理
                        </tip>
                    </h3>
                    <div style="position: absolute; bottom: 50%; left: 50%; transform: translate(-50%, 80%); font-weight: bold;">
                        <span style="font-size: 38px;">{{ ctrl.healthPanel.score }}</span>
                        <span style="font-size: 20px;">{{ ctrl.healthPanel.level }}</span>
                    </div>
                    <div class="health-pie"></div>
                </div>
                <div class="health-panel">
                    <div class="alert-panel">
                        <div class="panels-wrapper">
                            <h3>
                                <a href="javascript:;" ng-click="ctrl.showModal(1)" bs-tooltip="'点击查看历史报警'" translate="page_overview_panel_alert_title"></a>
                            </h3>
                            <div>
                                <li ng-repeat="alert in ctrl.alertPanel.status" ng-if="alert.count!=0">
                                    <a href="/host_topology?tabId=2"> <em translate="{{ alert.text }}"></em>: <span class="status-color status-{{ alert.health }}">{{ alert.count }}</span></a>
                                </li>
                            </div>
                        </div>
                        <div class="panels-wrapper">
                            <h3>
                                <a href="javascript:;" translate="page_overview_panel_topn_title"></a>
                            </h3>
                            <div>
                                <li ng-repeat="except in ctrl.exceptionPanel.status"
                                    data-placement="center" bs-modal="modal" data-template-url="public/app/features/systemoverview/partials/system_anomaly_modal.html">
                                    <a href="javascript:;">{{ except.text }} <strong class=""> &gt;{{ except.threadhold }}</strong></a>
                                    <a href="javascript:;"><em style="font-style: normal;" translate="i18n_process"></em>: <span class="status-color status-{{ except.health }}">{{ except.count }}</span></a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="anomaly-panel panels-wrapper">
                        <h3>
                            <a href="javascript:;" ng-click="ctrl.showModal(2)" bs-tooltip="'点击查看历史情况'" translate="page_overview_panel_anomaly_title"></a>
                        </h3>
                        <div>
                            <li ng-repeat="anomaly in ctrl.anomalyPanel.status" ng-if="anomaly.count!=-1">
                                <a href="/anomaly"><em translate="{{ anomaly.text }}"></em>: <span class="status-color status-{{ anomaly.health }}">{{ anomaly.count }}</span></a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>


            <div class="slide-show">
                <span class="overview-switch">
                    <span class="switch-text" ng-click="ctrl.switch()">
                        <span class="item" ng-class="{ 'on': ctrl.switchEnabled }">
                            <i class="fa fa-check"></i>
                            <span translate="page_overview_panel_service_title"></span>
                        </span>
                        <span>
                            <i class="fa fa-exchange"></i>
                        </span>
                        <span class="item" ng-class="{ 'on': !ctrl.switchEnabled }">
                            <i class="fa fa-check"></i>
                            <span translate="page_overview_panel_host_title"></span>
                        </span>
                    </span>
                </span>

                <div class="slide" ng-class="{ 'checked': ctrl.switchEnabled }">
                    <div class="detail-panel view-panel">
                        <div class="service-panel panels-wrapper">
                            <div class="mention center">
                                <em class="bg-green"></em><span translate="i18n_normal"></span>
                                <em class="bg-yellow"></em><span translate="i18n_warning"></span>
                                <em class="bg-red"></em><span translate="i18n_critical"></span>
                                <em class="bg-grey"></em><span span translate="i18n_not_running"></span>
                            </div>
                        </div>
                        <div class="service-dependency jtk-container">
                            <script type="jtk" id="tmplNode">
                                <div>
                                    <div class="name">
                                        <i class="${icon} service-icon bg-${status}"></i>
                                        <span class="status-${status}">${name}</span>
                                    </div>
                                </div>
                            </script>
                    
                            <div class="jtk-main">
                                <div class="jtk-demo-canvas jtk-canvas canvas-wide">
                                </div>
                            </div>
                        </div>
        
                        <div class="kpi-panel panels-wrapper">
                            <h3>
                                <a href="javascript:;" translate="page_overview_kpi_service"></a>
                            </h3>
                            <em ng-if="!ctrl.servicePanel.currentService.name" translate="page_overview_tooltip_service"></em>
                            <div class="mention"></div>
                        </div>
                        <div class="" ng-if="ctrl.servicePanel.currentService.name">
                            <div ng-include="'public/app/features/systemoverview/partials/system_service_host_panel.html'"></div>
                        </div>
                    </div>
                </div>

                <div class="slide" ng-class="{ 'checked': !ctrl.switchEnabled }">
                    <div class="detail-panel view-panel">
                        <div class="host-panel panels-wrapper">
                            <div class="mention center">
                                <em class="bg-green"></em><span translate="i18n_normal"></span>
                                <em class="bg-yellow"></em><span translate="i18n_warning"></span>
                                <em class="bg-red"></em><span translate="i18n_critical"></span>
                                <em class="bg-grey"></em><span span translate="i18n_not_running"></span>
                            </div>
                        </div>
                        <div class="host-topology topology-graph">
                            <topology-graph params="ctrl.topologyGraphParams"></topology-graph>
                        </div>
        
                        <div class="kpi-panel panels-wrapper">
                            <h3>
                                <a href="javascript:;" translate="page_overview_kpi_host"></a>
                            </h3>
                            <em ng-if="!ctrl.hostPanel.currentHost.name" translate="page_overview_tooltip_host"></em>
                            <div class="mention"></div>
                        </div>
                        <div class="" ng-if="ctrl.hostPanel.currentHost.name">
                            <div ng-include="'public/app/features/systemoverview/partials/system_service_host_panel.html'"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>