<div class="kpi-panel-service">
    
    <div class="list left">
        <cw-loading show="!ctrl.kpiPanel.leftTableBodys.length" duration=6000></cw-loading>
        <table class="table" ng-show="ctrl.kpiPanel.leftTableBodys.length">
            <thead>
                <tr>
                    <th ng-repeat="head in ctrl.kpiPanel.leftTableHeads">{{ head }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ctrl.kpiPanel.leftTableBodys"
                    ng-class="{ active: item.name == ctrl.kpiPanel.leftSelected }"
                    ng-click="ctrl.leftClickHandler(item, ctrl.kpiPanel.type)">
                    <td class="text-overflow">
                        <div>{{ item.name }}</div>
                    </td>
                    <td class="">
                        <button type="button" 
                            class="btn-item system-status status-color bg-{{ item.status | lowercase }}">
                            {{ item.data }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="panel right">
        <div class="panel-wrapper">
            <div class="panel-header">
                <ul>
                    <li><h4>实例名：{{ ctrl.kpiPanel.rightPanelHead.name }}</h4></li>
                    <!-- <li class="pull-right"><button class="btn btn-primary btn-small" ng-click="ctrl.toHostTopology(ctrl.kpiPanel.rightPanelHead)">查看详情</button></li> -->
                </ul>
            </div>
            <div class="panel-content">
                <div class="kpi-overview">
                    <div class="section"
                         ng-repeat="item in ctrl.kpiPanel.rightItemTypes"
                         ng-class="{ active: item.id == ctrl.kpiPanel.rightSelected }"
                         ng-click="ctrl.selectKpi(item.id)"
                         ng-show="item.show">
                        <div class="section-head">
                            <h6>{{ item.name }}</h6>
                        </div>
                        <div class="section-body">
                            <h4 class="status-color status-{{ item.status | lowercase }}">{{ item.data }}</h4>
                        </div>
                    </div>
                </div>
                <div class="kpi-detail">
                    <div ng-if="ctrl.kpiPanel.rightSelected == 'ServiceState'" class="kpi-detail-table">
                        <div ng-switch="ctrl.kpiPanel.rightItemTypes[ctrl.kpiPanel.rightSelected].status" class="service-state-text">
                            <div ng-switch-when="GREEN">服务进程正常运行</div>
                            <div ng-switch-when="YELLOW">服务没有正常工作 (可能原因有: 1. 进程中断, 2. 探针没有正确收集数据)</div>
                            <div ng-switch-when="RED">服务没有正常工作 (可能原因有: 1. 进程中断, 2. 探针没有正确收集数据)</div>
                            <div ng-switch-when="GREY">
                                <strong>探针没有收集到数据. </strong> (可能原因有: 1. 该服务进程中断, 2. 该服务工作不正常导致探针收集不到数据, 3. 该服务探针没有启动)
                            </div>
                        </div>
                    </div>
                    <div ng-if="ctrl.kpiPanel.rightSelected != 'ServiceState'" class="kpi-detail-table">
                        <div ng-if="ctrl.kpiPanel.rightItemTypes[ctrl.kpiPanel.rightSelected].status != 'GREY'">
                            <div ng-include="'public/app/features/systemoverview/partials/service_kpi_table.html'"></div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>