<div class="accordion host-list" id="accordion1">
    <cw-loading show="!ctrl.hostPanel.host.length" duration=6000></cw-loading>
    <div class="accordion-group host-item" ng-repeat="host in ctrl.hostPanel.host">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#host{{$index}}" ng-click="ctrl.selectHost($index, host.host, 'host');">
                <ul>
                    <li class="pull-left">
                        <i class="fa btn btn-primary" ng-class="{true: 'fa-minus', false: 'fa-plus'}[$index == ctrl.selected1]"></i>
                    </li>
                    <li style="padding-left: 5%; text-align: left;" class="text-overflow">{{ host.host }}</li>
                    <li>{{ host.defaultIp || '-' }}</li>
                    <li>{{ host.status || '-' }}</li>
                    <li>{{ host.cpu || '-' }}</li>
                    <li>{{ host.mem || '-' }}</li>
                    <li>{{ host.disk || '-' }}</li>
                    <li>
                        <i class="fa fa-search" ng-click="ctrl.toHostTopology(host.id, host.host)"></i>
                    </li>
                </ul>
            </a>
        </div>

        <div id="host{{$index}}" class="accordion-body collapse">

            <div class="kpi-pane accordion-inner">
                <ul class="item-type">
                    <li ng-repeat="(name, item) in ctrl.hostKpiPanel.itemStatusMap"
                        ng-click="ctrl.selectHostKpi(host.host, item.type)"
                        class="status-color bg-{{ item.healthStatusType | lowercase }}"
                        style="color: #fff;"
                        data-container="body">
                        {{ item.type | formatItemType | translateItemType }}
                    </li>
                </ul>
                <div>
                    <div ng-if="host.healthStatusType !== 'GREY'">
                        {{ ctrl.hostPanel.currentItem | formatItemType | translateItemType }}的重要指标：
                    </div>
                    <div ng-show="host.itemStatusMap[ctrl.hostPanel.currentItem].healthStatusType !== 'GREY'" class="kpi-metrics">
                        <div ng-include="'public/app/features/systemoverview/partials/service_kpi_table.html'"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>