<div class="grafana-list-item" style="margin-bottom: 40px; min-width: auto; padding: 10px;">
  <ul class="tight-form-list">
    <li class="tight-form-item" translate="i18n_search_history">
    </li>
    <li>
      <select style="width: 110px" 
        ng-model="ctrl.alertTimeSelected" 
        ng-options="item.value for item in ctrl.alertHistoryRange"
        ng-change="ctrl.getAlertHistory(ctrl.alertTimeSelected)"
        >
      </select>
    </li>
    <li style="padding-left: 20px">
      <input type="text" class="input-large" required placeholder="{{ ctrl.$translate.i18n.i18n_input_search }}" ng-model="ctrl.alertSearch" />
    </li>
    <li>
      <span class="tight-form-btn btn btn-success btn-small" style="margin: 3px 20px;">
        <i class="fa fa-fw fa-search"></i>
        <span translate="i18n_search"></span>
      </span>
    </li>
    <li class="pull-right">
      <span style="margin: 6px; font-size: 1.25rem; display: block;" ng-click="ctrl.handleRCAFeedback()">
        <i class="fa fa-pencil-square-o" bs-tooltip="ctrl.$translate.i18n.page_logs_add_source"></i>
      </span>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>

<div ng-hide="ctrl.alertRows.length || ctrl.alertHistory.length">
  <em translate="page_alert_none"></em>
  <cw-loading show="!ctrl.alertRows.length" duration=6000></cw-loading>
</div>

<div ng-show="ctrl.alertRows.length && ctrl.alertStatusShow">
  <p>
    (<span style="font-size: 12px" translate="page_alert_real_time"></span>)
    <span translate="page_alert_total"></span>
    <span>: {{ ctrl.alertRows.length }} &nbsp;&nbsp;</span>
    <span translate="page_alert_critical"></span>
    <span>: {{ ctrl.alertCriticalCount }} &nbsp;&nbsp;</span>
    <span translate="page_alert_warning"></span>
    <span>: {{ ctrl.alertWarningCount }}</span>
  </p>
  <div class="">
    <table class="grafana-options-table table-block">
      <thead>
        <th translate="page_alert_name"></th>
        <th translate="page_alert_content"></th>
        <th translate="page_alert_host"></th>
        <th translate="page_alert_value_threshold"></th>
        <th translate="page_alert_current"></th>
        <th translate="page_alert_level"></th>
        <th translate="page_alert_time"></th>
        <th><span translate="page_alert_again"></span><tip>{{ ctrl.$translate.i18n.page_alert_tip1 }}</tip></th>
        <th translate="i18n_operating"></th>
      </thead>
      <tbody>
        <tr ng-repeat="alert in ctrl.alertRows | filter: ctrl.alertSearch">
          <td>
            <i class="fa fa-bell" ng-class="{'CRITICAL':'system-legend-danger','WARNING':'system-legend-warning'}[alert.status.level]"></i> &nbsp;
            {{ alert.definition.name }}
          </td>
          <td style="position: relative">
            <div ng-if="alert.type === 'MUTI_ALERT'">
                {{ _.getMetricName(alert.definition.alertDetails.alertMutiQuery.metricQueries[0].metric) }} <em translate="i18n_etc"></em>
                <info-popover mode="right-absolute">
                  <div ng-repeat="metric in alert.definition.alertDetails.alertMutiQuery.metricQueries">{{ metric.id }} : {{ metric.metric }}</div>
                  <div><em translate="page_alert_cal_method"></em>: {{ alert.definition.alertDetails.alertMutiQuery.expression.split(';')[1] }}</div>
                </info-popover>
            </div>
            <div ng-if="alert.type !== 'MUTI_ALERT'">
                {{ _.getMetricName(alert.metric) }}
            </div>
          </td>
          <td>{{ alert.status.monitoredEntity }}</td>
          <td><strong>{{ alert.status.triggeredValue }}</strong> / {{ alert.definition.alertDetails.threshold }}</td>
          <td>{{ alert.curAlertValue }}</td>
          <td>{{ _.translateAlertLevel(alert.status.level) | translate }}</td>
          <td>{{ _.transformMillionTime(alert.status.levelChangedTime) }}</td>
          <td>{{ _.timeFrom(alert.status.levelChangedTime, alert.status.snoozeMinutes, 'm') }}</td>
          <td>
              <button class="btn btn-outline-primary btn-small" ng-click="ctrl.associateAnalysis(alert.status.monitoredEntity, alert.metric, alert.status.levelChangedTime, alert.definition, alert.type)" translate="page_alert_diagnostic_analysis"></button>
              <button class="btn btn-outline-primary btn-small" ng-click="ctrl.handleSnooze(alert)" translate="page_alert_delay"></button>
              <button class="btn btn-outline-primary btn-small" ng-click="ctrl.handleAlert(alert)" translate="page_alert_handle"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div ng-hide="ctrl.alertStatusShow">
  <div class="">
    <table class="table">
      <thead>
        <th translate="page_alert_name"></th>
        <th translate="page_alert_content"></th>
        <th translate="page_alert_host"></th>
        <th translate="page_alert_value_threshold"></th>
        <th translate="page_alert_level"></th>
        <th translate="page_alert_time"></th>
        <th translate="page_alert_handler"></th>
        <th translate="page_alert_approach"></th>
        <th translate="i18n_operating"></th>
      </thead>
      <tbody>
        <tr ng-repeat="alert in ctrl.alertHistory | orderBy:closedTimeInMillis:true | filter: ctrl.alertSearch">
          <td>
            <i class="fa fa-bell" ng-class="{'CRITICAL':'system-legend-danger','WARNING':'system-legend-warning'}[alert.status.level]"></i> &nbsp;
            {{ alert.definition.name }}
          </td>
          <td style="position: relative;">
            <div ng-if="alert.type === 'MUTI_ALERT'">
                {{ _.getMetricName(alert.definition.alertDetails.alertMutiQuery.metricQueries[0].metric) }} <em translate="i18n_etc"></em>
                <info-popover mode="right-absolute">
                  <div ng-repeat="metric in alert.definition.alertDetails.alertMutiQuery.metricQueries">{{ metric.id }} : {{ metric.metric }}</div>
                  <div><em translate="page_alert_cal_method"></em>: {{ alert.definition.alertDetails.alertMutiQuery.expression.split(';')[1] }}</div>
                </info-popover>
            </div>
            <div ng-if="alert.type !== 'MUTI_ALERT'">
                {{ _.getMetricName(alert.metric) }}
            </div>
          </td>
          <td>{{ alert.history.host }}</td>
          <td><strong>{{ alert.history.triggeredValue | limitTo:5 }}</strong> / {{ alert.definition.alertDetails[ctrl.getAlertLevel(alert)].threshold }}</td>
          <td>{{ _.translateAlertLevel(alert.history.level) | translate }}</td>
          <td>{{ alert.history.createdTimeInMillis | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ ctrl.getCloseOp(alert) }}</td>
          <td>{{ alert.history.reason }}</td>
          <td>
            <button class="btn btn-outline-primary btn-small"
              ng-click="ctrl.associateAnalysis(alert.history.host, alert.metric, alert.history.createdTimeInMillis, alert.definition, alert.type)">
              <i class="fa fa-signal"></i>
              <span translate="page_alert_diagnostic_analysis"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
