<div class="grafana-list-item" style="margin-bottom: 40px; min-width: auto; padding: 10px;">
  <ul class="tight-form-list">
    <li class="tight-form-item">
      查询历史
    </li>
    <li>
      <select style="width: 110px" 
        ng-model="ctrl.alertTimeSelected" 
        ng-options="item.value for item in ctrl.alertHistoryRange"
        ng-change="ctrl.getAlertHistory(ctrl.alertTimeSelected)"
        >
      </select>
    </li>
    <li style="padding-left: 20px">
      <input type="text" class="input-large" required placeholder="请输入需要查询内容" ng-model="ctrl.alertSearch"/>
    </li>
    <li>
      <span class="tight-form-btn btn btn-success btn-small" style="margin: 3px 20px;">
        <i class="fa fa-fw fa-search"></i>查询
      </span>
    </li>
    <!-- Feichi: Modify -->
    <!-- <li class="pull-right">
      <span style="margin: 6px; font-size: 1.25rem; display: block;" ng-click="ctrl.handleRCAFeedback()">
        <i class="fa fa-pencil-square-o" bs-tooltip="'添加故障溯源关系'"></i>
      </span>
    </li> -->
  </ul>
  <div class="clearfix"></div>
</div>

<div ng-hide="ctrl.alertRows.length || ctrl.alertHistory.length">
  <em>暂没有任何报警数据</em>
  <cw-loading show="!ctrl.alertRows.length" duration=6000></cw-loading>
</div>

<div ng-show="ctrl.alertRows.length && ctrl.alertStatusShow">
  <p>
    <span style="font-size: 12px">（实时）</span>
    <span>触发的报警规则总数：{{ ctrl.alertRows.length }}</span>
    <span>严重报警数：{{ ctrl.alertCriticalCount }}</span>
    <span>警告报警数：{{ ctrl.alertWarningCount }}</span>
  </p>
  <div class="">
    <table class="grafana-options-table table-block">
      <thead>
        <th>报警名称</th>
        <th>报警内容</th>
        <th>实例名称</th>
        <th>报警值/阈值</th>
        <th>当前值</th>
        <th>报警级别</th>
        <th>报警时间</th>
        <th>再次报警时间<tip>如果报警没有解决, 将重复报警</tip></th>
        <th>操作</th>
      </thead>
      <tbody>
        <tr ng-repeat="alert in ctrl.alertRows | filter: ctrl.alertSearch">
          <td>
            <i class="fa fa-bell" ng-class="{'CRITICAL':'system-legend-danger','WARNING':'system-legend-warning'}[alert.status.level]"></i> &nbsp;
            {{ alert.definition.name }}
          </td>
          <td style="position: relative">
            <div ng-if="alert.type === 'MUTI_ALERT'">
                {{ _.getMetricName(alert.definition.alertDetails.alertMutiQuery.metricQueries[0].metric) }} 等
                <info-popover mode="right-absolute">
                  <div ng-repeat="metric in alert.definition.alertDetails.alertMutiQuery.metricQueries">{{ metric.id }} : {{ metric.metric }}</div>
                  <div>计算方式：{{ alert.definition.alertDetails.alertMutiQuery.expression.split(';')[1] }}</div>
                </info-popover>
            </div>
            <div ng-if="alert.type !== 'MUTI_ALERT'">
                {{ _.getMetricName(alert.metric) }}
            </div>
          </td>
          <td>{{ alert.status.monitoredEntity }}</td>
          <td><strong>{{ alert.status.triggeredValue }}</strong> / {{ alert.definition.alertDetails.threshold }}</td>
          <td>{{ alert.curAlertValue }}</td>
          <td>{{ _.translateAlertLevel(alert.status.level) }}</td>
          <td>{{ _.transformMillionTime(alert.status.levelChangedTime) }}</td>
          <td>{{ _.timeFrom(alert.status.levelChangedTime, alert.status.snoozeMinutes, 'm') }}</td>
          <td>
              <button class="btn btn-outline-primary btn-small" ng-click="ctrl.associateAnalysis(alert.status.monitoredEntity, alert.metric, alert.status.levelChangedTime, alert.definition, alert.type)">诊断分析</button>
              <button class="btn btn-outline-primary btn-small" ng-click="ctrl.handleSnooze(alert)">延迟报警</button>
              <button class="btn btn-outline-primary btn-small" ng-click="ctrl.handleAlert(alert)">处理警告</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div ng-hide="ctrl.alertStatusShow">
  <div class="">
    <table class="table">
      <thead>
        <th>报警名称</th>
        <th>报警内容</th>
        <th>实例名称</th>
        <th>报警值/阈值</th>
        <th>报警级别</th>
        <th>报警时间</th>
        <th>处理人员</th>
        <th>处理方法</th>
        <th>操作</th>
      </thead>
      <tbody>
        <tr ng-repeat="alert in ctrl.alertHistory | orderBy:closedTimeInMillis:true | filter: ctrl.alertSearch">
          <td>
            <i class="fa fa-bell" ng-class="{'CRITICAL':'system-legend-danger','WARNING':'system-legend-warning'}[alert.status.level]"></i> &nbsp;
            {{ alert.definition.name }}
          </td>
          <td style="position: relative;">
            <div ng-if="alert.type === 'MUTI_ALERT'">
                {{ _.getMetricName(alert.definition.alertDetails.alertMutiQuery.metricQueries[0].metric) }} 等
                <info-popover mode="right-absolute">
                  <div ng-repeat="metric in alert.definition.alertDetails.alertMutiQuery.metricQueries">{{ metric.id }} : {{ metric.metric }}</div>
                  <div>计算方式：{{ alert.definition.alertDetails.alertMutiQuery.expression.split(';')[1] }}</div>
                </info-popover>
            </div>
            <div ng-if="alert.type !== 'MUTI_ALERT'">
                {{ _.getMetricName(alert.metric) }}
            </div>
          </td>
          <td>{{ alert.history.host }}</td>
          <td><strong>{{ alert.history.triggeredValue | limitTo:5 }}</strong> / {{ alert.definition.alertDetails[ctrl.getAlertLevel(alert)].threshold }}</td>
          <td>{{ _.translateAlertLevel(alert.history.level) }}</td>
          <td>{{ alert.history.createdTimeInMillis | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ ctrl.getCloseOp(alert) }}</td>
          <td>{{ alert.history.reason }}</td>
          <td>
            <button class="btn btn-outline-primary btn-small"
              ng-click="ctrl.associateAnalysis(alert.history.host, alert.metric, alert.history.createdTimeInMillis, alert.definition, alert.type)">
              <i class="fa fa-signal"></i> 诊断分析
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
