<ul class="cmdb-ul">
  <li>
      <h4 translate="i18n_basic_info"></h4>
      <ul class="cmdb-detail">
          <li><span>ID</span><span>{{detail.id}}</span></li>
          <li><span translate="i18n_hostname"></span><span>{{detail.hostname}}</span></li>
          <li><span translate="page_topn_create_time"></span><span>{{detail.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</span></li>
          <li><span translate="page_host_domain"></span><span>{{detail.domain}}</span></li>
          <li><span>FQDN</span><span>{{detail.fqdn}}</span></li>
      </ul>
  </li>
  <li>
      <h4 translate="page_host_hardware"></h4>
      <ul class="cmdb-detail">
          <li><span translate="page_host_systemVendor"></span><span>{{detail.systemVendor}}</span></li>
          <li><span translate="page_host_productName"></span><span>{{detail.productName}}</span></li>
          <li><span translate="page_host_productVersion"></span><span>{{detail.productVersion}}</span></li>
          <li><span translate="page_host_productSerial"></span><span>{{detail.productSerial}}</span></li>
          <li><span>UUID</span><span>{{detail.productUuid}}</span></li>
          <li>
              <span translate="page_host_totalMemory"></span><span>{{detail.totalMemory}} <span ng-if="detail.totalMemory!== '暂无信息'">MB</span></span>
              <table class="table" ng-if="detail.memory">
                  <tr>
                      <th translate="page_host_systemVendor"></th>
                      <th translate="page_host_productVersion"></th>
                      <th translate="page_host_size"></th>
                  </tr>
                  <tr ng-repeat="memory in detail.memory">
                      <td>{{memory.vendor}}</td>
                      <td>{{memory.model}}</td>
                      <td>{{memory.size}} <span ng-if="memory.size !== '暂无信息'">MB</span></td>
                  </tr>
              </table>
          </li>
          <li><span translate="page_host_virtual_machine"></span><span>{{detail.isVirtual}}</span></li>
          <li><span translate="page_host_architecture"></span><span>{{detail.architecture}}</span></li>
          <li><span>CPU</span><span ng-if="_.isEmpty(cpuCount)">暂无信息</span>
              <table class="table" ng-if="!_.isEmpty(cpuCount)">
                  <tr>
                      <th translate="page_host_CPU"></th>
                      <th translate="page_host_count"></th>
                  </tr>
                  <tr ng-repeat="(cpu, num) in cpuCount">
                      <td>{{cpu}}</td>
                      <td>{{num}}</td>
                  </tr>
              </table>
          </li>
      </ul>
  </li>
  <li ng-if="detail.devices">
      <h4 translate="page_host_devices"></h4>
      <ul class="cmdb-detail">
          <li>
              <table class="table">
                  <tr>
                      <th translate="page_host_systemVendor"></th>
                      <th translate="page_host_productVersion"></th>
                      <th translate="page_host_size"></th>
                  </tr>
                  <tr ng-repeat="device in detail.devices">
                      <td>{{device.vendor}}</td>
                      <td>{{device.model}}</td>
                      <td>{{device.size}}</td>
                  </tr>
              </table>
          </li>
      </ul>
  </li>
  <li>
      <h4 translate="i18n_os"></h4>
      <ul class="cmdb-detail">
          <li><span translate="i18n_name"></span><span>{{detail.osName}}</span></li>
          <li><span translate="page_host_osFamily"></span><span>{{detail.osFamily}}</span></li>
          <li><span translate="page_host_osVersion"></span><span>{{detail.osVersion}}</span></li>
      </ul>
  </li>
  <li ng-if="detail.interfaces">
      <h4 translate="page_host_interfaces"></h4>
      <ul class="cmdb-detail">
          <li>
              <table class="table">
                  <tr>
                      <th translate="i18n_name"></th>
                      <th>IP</th>
                      <th translate="page_host_mac"></th>
                      <th translate="page_host_speed"></th>
                  </tr>
                  <tr ng-repeat="interface in detail.interfaces">
                      <td>{{interface.name}}</td>
                      <td>{{interface.ip}}</td>
                      <td>{{interface.mac}}</td>
                      <td>{{interface.speed}} <span ng-if="interface.speed !== '暂无信息'">Mb</span></td>
                  </tr>
              </table>
          </li>
      </ul>
  </li>
  <li class="last" ng-if="detail.services">
      <h4> <span translate="page_host_service"></span> <a ng-if="!contextSrv.isViewer" class="btn btn-outline-primary" ng-click="showServices()" translate="i18n_add"></a></h4>
      <ul class="cmdb-detail">
          <li>
              <table class="table">
                  <tr>
                      <th translate="i18n_name"></th>
                      <th translate="page_topn_create_time"></th>
                      <th></th>
                  </tr>
                  <tr ng-repeat="service in detail.services">
                      <td>{{service.name}}</td>
                      <td>{{service.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                      <td>
                        <!-- <a href="/cmdb/servicelist/servicedetail?id={{service.id}}"> -->
                        <a href="/service_topology?tabId=1&id={{ service.id }}&name={{ service.name }}">
                            <span class="cmdb-icon-text" translate="i18n_detail"></span>
                        </a>
                        <a ng-click="deleteService(service.relationshipId)"><span translate="i18n_delete"></span></a>
                      </td>
                  </tr>
              </table>
          </li>
      </ul>
  </li>
</ul>