<ul class="cmdb-ul">
    <li>
        <h4 translate="i18n_basic_info"></h4>
        <ul class="cmdb-detail">
            <li><span>ID</span><span>{{detail.id}}</span></li>
            <li><span translate="i18n_servicename"></span><span>{{detail.name}}</span></li>
            <li><span translate="page_topn_create_time"></span><span>{{detail.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</span></li>
        </ul>
    </li>
    <li>
        <h4><span ng-if="detail.hosts.length" translate="page_service_host_list"></span><a ng-if="!contextSrv.isViewer" class="btn btn-primary btn-outline-primary" ng-click="showHost()" translate="i18n_add"></a></h4>
        <ul class="cmdb-detail" ng-if="detail.hosts.length">
            <li>
                <table class="table">
                    <tr>
                        <th ng-click="orderBy('hostname')" class="pointer"> <span translate="i18n_hostname"></span> <i class="fa fa-sort"></i></th>
                        <th>IP</th>
                        <th translate="page_host_virtual_machine"></th>
                        <th translate="i18n_os"></th>
                        <th ng-click="orderBy('createdAt')" class="pointer"> <span translate="page_topn_create_time"></span> <i class="fa fa-sort"></i></th>
                        <th translate="page_service_conn_stat"></th>
                        <th translate="i18n_operating"></th>
                    </tr>
                    <tr ng-repeat="host in detail.hosts | orderBy: order : desc">
                        <td>{{host.hostname}}</td>
                        <td>{{host.defaultIp}}</td>
                        <td>{{host.isVirtual}}</td>
                        <td>{{host.osName}}</td>
                        <td>{{host.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{host.state}}</td>
                        <td>
                            <!-- <a href="/cmdb/hostlist/hostdetail?id={{host.id}}"> -->
                            <a href="/host_topology?tabId=5&id={{ host.id }}&name={{ host.hostname }}">
                                <span class="cmdb-icon-text" translate="i18n_detail"></span>
                            </a>
                            <a ng-if="!contextSrv.isViewer" ng-click="deleteHost(host.relationshipId)">
                                <span class="cmdb-icon-text" translate="i18n_delete"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </li>
        </ul>
    </li>
</ul>