<div class="modal-body" ng-controller="CloseAlertCtrl as ctrl">

  <a class="modal-close" ng-click="dismiss();">
    <i class="fa fa-remove"></i>
  </a>

  <h3>
    报警处理
  </h3>

  <form class="gf-form-group ng-pristine ng-valid">
    <div class="gf-form-section-modal">
      <h3 class="page-heading">报警现象</h3>
      <div class="gf-form-inline">
        <div class="gf-form max-width-28">
          <span class="gf-form-label width-9">现象指标</span>
          <input type="text" class="gf-form-input" ng-value="_.getMetricName(alertData.metric)" disabled/>
        </div>
        <div class="gf-form max-width-28">
          <span class="gf-form-label width-9">现象机器</span>
          <input type="text" class="gf-form-input" ng-model="alertData.status.monitoredEntity" disabled/>
        </div>
      </div>
    </div>

    <div class="gf-form-section-modal">
      <h3 class="page-heading">报警处理</h3>
      <div class="gf-form-inline">
        <input type="text" ng-model="ctrl.reason" style="width: 100%;" maxlength="30" required />
      </div>
    </div>

    <div class="gf-form-button-row">
      <button type="button" class="btn btn-inverse" ng-click="dismiss()">取消</button>
      <button type="button" class="btn btn-success" ng-click="ctrl.close()">关闭警告并上传</button>
    </div>
  </form>
</div>


