<div class="fixed-table-container" ng-if="ctrl.tableData.length">
    <table ng-table="ctrl.tableParams" class="table fix-table-row-height">
        <tr ng-repeat="row in $data">
            <td data-title="ctrl.$translate.i18n.page_topn_process_id" sortable="'pid'">
                <div>{{ row.pid }}</div>
            </td>
            <td data-title="ctrl.$translate.i18n.page_topn_creator" sortable="'user'">
                <div>{{ row.user }}</div>
            </td>
            <td data-title="ctrl.$translate.i18n.page_topn_process" sortable="'name'">
                <div bs-tooltip="'{{ row.name }}'" data-container="body">{{ row.name }}</div>
            </td>
            <td data-title="ctrl.$translate.i18n.page_topn_cpu_usr" sortable="'cpuPercent'">
                <div>{{ _.percentFormatter(row.cpuPercent) }}</div>
            </td>
            <td data-title="ctrl.$translate.i18n.page_topn_mem_usage" sortable="'memPercent'">
                <div>{{ _.percentFormatter(row.memPercent) }}</div>
            </td>
            <td data-title="ctrl.$translate.i18n.page_topn_disk_read" sortable="'diskIoRead'">
                <div>{{ _.valueFormats.Bps(row.diskIoRead) }}</div>
            </td>
            <td data-title="ctrl.$translate.i18n.page_topn_disk_write" sortable="'diskIoWrite'">
                <div>{{ _.valueFormats.Bps(row.diskIoWrite) }}</div>
            </td>
            <td data-title="ctrl.$translate.i18n.page_topn_create_time" sortable="'createTime'">
                <div>{{ _.transformTime(row.createTime) }}</div>
            </td>
            <td data-title="ctrl.$translate.i18n.page_topn_command" sortable="'command'">
                <div bs-tooltip="'{{ row.command }}'" data-container="body">{{ row.command }}</div>
            </td>
        </tr>
    </table>
</div>
