<div class="fixed-table-container" ng-if="ctrl.tableData.length">
    <table ng-table="ctrl.tableParams" class="table fix-table-row-height">
        <tr ng-repeat="row in $data">
            <td data-title="'进程 ID'" sortable="'pid'">
                <div>{{ row.pid }}</div>
            </td>
            <td data-title="'创建用户'" sortable="'user'">
                <div>{{ row.user }}</div>
            </td>
            <td data-title="'进程'" sortable="'name'">
                <div bs-tooltip="'{{ row.name }}'" data-container="body">{{ row.name }}</div>
            </td>
            <td data-title="'CPU 使用率'" sortable="'cpuPercent'">
                <div>{{ _.percentFormatter(row.cpuPercent) }}</div>
            </td>
            <td data-title="'内存占用率'" sortable="'memPercent'">
                <div>{{ _.percentFormatter(row.memPercent) }}</div>
            </td>
            <td data-title="'读硬盘次数'" sortable="'diskIoRead'">
                <div>{{ _.valueFormats.Bps(row.diskIoRead) }}</div>
            </td>
            <td data-title="'写硬盘次数'" sortable="'diskIoWrite'">
                <div>{{ _.valueFormats.Bps(row.diskIoWrite) }}</div>
            </td>
            <td data-title="'进程创建的具体时间'" sortable="'createTime'">
                <div>{{ _.transformTime(row.createTime) }}</div>
            </td>
            <td data-title="'命令'" sortable="'command'">
                <div bs-tooltip="'{{ row.command }}'" data-container="body">{{ row.command }}</div>
            </td>
        </tr>
    </table>
</div>
