<div class="login-content">
	<div ng-include="'public/app/partials/login_header.html'"></div>
	<section class="login-inner-content">
		<form name="loginForm" class="login-form login-content-form">
			<label><em translate="i18n_login_name"></em>：</label>
			<input type="text" name="username" required ng-model="formModel.user" placeholder="{{ 'i18n_email_username' | translate }}" />

			<label><em translate="page_profile_pwd"></em>：<a href="user/password/send-reset-email" class="pull-right" tabindex="-1"><em translate="i18n_forget_pwd"></em>？</a></label>
			<div class="clearfix"></div>
			<input type="password" name="password" required ng-model="formModel.password" id="inputPassword" />

			<div class="btn-login-box">
				<button type="submit" class="btn-link-login btn-login" ng-click="submit();" translate="i18n_menu_login"></button>
			</div>

		</form>
	</section>

	<div ng-include="'public/app/partials/login_footer.html'"></div>
</div>