<div class="modal-body" ng-controller="RootCauseCtrl" ng-init="init()">

  <a class="modal-close" ng-click="dismiss();">
    <i class="fa fa-remove"></i>
  </a>

  <h3>
    创建关联关系
  </h3>

  <div style="display: inline-block">
    <form id="rcaForm">
      <table class="grafana-options-table form-inline">
        <tr>
          <th>原因</th>
          <th>结果</th>
          <th></th>
        </tr>
        <tbody>
          <tr ng-repeat="(metricsName, metricsValue) in rootCauseList">
            <td><input type="radio" name="{{metricsName}}" value="rc" /></td>
            <td><input type="radio" name="{{metricsName}}" value="sym" /></td>
            <td>{{_.getMetricName(metricsName)}}</td>
          </tr>
        </tbody>
      </table>

      <div style="margin-top: 30px; margin-bottom: 20px;">
        <button type="button" class="btn btn-inverse" ng-click="dismiss()">取消</button>
        <button type="submit" class="btn btn-success" ng-click="createRCA(rcaForm);">创建</button>
      </div>
    </form>
  </div>
</div>
