<div class="modal-body" ng-controller="RootCauseCtrl" ng-init="init()">

  <a class="modal-close" ng-click="dismiss();">
    <i class="fa fa-remove"></i>
  </a>

  <h3>
    创建关联关系
  </h3>

  <div class="controls controls-row">
    <div class="span1">
      <li class="checkbox" ng-repeat="(metricsName, metricsValue) in rootCauseList" style="list-style-type: none">
        <input type="checkbox" ng-click="nodeChange(metricsName)">{{_.getMetricName(metricsName)}}</input>
      </li>
    </div>
    <div id="pop-container"></div>
    <div class="span4" id="graph-container" style="height: 200px"></div>
  </div>


  <div class="" style="margin-top: 30px; margin-bottom: 20px;">
    <button type="button" class="btn btn-inverse" ng-click="dismiss()">取消</button>
    <button type="submit" class="btn btn-success" ng-click="addSystem();">保存</button>

  </div>
</div>
