<navbar title="智能分析" icon="fa fa-fw fa-cubes"></navbar>

<div class="page-container rca-page">

  <guide guide-class="guide"></guide>

  <div class="page-header">
      <h2>故障溯源</h2>
  </div>
  <div class="grafana-info-box" style="margin: 20px 0 25px 0">
    故障溯源由用户反馈所得，您可以通过处理报警、关联性分析点赞、日志添加根源等方式添加指标、日志之间的因果关系，以便于日后快速定位/处理相似故障根源。
  </div>

  <div class="jtk-page-container">
    <div class="jtk-container">

      <script type="jtk" id="tmplNode">
        <div style="height: ${sigVal + 20}px;">
          <div class="name bg-${healthType} status-color node-type-${type}" style="height: ${sigVal}px; width: ${sigVal}px;">
          </div>
          <div class="status-color status-${healthType} text-overflow">${name}</div>
        </div>
      </script>

      <div class="jtk-main" id="jtk-paths">
        <div class="jtk-canvas canvas-wide">
          <div class="controls">
            <i class="fa fa-arrows selected-mode" mode="pan" title="Pan Mode"></i>
            <i class="fa fa-pencil" mode="select" title="Select Mode"></i>
            <i class="fa fa-home" reset title="Zoom To Fit"></i>
          </div>
          <div class="miniview"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="build-service-depend rca-detail">
    <div class="description" ng-if="detail">
      <div class="section">
        <h4>结点信息</h4>
        <div class="section-container">
          <p>名称：{{ detail.name }}</p>
          <p>类型：{{ detail.type | formatRCAType }}</p>
          <p>详情：</p>
          <table class="table" ng-repeat="description in detail.description track by $index" ng-if="detail.type === 2">
            <thead>
              <tr>
                <th ng-repeat="(name, value) in description[0] track by $index">{{ name }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="desp in description track by $index">
                <td ng-repeat="(name, value) in desp track by $index">{{ value }}</td>
              </tr>
            </tbody>
          </table>
          <ul style="padding: 0 30px;" ng-repeat="description in detail.description track by $index" ng-if="detail.type !== 2">
            <li>{{ description || '无' }}</li>
          </ul>
        </div>
      </div>
      <div class="section">
        <h4>导致结点异常的直接原因</h4>
        <div class="relevant-nodes-container" ng-if="!relevantNodes.length">无</div>
        <div class="accordion relevant-nodes-container" ng-repeat="node in relevantNodes track by $index">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" href="#relevantNodes{{$index}}">
                <i class="fa fa-angle-down"></i> {{ node.data.name }} --- {{ node.data.type | formatRCAType }}
              </a>
            </div>
            <div class="accordion-body collapse" id="relevantNodes{{$index}}">
              <div class="accordion-inner">
                <div class="block" ng-repeat="description in node.data.description track by $index">
                  <p>详情：</p>
                  <table class="table" ng-if="detail.type === 2">
                    <thead>
                      <tr>
                        <th ng-repeat="(name, value) in description[0] track by $index">{{ name }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="desp in description track by $index">
                        <td ng-repeat="(name, value) in desp track by $index">{{ value }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <ul class="" ng-if="detail.type !== 2">
                    <li>{{ description || '无' }}</li>
                  </ul>
                  <p class="">解决方案：</p>
                  <ul class="">
                    <li>{{ node.edge.solution[$index] || '无' }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>