<navbar title="故障溯源" icon="fa fa-fw fa-cubes"></navbar>

<div class="page-container rca-page">

  <div class="jtk-page-container">
    <div class="jtk-container">

      <script type="jtk" id="jtk-template-default">
        <div style="height: ${sigVal + 20}px;">
          <div class="name" style="height: ${sigVal}px; width: ${sigVal}px;">
          </div>
          <div>${name}</div>
        </div>
      </script>

      <div class="jtk-main" id="jtk-paths">
        <div class="jtk-canvas canvas-wide">
          <div class="controls">
            <i class="fa fa-arrows selected-mode" mode="pan" title="Pan Mode"></i>
            <i class="fa fa-pencil" mode="select" title="Select Mode"></i>
            <i class="fa fa-home" reset title="Zoom To Fit"></i>
          </div>
          <div class="miniview"></div>
        </div>
      </div>

    </div>
  </div>

</div>