<navbar icon="fa fa-fw fa-cogs" title-url="admin">
	<a href="admin/users" class="navbar-page-btn">
		<i class="icon-gf icon-gf-users"></i>
		<span translate="page_admin_users"></span>
	</a>
</navbar>

<div class="page-container">
	<div class="page-header">
		<h1 translate="page_admin_users"></h1>

		<a class="btn btn-success" href="admin/users/create">
			<i class="fa fa-plus"></i>
			<span translate="page_admin_users_new"></span>
		</a>
	</div>

	<table class="filter-table form-inline">
		<thead>
			<tr>
				<th translate="page_admin_users_id"></th>
				<th translate="page_admin_users_name"></th>
				<th translate="page_admin_users_login"></th>
				<th translate="page_admin_users_email"></th>
				<th translate="page_admin_users_isAdmin" style="white-space: nowrap"></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.login}}</td>
				<td>{{user.email}}</td>
				<td>{{user.isAdmin}}</td>
				<td class="text-right">
					<a href="admin/users/edit/{{user.id}}" class="btn btn-inverse btn-small">
						<i class="fa fa-edit"></i>
						<span translate="i18n_edit"></span>
					</a>
					&nbsp;&nbsp;
					<a ng-click="deleteUser(user)" class="btn btn-danger btn-small">
						<i class="fa fa-remove"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
