<navbar title="配置管理库" icon="fa fa-fw fa-cubes">
    <ul class="nav">
        <li><a href="/cmdb/hostlist">设备列表</a></li>
        <li class="active" ><a href="/cmdb/hostlist/{{hostId}}">设备详情</a></li>
    </ul>
</navbar>
<div class="page-container">
    <h2 class="dropdown" style="color: #2962ff;">
        <span class="dropdown-toggle pointer" data-toggle="dropdown">{{detail.hostname}} <i class="fa fa-caret-down" ng-if="list.length > 1"></i></span>    
        <ul class="dropdown-menu" ng-if="list.length > 1">
            <li ng-repeat="host in list"><a href="/cmdb/hostlist/hostdetail?id={{host.id}}">{{host.hostname}}</a></li>
        </ul>
    </h2>
    <div ng-include="'public/app/partials/cmdb_host_detail.html'"></div>
</div>