<navbar icon="fa fa-fw fa-cubes" title="配置管理库" title-url="/cmdb/hostlist">
  <ul class="nav">
    <li class="active"><a href="/cmdb/kpi">KPI管理</a></li>
  </ul>
</navbar>
<div class="page-container">
  <div class="page-header">
    <h1>KPI管理</h1>
  </div>

  <div>
    <select ng-options="service.name for service in ctrl.serviceList" ng-model="ctrl.service" ng-change="ctrl.getKpi(ctrl.service.name)"></select>
    <table class="table">
      <tr ng-repeat="kpi in ctrl.kpiList">
        <td>{{kpi}}</td>
        <td>
          <a ng-click="ctrl.removeKpi(kpi, ctrl.service.name)">删除</a>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" ng-model="ctrl.kpi">
        </td>
        <td>
          <a ng-click="ctrl.addKpi(ctrl.kpi, ctrl.service.name)">添加</a>
        </td>
      </tr>
    </table>
  </div>
</div>