<navbar icon="fa fa-fw fa-cubes" title="配置管理库" title-url="/cmdb/metrics">
  <ul class="nav">
    <li class="active"><a href="/cmdb/metrics">指标概览</a></li>
  </ul>
</navbar>
<div class="page-container metrics-def-container">
  <div>
    <form name="searchForm" class="gf-form-group">
      <div class="gf-form">
        <span class="gf-form-label width-7">指标名称</span>
        <input type="text" class="gf-form-input max-width-16" ng-model="ctrl.query.metric"
          ng-change="ctrl.getSuggest();"
          spellcheck='false' bs-typeahead-old="ctrl.suggestMetrics">
      </div>
      <div class="gf-form">
        <div class="gf-form">
          <span class="gf-form-label width-7">类型</span>
          <select class="max-width-16" ng-options="type.name for type in ctrl.typeList" ng-change="ctrl.changeType();" ng-model="ctrl.query.type"></select>
        </div>
        <div class="gf-form" ng-if="ctrl.query.type">
          <span class="gf-form-label width-7">子类型</span>
          <select class="max-width-16" ng-options="subType.alias for subType in ctrl.query.type.software" ng-model="ctrl.query.subType"></select>
        </div>
      </div>
      <div class="gf-form">
        <span class="gf-form-label width-7">KPI</span>
        <div class="width-16 query-label">
          <label>
            <input type="radio" name="kpi" ng-value=1 ng-model="ctrl.params.kpi" checked>是
          </label>
          <label>
            <input type="radio" name="kpi" ng-value=0 ng-model="ctrl.params.kpi" checked>否
          </label>
        </div>
      </div>
      <div class="gf-form">
        <span class="gf-form-label width-7">自定义指标</span>
        <div class="width-16 query-label">
          <label>
            <input type="radio" name="custom" ng-value=true ng-model="ctrl.params.custom" checked>是
          </label>
          <label>
            <input type="radio" name="custom" ng-value=false ng-model="ctrl.params.custom" checked>否
          </label>
        </div>
      </div>
      <div class="gf-form-button-row">
        <button class="btn btn-primary" ng-click="ctrl.getMetricsList(1, ctrl.query)">搜索</button>
        <button class="btn btn-inverse" ng-click="ctrl.clearQuery()">清空搜索</button>
      </div>
    </form>
  </div>
  <div ng-if="ctrl.metricList.length">
    <div class="accordion">
      <div class="accordion-group" ng-repeat="metric in ctrl.metricList">
        <div class="accordion-heading">
          <a ng-click="ctrl.getDetailById(metric)" class="accordion-toggle">
            <i class="fa" ng-class="{true: 'fa-angle-up', false: 'fa-angle-down'}[metric.id === ctrl.metricCur.id]"></i>
            <p class="text-overflow metric-name">{{metric.key}}</p>
            <span>{{ctrl.getSubtypeAlias(metric)}}</span>
            <span ng-if="metric.kpi">KPI指标</span>
          </a>
        </div>
        <div class="accordion-body" ng-if="metric.id === ctrl.metricCur.id">
          <div class="accordion-inner">
            <form name="userForm" class="gf-form-group">
              <div class="gf-form">
                <span class="gf-form-label width-7">类型</span>
                <select ng-disabled="ctrl.metricCur.disabled" class="gf-form-input max-width-25"  ng-change="ctrl.changeType(ctrl.metricCur.type);" ng-options="type.name as type.name for type in ctrl.typeList" ng-model="ctrl.metricCur.type"></select>
                <span class="gf-form-label width-7">子类型</span>
                <select ng-disabled="ctrl.metricCur.disabled" class="gf-form-input max-width-25" ng-options="subType.alias for subType in ctrl.metricCur.subTypes" ng-model="ctrl.metricCur.subType"></select>
              </div>
              <div class="gf-form">
                <span class="gf-form-label width-7">描述</span>
                <div ng-if="ctrl.metricCur.disabled" class="gf-form-input">{{metric.description}}</div>
                <textarea ng-if="!ctrl.metricCur.disabled" style="overflow-x: hidden;" type="text" class="gf-form-input" ng-model="ctrl.metricCur.description"></textarea>
              </div>
              <div class="gf-form">
                <span class="gf-form-label width-7">单位</span>
                <input type="text" class="gf-form-input max-width-25" ng-model="ctrl.metricCur.unit" ng-disabled="ctrl.metricCur.disabled">
              </div>
              <div class="gf-form">
                <span class="gf-form-label width-7">标签</span>
                <div ng-if="metric.tags">
                  <span class="tag label" ng-repeat="tag in metric.tags"> <i class="fa fa-tag"></i>{{ tag }}</span>
                </div>
                <div ng-if="!metric.tags">
                  <input type="text" class="gf-form-input max-width-25" value="暂无信息" ng-disabled="true">
                </div>
              </div>
              <div class="gf-form query-label">
                <span class="gf-form-label width-7">自定义指标</span>
                <label ng-if="metric.customMetric">是</label>
                <label ng-if="!metric.customMetric">否</label>
              </div>
              <div class="gf-form query-label">
                <span class="gf-form-label width-7">KPI</span>
                <label ng-if="ctrl.metricCur.kpi && ctrl.metricCur.disabled">是</label>
                <label ng-if="!ctrl.metricCur.kpi && ctrl.metricCur.disabled">否</label>
                <label ng-if="!ctrl.metricCur.disabled">
                  <input type="radio" name="iskpi" ng-value=true ng-model="ctrl.metricCur.kpi" checked>是
                </label>
                <label ng-if="!ctrl.metricCur.disabled">
                  <input type="radio" name="iskpi" ng-value=false ng-model="ctrl.metricCur.kpi" checked>否
                </label>
              </div>
              <div class="gf-form-button-row" ng-if="ctrl.contextSrv.isEditor">
                <button class="btn" ng-click="ctrl.edit()" ng-show="ctrl.metricCur.disabled">编辑</button>
                <button class="btn" ng-click="ctrl.update(metric, $index)" ng-show="!ctrl.metricCur.disabled">更新</button>
                <button class="btn btn-outline-inverse" ng-click="ctrl.cancel()" ng-show="!ctrl.metricCur.disabled">取消</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination">
      <ul class="pager">
        <li class="previous">
          <a ng-click="ctrl.getMetricsList(ctrl.params.page-1)">&larr; 上一页</a>
        </li>
        <li class="next">
          <a ng-click="ctrl.getMetricsList(ctrl.params.page+1)">下一页 &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="no-data" ng-if="!ctrl.metricList.length">
    没有相关指标
  </div>
</div>