<navbar text="配置管理库" icon="fa fa-fw fa-cubes">
    <ul class="nav">
        <li><a href="/cmdb/resource">资源组列表</a></li>
        <li><a href="/cmdb/resource_list">资源列表</a></li>
    </ul>
</navbar>

<div class="page-container">
  <h2 class="page-header">基本信息</h2>
  <ul class="cmdb-ul">
      <li>
          <h4></h4>
          <ul class="cmdb-detail">
              <li><span class="main-color">Resource group</span><span>blob_rg</span></li>
              <li><span class="main-color">Status</span><span>Primary: Available, Secondary: Available</span></li>
              <li><span class="main-color">Location</span><span>China North, China East</span></li>
              <li><span class="main-color">Subscription (change)</span><span>1元人民币的使用订阅</span></li>
              <li><span class="main-color">Subscription ID</span><span>asdqwejk-vgtf-ghyu-erby-sdfvbnrty4g6</span></li>
              <li><span class="main-color">Performance/Access tier</span><span>Standard/Hot</span></li>
              <li><span class="main-color">Replication</span><span>Read-access geo-redundant storage (RA-GRS)</span></li>
              <li><span class="main-color">Primary blob service endpoint</span><span>https://cloudwizstoragetest-secondary.blob.core.chinacloudapi.cn/</span></li>
              <li><span class="main-color">Account kind</span><span>Blob storage</span></li>
          </ul>
      </li>
  </ul>
</div>