<!-- <navbar title="配置管理库" icon="fa fa-fw fa-cubes">
  <ul class="nav">
      <li><a href="/cmdb/servicelist">服务列表</a></li>
      <li class="active"><a>{{ctrl.title}}服务</a></li>
  </ul>
</navbar> -->
<navbar model="ctrl.navModel"></navbar>

<div class="page-container">
  <h2>添加{{ctrl.title}}服务</h2>

  <table class="table">
    <tr>
      <th>服务名称</th>
      <th>操作系统</th>
      <th>匹配规则</th>
      <th>别名</th>
      <th>操作</th>
    </tr>
    <tr ng-repeat="software in ctrl.softwareList">
      <td>
        <span ng-if="ctrl.editIndex !== $index">{{software.name}}</span>
        <input style="width: 100%;" type="text"
          placeholder="仅支持英文字母/数字/下划线/小数点"
          ng-blur="ctrl.checkName(ctrl.editSoftware.name);"
          ng-if="ctrl.editIndex === $index"
          ng-model="ctrl.editSoftware.name">
      </td>
      <td>
        <span ng-if="ctrl.editIndex !== $index">{{software.platform}}</span>
        <select
          ng-if="ctrl.editIndex === $index"
          style="width: 100%;"
          ng-options="p for p in ['linux', 'windows']"
          ng-model="ctrl.editSoftware.platform">
        </select>
      </td>
      <td>
        <span class="software-command" bs-tooltip="'{{software.command}}'" data-placement="top" data-container="body" ng-if="ctrl.editIndex !== $index">{{software.command}}</span>
        <input style="width: 100%;" type="text"
          placeholder="请根据下列进程信息输入匹配规则"
          ng-if="ctrl.editIndex === $index"
          ng-model="ctrl.editSoftware.command">
      </td>
      <td>
        <span class="software-command" bs-tooltip="'{{software.alias}}'" data-placement="top" data-container="body" ng-if="ctrl.editIndex !== $index">{{software.alias}}</span>
        <input style="width: 100%;" type="text"
          placeholder="请输入服务别名"
          ng-if="ctrl.editIndex === $index"
          ng-model="ctrl.editSoftware.alias">
      </td>
      <td>
        <span ng-if="ctrl.editIndex !== $index">
          <button class="btn btn-outline-secondary" ng-click="ctrl.getEditSoftware(software, $index)">编辑</button>
          <button class="btn btn-outline-danger" ng-click="ctrl.deleteSoftware(software)">删除</button>
        </span>
        <span ng-if="ctrl.editIndex === $index">
          <button class="btn btn-outline-success" ng-click="ctrl.addSoftware('save')">保存</button>
          <button class="btn btn-outline-inverse" ng-click="ctrl.initEditSoftware('save')">取消</button>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <input style="width: 100%;" type="text" placeholder="仅支持英文字母/数字/下划线/小数点"
        ng-model="ctrl.newSoftware.name" ng-blur="ctrl.checkName(ctrl.newSoftware.name);">
      </td>
      <td>
        <select
        style="width: 100%;"
        ng-options="p for p in ['linux', 'windows']"
        ng-model="ctrl.newSoftware.platform">
        </select>
      </td>
      <td>
        <input style="width: 100%;" type="text" placeholder="请根据下列进程信息输入匹配规则" 
          ng-model="ctrl.newSoftware.command">
      </td>
      <td>
        <input style="width: 100%;" type="text" placeholder="请根据服务别名" 
          ng-model="ctrl.newSoftware.alias">
      </td>
      <td>
        <button class="btn btn-outline-success" ng-click="ctrl.addSoftware('add')">添加</button>
      </td>
    </tr> 
  </table>

  <div class="cmdb-reference" ng-show="!ctrl.isUnit">
    <h2>参考信息
      <span class="dropdown" style="color: #2962ff;">
        <span ng-if="!ctrl.host.hostname">请选择机器</span>
        <span class="dropdown-toggle pointer" data-toggle="dropdown">{{ctrl.host.hostname}} <i class="fa fa-caret-down" ng-if="ctrl.hostList.length > 1"></i></span>
        <ul class="dropdown-menu" ng-if="ctrl.hostList.length > 1">
            <li ng-repeat="host in ctrl.hostList"><a ng-click="ctrl.setHost(host)">{{host.hostname}}</a></li>
        </ul>
      </span>
      <form class="form-search cmdb-search" ng-submit="ctrl.applySearch()">
        <i class="fa fa-search"></i>
        <input type="text" class="input-medium search-query" placeholder="搜索进程信息" ng-model="ctrl.searchCommand">
      </form>
    </h2>
    <div ng-if="ctrl.hostProcess.length">
      <table ng-table="ctrl.tableParams" class="table fixed-table-container table-no-bordered">
          <tr ng-repeat="row in $data">
              <td data-title="'参考名称'" sortable="'name'">
                  <div>{{ row.name }}</div>
              </td>
              <td data-title="'进程信息'" sortable="'command'">
                  <div>{{ row.command }}</div>
              </td>
          </tr>
      </table>
    </div>
  </div>
</div>