<navbar title="配置管理库" icon="fa fa-fw fa-cubes">
    <ul class="nav">
        <li class="active"><a href="/cmdb/servicelist">服务列表</a></li>
    </ul>
</navbar>
<div class="page-container">
    <h2>服务列表
        <a ng-if="!contextSrv.isViewer" class="btn btn-primary btn-cmdb" style="margin-left: 12px;" href="/cmdb/servicecustom">添加拓展服务</a>
        <a ng-if="!contextSrv.isViewer" class="btn btn-success btn-cmdb" style="margin-left: 12px;" href="/service_dependency">创建服务依赖</a>
        <a ng-if="contextSrv.isGrafanaAdmin" class="btn btn-success btn-cmdb" style="margin-left: 12px;" href="/cmdb/servicecustom?unit=true">添加默认服务</a>
        <button class="btn btn-success btn-cmdb" ng-disabled="isScan" style="margin-left: 12px;" ng-click="serviceScan()"><span ng-if="!isScan">刷新</span><i ng-if="isScan" class="fa fa-spinner fa-spin"></i></button>
        <form class="form-search cmdb-search">
            <i class="fa fa-search"></i>
            <input type="text" class="input-medium search-query" placeholder="搜索服务列表" ng-model="searchService">
        </form>
    </h2>
    <div class="cmdb-container">
        <table class="table table-hover table-striped cmdb-table">
            <tr>
                <th>序号</th>
                <th>ID</th>
                <th ng-click="orderBy('name')" class="pointer">名称<i class="fa fa-sort"></i></th>
                <th ng-click="orderBy('createdAt')" class="pointer">创建时间<i class="fa fa-sort"></i></th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="service in services| filter: searchService | orderBy: order : desc">
                <td class="main-color">{{$index+1}}</td>
                <td class="main-color">{{service.id}}</td>
                <td class="main-color">{{service.name}}</td>
                <td>{{service.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                    <a href="/cmdb/servicelist/servicedetail?id={{service.id}}">
                        <span class="cmdb-icon-text">详情</span>
                    </a>
                    <a ng-if="!contextSrv.isViewer" ng-click="deleteService(service.id);">
                        <span class="cmdb-icon-text">删除</span>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>