<navbar icon="fa fa-fw fa-cubes" title="配置管理库" title-url="">
  <ul class="nav">
    <li><a href="/cmdb/config?serviceName={{ctrl.serviceName}}&serviceId={{ctrl.serviceId}}">{{ctrl.serviceName}}</a></li>
    <li class="active"><a>{{ctrl.configName}}</a></li>
  </ul>
</navbar>

<div class="page-container">
  <div class="page-header">
		<h1>{{ctrl.configName}} -- 
      <span class="dropdown">
        <span class="dropdown-toggle pointer" data-toggle="dropdown">{{ctrl.host.hostname}} <i class="fa fa-caret-down" ng-if="ctrl.hostList.length > 1"></i></span>
        <ul class="dropdown-menu" ng-if="ctrl.hostList.length > 1">
            <li ng-repeat="host in ctrl.hostList"><a href="/cmdb/config/edit?serviceId={{ctrl.serviceId}}&configName={{ctrl.configName}}&serviceName={{ctrl.serviceName}}&hostId={{host.id}}">{{host.hostname}}</a></li>
        </ul>
      </span>
    </h1>
	</div>

  <form class="gf-form-group">
    <div ng-repeat="section in ctrl.config.sections">
      <h3 class="page-heading">{{section.name}}</h3>
      <div class="gf-form max-width-28" ng-repeat="(i, prop) in section.props" ng-switch="prop.type" ng-if="!prop.readOnly">
        <span class="gf-form-label width-14">{{prop.name}}</span>
        <input class="gf-form-input width-14" type="text" ng-if="prop.isCollection"
          ng-repeat="path in prop.value track by $index" ng-model="path"
          ng-blur="ctrl.checkPath(path, $index, i)"/>
        <input class="gf-form-input width-14" type="text" ng-if="prop.isCollection"
          ng-model="ctrl.newPath" ng-blur="ctrl.addPath(ctrl.newPath, i)"/>
        <input ng-switch-when="string" ng-if="!prop.isCollection" class="gf-form-input width-14" 
          type="text" 
          ng-model="prop.value" 
          ng-disabled="{{prop.readOnly}}"/>
        <input ng-switch-when="integer" class="gf-form-input width-14" 
          type="number" min="{{prop.minValue}}"
          ng-model="prop.value"
          placeholder="请输入大于{{prop.minValue}}的整数"
          ng-disabled="prop.readOnly"
          ng-blur="ctrl.checkNum(prop)"/>
        <select ng-switch-when="enum" class="gf-form-input width-14"
          ng-options="enum for enum in prop.enumValues"
          ng-model="prop.value">
        </select>
        <select ng-switch-when="boolean" class="gf-form-input width-14"
          ng-options="f for f in [true, false]"
          ng-model="prop.value">
        </select>
      </div>
    </div>
    <br/>
      
    <div class="gf-form-button-row">
      <a class="btn btn-primary" ng-click="ctrl.showConfirm()">应用</a>
      <a class="btn btn-danger" ng-click="ctrl.deleteConfig(ctrl.config.id)">删除</a>
      <a class="btn btn-outline-primary" href="/cmdb/config?serviceName={{ctrl.serviceName}}&serviceId={{ctrl.serviceId}}">取消</a>
    </div>
  </form>

</div>