<navbar icon="fa fa-fw fa-cubes" title="配置管理库" title-url="">
  <ul class="nav">
    <li><a href="/cmdb/servicelist">服务列表</a></li>
    <li class="active"><a>collector</a></li>
  </ul>
</navbar>

<div class="page-container">
  <h2>collector 配置管理</h2>

  <div>
    <table class="table">
      <tr>
        <th>服务名称</th>
        <th>操作</th>
      </tr>
      <tr ng-repeat="collector in ctrl.collectors">
        <td>{{collector.name}}</td>
        <td><a href="/cmdb/config/collector/edit?serviceId={{ctrl.serviceId}}&confName={{collector.name}}">编辑</a></td>
      </tr>
    </table>
  </div>

</div>