<navbar icon="fa fa-fw fa-cubes" title="配置管理库" title-url="">
  <ul class="nav">
    <li class="active"><a>{{ctrl.serviceName}}</a></li>
  </ul>
</navbar>

<div class="page-container">
  <div class="page-header">
    <h1>{{ctrl.serviceName}} 配置管理 -- 
      <span class="dropdown">
        <span class="dropdown-toggle pointer" data-toggle="dropdown">{{ctrl.host.hostname}} <i class="fa fa-caret-down" ng-if="ctrl.hostList.length > 1"></i></span>
        <ul class="dropdown-menu" ng-if="ctrl.hostList.length > 1">
            <li ng-repeat="host in ctrl.hostList"><a href="/cmdb/config?serviceName={{ctrl.serviceName}}&serviceId={{ctrl.serviceId}}&hostId={{host.id}}">{{host.hostname}}</a></li>
        </ul>
      </span>
    </h1>
    <a ng-if="ctrl.serviceName === 'filebeat'" href="/cmdb/config/edit?serviceId={{ctrl.serviceId}}&configName=template&serviceName={{ctrl.serviceName}}&hostId={{ctrl.host.id}}" class="btn btn-outline-primary">添加</a>
    <form ng-if="ctrl.serviceName === 'collector'" class="form-search cmdb-search">
      <i class="fa fa-search"></i>
      <input type="text" class="input-medium search-query" placeholder="搜索config" ng-model="ctrl.searchConf">
    </form>
	</div>

  <div>
    <div class="center" ng-if="!ctrl.configs.length">
      尚未添加filebeat配置信息，请
      <a href="/cmdb/config/edit?serviceId={{ctrl.serviceId}}&configName=template&serviceName={{ctrl.serviceName}}&hostId={{ctrl.host.id}}" class="btn btn-outline-primary btn-cmdb">添加</a>
    </div>    
    <table class="table uagent-table" ng-if="ctrl.configs.length">
      <tr>
        <th>服务名称</th>
        <th>操作</th>
      </tr>
      <tr ng-repeat="config in ctrl.configs | filter: ctrl.searchConf" ng-if="config.name">
        <td>{{config.name}}</td>
        <td><a href="/cmdb/config/edit?serviceId={{ctrl.serviceId}}&configName={{config.name}}&serviceName={{ctrl.serviceName}}&hostId={{ctrl.host.id}}">编辑</a></td>
      </tr>
    </table>
  </div>

</div>