<div ng-init="ctrl.init()" class="tree-menu" ng-class="{true: 'open', false: 'close'}[ctrl.isOpen]">
  <div class="open-tree">
    <button ng-click="ctrl.showTree()" class="btn btn-primary btn-isopen">
      <i class="fa" ng-class="{true: 'fa-chevron-right', false: 'fa-chevron-left'}[ctrl.isOpen]"></i>
    </button>
  </div>
  <div class="tree-container" ng-show="ctrl.isOpen">
    <ul class="nav nav-tabs">
      <li ng-class="{true: 'active', false: 'disabled'}[ctrl.groupType === 'metrics']"><button ng-click="ctrl.init()" ng-disabled="ctrl.groupType === 'metrics'">按服务分类</button></li>
      <li ng-class="{true: 'active', false: 'disabled'}[ctrl.groupType === 'hosts']"><button ng-click="ctrl.init()" ng-disabled="ctrl.groupType === 'hosts'">按机器分类</button></li>
    </ul>
    <p class="header">关联指标
      <i class="fa fa-plus-square-o btn-add-metric" ng-click="ctrl.showNewAssociationManual()"></i>
      <button class="btn btn-outline-primary pull-right" ng-click="ctrl.clearSelected()">清除选中</button>
    </p>
    <div class="tree-content" id="tree-content" ng-show="!ctrl.isLoding && ctrl.isAssociation">
      <ul class="tree_ul accordion" id="accordion2">
        <li class="tree_li" ng-repeat="(service, metrics) in ctrl.correlationMetrics">
          <a ng-click="ctrl.toggleAccordion($event)" class="tree_node accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
            href="#{{_.snakeCase(service)}}">
            <i class="fa fa-plus-square-o"></i>
            <p>{{service + ' (' + _.keys(metrics).length + ')'}}</p>
          </a>
          <ul id="{{_.snakeCase(service)}}" class="tree_ul accordion-body collapse accordion">
            <li class="tree_li" ng-repeat="(metric, hosts) in metrics">
              <a ng-click="ctrl.toggleAccordion($event)" class="tree_node accordion-toggle" data-toggle="collapse" data-parent="#{{_.snakeCase(service)}}"
                href="#{{_.snakeCase(service) + $index}}">
                <i class="fa fa-plus-square-o"></i>
                <p bs-tooltip="'{{_.getMetricName(metric)}}'" data-placement="top" data-container="body" bs-enabled="ctrl.groupType === 'metrics'">{{_.getMetricName(metric)}}</p>
              </a>
              <ul id="{{_.snakeCase(service) + $index}}" class="tree_ul accordion-body collapse">
                <li class="tree_li" ng-repeat="host in hosts.hosts" ng-if="ctrl.groupType === 'metrics'">
                  <label class="tree_leaf">
                    <input type="checkbox" name="host"
                      ng-model="model"
                      ng-change="ctrl.addQuery(_.getMetricName(metric), host)"
                      ng-checked="ctrl.checkSource(metric, host)"
                      ng-disabled="ctrl.checkSource(metric, host)"/>
                    <p>{{host}}</p>
                  </label>
                  <span class="pull-right" ng-if="!ctrl.checkSource(metric, host)" ng-click="ctrl.toggleClass($event, _.getMetricName(metric), host)">
                    <i class="fa fa-thumbs-o-up add-rca"></i>
                    <i class="fa fa-thumbs-o-down"></i>
                  </span>
                </li>

                <li class="tree_li" ng-repeat="metricsitem in hosts.metrics" ng-if="ctrl.groupType === 'hosts'">
                  <label class="tree_leaf">
                    <input type="checkbox" name="host"
                      ng-model="model"
                      ng-change="ctrl.addQuery(_.getMetricName(metricsitem), service, _.getMetricName(metric))"
                      ng-checked="ctrl.checkSource(metricsitem, service)"
                      ng-disabled="ctrl.checkSource(metricsitem, service)"/>
                    <p bs-tooltip="'{{_.getMetricName(metricsitem)}}'" data-placement="top" data-container="body" bs-enabled="ctrl.groupType === 'hosts'">{{_.getMetricName(metricsitem)}}</p>
                  </label>
                  <span class="pull-right" ng-if="!ctrl.checkSource(metricsitem, service)" ng-click="ctrl.toggleClass($event, _.getMetricName(metricsitem), service)">
                    <i class="fa fa-thumbs-o-up add-rca"></i>
                    <i class="fa fa-thumbs-o-down"></i>
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="tree-content no-data" ng-if="!ctrl.isLoding && !ctrl.isAssociation">
      <p>没有关联结果？调整下相似度试试吧。</p>
      <p>还是没有？请点击"刷新结果"按钮</p>
      <button class="btn btn-outline-primary" ng-click="ctrl.init()">刷新结果</button>
    </div>
    <cw-loading class="tree-content" ng-if="ctrl.isLoding" show="ctrl.isLoding" duration=6000></cw-loading>
    <div class="slider-container">
      <div class="sliders" slider></div>
      <div class="slider-level"><span>低</span><span>相似度</span><span>高 </span></div>
    </div>
  </div>
</div>