<div ng-init="ctrl.init()" class="tree-menu" ng-class="{true: 'open', false: 'close'}[ctrl.isOpen]">
  <div class="open-tree">
    <button ng-click="ctrl.showTree()" class="btn btn-primary btn-isopen">
      <i class="fa" ng-class="{true: 'fa-chevron-right', false: 'fa-chevron-left'}[ctrl.isOpen]"></i>
    </button>
  </div>
  <div class="tree-container" ng-show="ctrl.isOpen">
    <ul class="nav nav-tabs">
      <li ng-class="{true: 'active', false: 'disabled'}[ctrl.groupType === 'metrics']"><button ng-click="ctrl.init('metrics')" ng-disabled="ctrl.groupType === 'metrics'">按服务分类</button></li>
      <li ng-class="{true: 'active', false: 'disabled'}[ctrl.groupType === 'hosts']"><button ng-click="ctrl.init('hosts')" ng-disabled="ctrl.groupType === 'hosts'">按机器分类</button></li>
    </ul>
    <div class="header">关联指标
      <div class="btn-group dropdown">
        <a class="dropdown-toggle panel-time-info" data-toggle="dropdown">
          ({{ctrl.timeRange.from*1000 | date:'MM/dd/yyyy HH:mm'}} - {{ctrl.timeRange.to*1000 | date:'MM/dd/yyyy HH:mm'}})
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="period in ctrl.periods">
            <a ng-click="ctrl.updateTimeRange(period)">{{period.startSec*1000 | date:'MM/dd/yyyy HH:mm'}} - {{period.endSec*1000 | date:'MM/dd/yyyy HH:mm'}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bars"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li><a tabindex="-1" ng-click="ctrl.initByTime()">关联选中时间的指标</a></li>
          <li><a tabindex="-1" ng-click="ctrl.showNewAssociationManual()">自定义关联指标</a></li>
          <li><a tabindex="-1" ng-click="ctrl.clearSelected()">清除选中</a></li>
        </ul>
      </div>
    </div>
    <div class="tree-content" id="tree-content" ng-if="ctrl.groupType === 'metrics' && !ctrl.isLoding && ctrl.isAssociation">
      <ul class="tree_ul accordion" id="accordion2">
        <li class="tree_li" ng-repeat="(service, metrics) in ctrl.correlationMetrics">
          <a ng-click="ctrl.toggleAccordion($event)" class="tree_node accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
            href="#{{_.snakeCase(service)}}">
            <i class="fa fa-plus-square-o"></i>
            <p>{{service + ' (' + _.keys(metrics).length + ')'}}</p>
          </a>
          <ul id="{{_.snakeCase(service)}}" class="tree_ul accordion-body collapse accordion">
            <li class="tree_li" ng-repeat="(metric, hosts) in metrics">
              <a ng-click="ctrl.toggleAccordion($event)" class="tree_node accordion-toggle" data-toggle="collapse" data-parent="#{{_.snakeCase(service)}}"
                href="#{{_.snakeCase(service) + $index}}">
                <i class="fa fa-plus-square-o"></i>
                <p bs-tooltip="'{{_.getMetricName(metric)}}'" data-placement="top" data-container="body">{{_.getMetricName(metric)}}</p>
              </a>
              <ul id="{{_.snakeCase(service) + $index}}" class="tree_ul accordion-body collapse">
                <li class="tree_li" ng-repeat="host in hosts.hosts">
                  <div class="tree_leaf" ng-click="ctrl.addQuery($event, _.getMetricName(metric), host)">
                    <input type="checkbox" name="host"
                      ng-checked="ctrl.checkSource(metric, host)"
                      ng-disabled="ctrl.checkSource(metric, host)"/>
                    <p>{{host}}</p>
                  </div>
                  <span class="pull-right" ng-if="!ctrl.checkSource(metric, host)" ng-click="ctrl.toggleClass($event, _.getMetricName(metric), host)">
                    <i class="fa fa-thumbs-o-up add-rca"></i>
                    <i class="fa fa-thumbs-o-down"></i>
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="tree-content" id="tree-content" ng-if="ctrl.groupType === 'hosts' && !ctrl.isLoding && ctrl.isAssociation">
      <ul class="tree_ul accordion" id="accordion2">
        <li class="tree_li" ng-repeat="(service, metrics) in ctrl.correlationHosts">
          <a ng-click="ctrl.toggleAccordion($event)" class="tree_node accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
            href="#{{_.snakeCase(service)}}">
            <i class="fa fa-plus-square-o"></i>
            <p>{{service}}</p>
          </a>
          <ul id="{{_.snakeCase(service)}}" class="tree_ul accordion-body collapse accordion">
            <li class="tree_li" ng-repeat="(metric, hosts) in metrics">
              <a ng-click="ctrl.toggleAccordion($event)" class="tree_node accordion-toggle" data-toggle="collapse" data-parent="#{{_.snakeCase(service)}}"
                href="#{{_.snakeCase(service) + $index}}">
                <i class="fa fa-plus-square-o"></i>
                <p>{{metric}}</p>
              </a>
              <ul id="{{_.snakeCase(service) + $index}}" class="tree_ul accordion-body collapse">
                <li class="tree_li" ng-repeat="metricsitem in hosts.metrics">
                  <div class="tree_leaf" ng-click="ctrl.addQuery($event, _.getMetricName(metricsitem), service, _.getMetricName(metric))">
                    <input type="checkbox" name="host"
                      ng-checked="ctrl.checkSource(metricsitem, service)"
                      ng-disabled="ctrl.checkSource(metricsitem, service)"/>
                    <p bs-tooltip="'{{_.getMetricName(metricsitem)}}'" data-placement="top" data-container="body">{{_.getMetricName(metricsitem)}}</p>
                  </div>
                  <span class="pull-right" ng-if="!ctrl.checkSource(metricsitem, service)" ng-click="ctrl.toggleClass($event, _.getMetricName(metricsitem), service)">
                    <i class="fa fa-thumbs-o-up add-rca"></i>
                    <i class="fa fa-thumbs-o-down"></i>
                  </span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="tree-content no-data" ng-if="!ctrl.isLoding && !ctrl.isAssociation">
      <p>该指标可能正在计算关联结果</p>
      <p>请点击以下按钮进行刷新</p>
      <p>若未指定关联时间,请点击右上角菜单进行关联计算</p>
      <button class="btn btn-outline-primary" ng-click="ctrl.init()">刷新</button>
    </div>
    <cw-loading class="tree-content" ng-if="ctrl.isLoding" show="ctrl.isLoding" duration=6000></cw-loading>
    <div class="slider-container">
      <div class="sliders" slider></div>
      <div class="slider-level"><span>低</span><span>相似度</span><span>高 </span></div>
    </div>
  </div>
</div>