<navbar title="运维轮班" icon="fa fa-fw fa-phone" subnav="true">
  <ul class="nav">
    <li><a href="oncallerschedule">值班表</a></li>
    <li class="active"><a href="oncallers">值班人员</a></li>
  </ul>
</navbar>

<div class="page-container">
  <div class="page-header">
      <h2 ng-show="ctrl.isNew">新增人员</h2>
      <h2 ng-show="!ctrl.isNew">编辑人员信息</h2>
  </div>

  <div class="page">
    <form name="oncallerForm">
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">姓名</li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                         ng-model="ctrl.user.name" placeholder="通知运维人员名称" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">邮箱 <tip>发送告警通知到运维人员邮箱</tip></li>
          <li class="tight-form-item">
            {{ ctrl.user.email }}
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">电话 <tip>发送告警通知到运维人员手机</tip></li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                     ng-model="ctrl.user.tel" placeholder="发送告警通知到运维人员手机" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">载体</li>
          <li>
            <select type="text" class="input-xxlarge tight-form-input last" style="height: 37px"
                    ng-options="f for f in ['att', 'tmobile', 'verizon', 'sprint', 'cricket', 'metro pcs', '中国移动', '中国联通', '中国电信']"
                    ng-model="ctrl.user.carrier" placeholder="carrier" required>
            </select>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- todo: remove org parameter. Use token to retrieve org name in alert-daemon instead -->
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">公司名称</li>
          <li class="tight-form-item" style="width: 150px">{{ ctrl.orgName }}<li>
        </li></li>
        </ul>
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">服务名称</li>
          <li class="tight-form-item" style="width: 150px">{{ ctrl.serviceName }}<li>
        </li></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <br>
      <div class="pull-right" style="margin-top: 35px">
        <button type="submit" class="btn btn-success" ng-show="ctrl.isNew" ng-click="ctrl.save()">新增</button>
        <button type="submit" class="btn btn-success" ng-show="!ctrl.isNew" ng-click="ctrl.save()">保存</button>
        <a class="btn btn-inverse" href="oncallers">取消</a>
      </div>
      <br>
    </form>
  </div>
</div>
