<navbar text="运维轮班" icon="fa fa-fw fa-phone" subnav="true">
  <ul class="nav">
    <li><a href="oncallerschedule" translate="page_oncaller_schedule"></a></li>
    <li class="active"><a href="oncallers" translate="page_oncaller_duty"></a></li>
  </ul>
</navbar>

<div class="page-container">
  <div class="page-header">
    <h2><em translate="page_oncaller_duty"></em> <i class="fa fa-qrcode pull-right" id="qrcode" ng-click="ctrl.showPopover()" bs-tooltip="'{{ 'i18n_official_account' | translate }}'"></i></h2>

    <div class="page-header-tabs">
      <ul class="gf-tabs">
        <li class="gf-tabs-item">
          <a class="gf-tabs-link" ng-click="ctrl.editor.index = 0" ng-class="{active: ctrl.editor.index === 0}">
            <em translate="i18n_enrolled"></em> ({{ctrl.oncallerUsers.length}})
          </a>
        </li>
        <li class="gf-tabs-item">
          <a class="gf-tabs-link" ng-click="ctrl.editor.index = 1" ng-class="{active: ctrl.editor.index === 1}">
            <em translate="page_oncaller_system_user"></em> ({{ctrl.users.length}})
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="ctrl.editor.index === 0" class="tab-content">

    <div ng-if="ctrl.oncallerUsers.length === 0">
      <em translate="page_oncaller_no_duty"></em>
    </div>

    <table class="grafana-options-table" ng-if="ctrl.oncallerUsers.length !== 0">
      <thead>
        <th translate="page_oncaller_user"></th>
        <th translate="i18n_tel"></th>
        <th translate="i18n_email"></th>
        <th translate="page_admin_org_name"></th>
        <th translate="i18n_system_name"></th>
        <th translate="i18n_operating"></th>
      </thead>
      <tbody>
        <tr ng-repeat="user in ctrl.oncallerUsers">
          <td style="width:10%">
            <i class="fa fa-phone"></i> &nbsp;
            {{ user.name }}
          </td>
          <td style="width:30%">
            {{ user.tel }}
          </td>
          <td style="width:30%">
            {{ user.email }}
          </td>
          <td style="width:10%">
            {{ ctrl.orgName }}
          </td>
          <td style="width:50%">
            {{ user.systemName }}
          </td>
          <td style="width: 1%">
            <a href="oncallers/edit/{{ user.id }}" class="btn btn-inverse btn-mini">
              <i class="fa fa-edit"></i>
              <em translate="i18n_edit"></em>
            </a>
          </td>
          <td style="width: 1%">
            <a ng-click="ctrl.remove(user)" class="btn btn-danger btn-mini">
              <i class="fa fa-remove"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div ng-if="ctrl.editor.index === 1" >
    <table class="grafana-options-table">
      <thead>
        <th translate="i18n_login_name"></th>
        <th translate="i18n_email"></th>
        <th translate="page_admin_org_name"></th>
        <th translate="i18n_operating"></th>
      </thead>
      <tbody>
        <tr ng-repeat="user in ctrl.users">
          <td>{{ user.login }}</td>
          <td>{{ user.email }}</td>
          <td>{{ ctrl.orgName }}</td>
          <td>
            <button ng-click="ctrl.addOncaller(user)" class="btn btn-mini"
              ng-class="{ 'btn-success': !user.added, 'btn-inverse': user.added  }"
              ng-disabled="user.added"
              translate="page_oncaller_add_duty">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  