<navbar text="运维轮班" icon="fa fa-fw fa-phone" subnav="true">
  <ul class="nav">
    <li><a href="oncallerschedule" translate="page_oncaller_schedule"></a></li>
    <li class="active"><a href="oncallers" translate="page_oncaller_duty"></a></li>
  </ul>
</navbar>

<div class="page-container">
  <div class="page-header">
      <h2 ng-show="ctrl.isNew" translate="i18n_enrollment"></h2>
      <h2 ng-show="!ctrl.isNew" translate="i18n_edit"></h2>
  </div>

  <div class="page">
    <form name="oncallerForm">
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px" translate="i18n_name"></li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                          ng-model="ctrl.user.name" placeholder="{{ ctrl.$translate.i18n.i18n_name }}" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px"><em translate="i18n_email"></em></li>
          <li class="tight-form-item">
            {{ ctrl.user.email }}
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px">
            <em translate="i18n_tel"></em>
            <i class="grafana-tip fa fa-question-circle" bs-tooltip="ctrl.$translate.i18n.page_oncaller_send_sms" data-placement="top" html=true></i>
          </li>
          <li><input type="text" class="input-xxlarge tight-form-input last"
                      ng-model="ctrl.user.tel" placeholder="{{ ctrl.$translate.i18n.page_oncaller_send_sms }}" required>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px" translate="i18n_carrier"></li>
          <li>
            <select type="text" class="input-xxlarge tight-form-input last" style="height: 37px"
                    ng-options="f for f in ['att', 'tmobile', 'verizon', 'sprint', 'cricket', 'metro pcs', ctrl.$translate.i18n.i18n_china_mobile, ctrl.$translate.i18n.i18n_china_unicom, ctrl.$translate.i18n.i18n_china_telecom]"
                    ng-model="ctrl.user.carrier" placeholder="carrier" required>
            </select>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- todo: remove org parameter. Use token to retrieve org name in alert-daemon instead -->
      <div class="tight-form">
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px" translate="page_admin_org_name"></li>
          <li class="tight-form-item" style="width: 150px">{{ ctrl.orgName }}<li>
        </li></li>
        </ul>
        <ul class="tight-form-list">
          <li class="tight-form-item" style="width: 100px" translate="i18n_servicename"></li>
          <li class="tight-form-item" style="width: 150px">{{ ctrl.serviceName }}<li>
        </li></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <br>
      <div class="pull-right" style="margin-top: 35px">
        <button type="submit" class="btn btn-success" ng-show="ctrl.isNew" ng-click="ctrl.save()" translate="i18n_create"></button>
        <button type="submit" class="btn btn-success" ng-show="!ctrl.isNew" ng-click="ctrl.save()" translate="i18n_save"></button>
        <a class="btn btn-inverse" href="oncallers" translate="i18n_cancel"></a>
      </div>
      <br>
    </form>
  </div>
</div>