<navbar text="运维轮班" icon="fa fa-fw fa-phone" subnav="true">
  <ul class="nav">
    <li><a href="oncallerschedule">值班表</a></li>
    <li class="active"><a href="oncallers">值班人员</a></li>
  </ul>
</navbar>

<div class="page-container">
  <div class="page-header">
    <h2>值班人员 <i class="fa fa-qrcode pull-right" id="qrcode" ng-click="ctrl.showPopover()" bs-tooltip="'云兴维智公众号'"></i></h2>

    <div class="page-header-tabs">
      <ul class="gf-tabs">
        <li class="gf-tabs-item">
          <a class="gf-tabs-link" ng-click="ctrl.editor.index = 0" ng-class="{active: ctrl.editor.index === 0}">
            已添加 ({{ctrl.oncallerUsers.length}})
          </a>
        </li>
        <li class="gf-tabs-item">
          <a class="gf-tabs-link" ng-click="ctrl.editor.index = 1" ng-class="{active: ctrl.editor.index === 1}">
            系统用户 ({{ctrl.users.length}})
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="ctrl.editor.index === 0" class="tab-content">

    <div ng-if="ctrl.oncallerUsers.length === 0">
      <em>您还没有添加任何值班人员</em>
    </div>

    <table class="grafana-options-table" ng-if="ctrl.oncallerUsers.length !== 0">
      <thead>
        <th>运维人员</th>
        <th>电话</th>
        <th>邮箱</th>
        <th>公司名称</th>
        <th>系统名称</th>
        <th>操作</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in ctrl.oncallerUsers">
          <td style="width:10%">
            <i class="fa fa-phone"></i> &nbsp;
            {{ user.name }}
          </td>
          <td style="width:30%">
            {{ user.tel }}
          </td>
          <td style="width:30%">
            {{ user.email }}
          </td>
          <td style="width:10%">
            {{ ctrl.orgName }}
          </td>
          <td style="width:50%">
            {{ user.systemName }}
          </td>
          <td style="width: 1%">
            <a href="oncallers/edit/{{ user.id }}" class="btn btn-inverse btn-mini">
              <i class="fa fa-edit"></i>
              编辑
            </a>
          </td>
          <td style="width: 1%">
            <a ng-click="ctrl.remove(user)" class="btn btn-danger btn-mini">
              <i class="fa fa-remove"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div ng-if="ctrl.editor.index === 1" >
    <table class="grafana-options-table">
      <thead>
        <th>登录名</th>
        <th>邮箱</th>
        <th>公司名称</th>
        <th>操作</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in ctrl.users">
          <td>{{ user.login }}</td>
          <td>{{ user.email }}</td>
          <td>{{ ctrl.orgName }}</td>
          <td>
            <button ng-click="ctrl.addOncaller(user)" class="btn btn-mini"
              ng-class="{ 'btn-success': !user.added, 'btn-inverse': user.added  }"
              ng-disabled="user.added">
              添加到值班人员
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

