<div class="dashlist {{ ctrl.guideClass }}" ng-class="{ 'active': ctrl.show, 'collapsed': ctrl.collapsed, 'fixed': ctrl.fixed }" ng-if="ctrl.show">
    <div class="dashlist-section">
        <h6 class="dashlist-section-header">
            <button class="dashlist-cta-close-btn" ng-click="ctrl.dismiss()">
                <i class="fa fa-remove"></i>
            </button>
            <button class="dashlist-cta-close-btn guide-close-btn" ng-click="ctrl.collapse()">
                <i class="fa" ng-class="{true: 'fa-plus', false: 'fa-minus'}[ctrl.collapsed]"></i>
            </button>
        </h6>
        <div class="guide-location" ng-hide="ctrl.collapsed">
            <form class="gf-form-group tidy-form">
                <div>
                    <div class="gf-form">
                        <ul class="gf-form-list tidy-form-list" style="text-align:right; overflow: inherit; width: 100%;">
                            <li class="tidy-form-item" ng-if="!ctrl.notMetric">
                                定位到重要异常指标：
                            </li>
                            <li class="tidy-form-item" ng-if="!ctrl.notMetric">
                                <button type="button" class="btn btn-default" ng-model="ctrl.selected.metric" data-placement="bottom-auto"
                                        bs-options="f.name as f.name for f in ctrl.exceptionMetrics" bs-select ng-change="ctrl.onSelectChange();">
                                    请选择<span class="caret"></span>
                                </button>
                            </li>
                            <li class="tidy-form-item" ng-if="ctrl.needHost">
                                机器：
                            </li>
                            <li class="tidy-form-item" ng-if="ctrl.needHost">
                                <button type="button" class="btn btn-default" ng-model="ctrl.selected.host"
                                        bs-options="f.host as f.host for f in ctrl.exceptionHosts" bs-select ng-change="ctrl.onSelectChange();">
                                    请选择<span class="caret"></span>
                                </button>
                            </li>
                            <li class="tidy-form-item">
                                <span class="tight-form-btn btn btn-success btn-small" style="margin: 3px 20px;" ng-click="ctrl.located();">
                                    分析
                                </span>
                            </li>
                            <li class="tidy-form-item" ng-hide="ctrl.stepIndex+1 == ctrl.steps.length">
                                <span class="tight-form-btn btn btn-primary btn-small" style="margin: 3px 20px 3px 0;" ng-click="ctrl.steps[ctrl.stepIndex+1].jumpTo();">
                                    下一步
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <p style="margin: 5px;">异常诊断引导：</p>
        </div>
        <ul class="progress-tracker">
            <li class="progress-step" ng-repeat="step in ctrl.steps" ng-class="step.cssClass">
                <a class="progress-link" href="javascript:;" target="{{step.target}}" ng-click="step.jumpTo()">
                    <span class="progress-marker" ng-class="step.cssClass" ng-hide="ctrl.collapsed">
                        <i class="{{step.icon}}"></i>
                    </span>
                    <span class="progress-text" ng-href="{{step.href}}" target="{{step.target}}">
                        {{step.title}}
                        <info-popover>
                            <div ng-bind-html="step.note"></div>
                        </info-popover>
                    </span>
                </a>
                <a class="btn progress-step-cta" ng-href="{{step.href}}" target="{{step.target}}" ng-click="step.jumpTo()">{{step.cta}}</a>
            </li>
        </ul>
    </div>
</div>
