
.host-page {

  .page-header {
    margin: 0;
    padding: 0;
  }

  // bootstrap-table override
  .fixed-table-container tbody td {
    border-left: 1px solid transparent;
  }

  // gf-tabs override
  .tabbed-view-body {
    padding: 2rem 0;
  }

  .tab-content{
    border: 1px solid #eee;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    .host-list, .host-process, .host-anomaly {
      background-color: #fbfbfb;
    }
  }

  .host-tab-content {
    padding: 20px;
  }

  .host-list {
    .active {
      background-color: rgba(102, 194, 165, 0.12);
    }
  }

  .host-alert-status {
    p > span {
      margin-right: 20px;
    }
  }

  .host-info {
    margin: 0 20px;
  }

  .predictions {
    display: flex;
    flex-direction: row;
    .prediction-item {
      width: 33%;
      position: relative;
      h4 {
        text-align: center;
      }
      em {
        font-weight: bold;
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
      }
    }
    .prediction-item-pie {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
    select {
      width: 76px;
    }
  }

}

.alert-status-page {
  .page-header {
    margin-bottom: 0;
  }
}