.host-page {

  .page-header {
    margin: 0;
    padding: 0;
  }

  // bootstrap-table override
  .fixed-table-container tbody td {
    border-left: 1px solid transparent;
  }

  .tab-content{
    border: $panel-border;
    box-shadow: $navbarShadow;
    .host-list, .host-process, .host-alert-status .host-anomaly, .host-info, .host-prediction {
      background-color: $panel-bg;
    }
  }

  .host-tab-content {
    padding: 20px;
  }

  .host-list {
    .active {
      background-color: rgba(102, 194, 165, 0.12);
    }
  }

  .predictions {
    display: flex;
    flex-direction: row;
    .prediction-item {
      width: 33%;
      position: relative;
      h4 {
        text-align: center;
      }
      em {
        font-weight: bold;
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
      }
    }
    .prediction-item-pie {
      width: 100px;
      height: 100px;
      margin: 0 auto;
    }
    select {
      width: 76px;
    }
  }

}
  
.alert-status-page {
  .page-header {
    margin-bottom: 0;
  }
}