.metrics-def-container  {
  .accordion-group {
    margin: 1rem 0;
    border-radius: 5px;
    box-shadow: 1px 0px 1px $div-box-shadow-color;
    .btn {
      background: $blue;;
      color: $white;
      &.btn-outline-inverse {
        background: $gray;
      }
    }
  }

  .accordion-heading {
    padding: 1rem;
    i {
      margin: 0 1rem;
    }
  }

  .gf-form-label {
    background: none;
    font-weight: bold;
    cursor: default;
  }

  .gf-form-input, select {
    background: none;
    border-radius: 5px;
    margin-right: 5rem;
  }

  div.gf-form-input {
    border: none;
  }

  .gf-form-input:disabled {
    border: none;
    cursor: default;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  .label {
    margin: 0 0.7rem;
    background: none;
    color: rgb(0, 111, 210);
    cursor: default;
  }
  .btn {
    margin: 0 1rem;
    border-radius: 5px;    
  }

  .accordion-inner {
    border: none;
    margin-left: 2rem;
  }

  .delete-btn, .edit-btn {
    font-weight: bold;
  }
  
  .delete-btn {
    color: $red;
  }

  .edit-btn {
    color: $blue;
  }

  .no-data {
    height: 10rem;
    border: 1px dashed $blue;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 10rem;
  }

  .accordion-toggle {
    display: flex;
    align-items: center;
    .metric-name {
      margin: 0;
      width: 700px;
    }
    span {
      display: block;
      width: 150px;
      margin-right: 50px;
    }
  }

  .query-label {
    display: flex;
    & > label{
      display: flex;
      align-items: center;
      margin-right: 2rem;
      margin-left: 0.75rem;
      & > input {
        margin-right: 0.75rem;
      }
    }
  }
}