.rca-page {

  .page-header {
    margin-bottom: 0;
    padding: 0;
  }

  .jtk-demo-canvas {
    max-height: 100%;
  }

  .jtk-canvas {
    background-color: rgba(210, 235, 250, 0.2);
  }

  .jtk-node {
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    z-index: 11;
    overflow: visible;
    min-width: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }

  .jtk-node .name {
    background-color: $blue; // #3E7E9C;
    color: $white; // #f7ebca;
    cursor: move;
    font-size: 14px;
    padding: 0;
    text-align: center;
    line-height: 1.5;
    border-radius: 50%;
    margin: 0 0 20px 0;
    transition: all ease-out .2s;
  }

  .jtk-node .name + div {
    color: $blue;
    position: absolute;
  }

  .jtk-node .name span {
    cursor: pointer;
    word-break: break-all;
  }

  .jtk-node.unselected .name {
    opacity: 0.2;
  }

  .jtk-node.unselected .name + div {
    opacity: 0.2;
    color: rgba(4, 156, 219, 0.2);
  }

  .jtk-connector.unselected path {
    stroke: rgba(216, 217, 218, 0.2);
  }
  .jtk-connector.unselected path:not(:first-child) {
    fill: rgba(216, 217, 218, 0.2);
  }

  .jtk-animate-source {
    .name {
      border: 4px solid rgba(210, 235, 250, 0.7);
    }
  }

  /** applied to a node that a path is traversing on its way to another node */
  .jtk-animate-ode-traversing {
    border: 4px solid orange;
  }

  .jtk-animate-edge-traversable path {

  }

  /** applied to an edge that an overlay is traversing */
  .jtk-animate-edge-traversing path {
    stroke-dasharray: 0 2 2;
    stroke: orange;
    stroke-width: 2;
  }

  .rca-status-green {
    .name {
      background-color: #3DB779;
       & + div  {
         color: #3DB779;
       }
    }
  }

  .rca-status-yellow {
    .name {
      background-color: #FE9805;
       & + div  {
         color: #FE9805;
       }
    }
  }

  .rca-status-red {
    .name {
      background-color: #BB1144;
       & + div  {
         color: #BB1144;
       }
    }
  }

  .rca-status-grey {
    .name {
      background-color: #DBE1EA;
       & + div  {
         color: #DBE1EA;
       }
    }
  }

}