.rca-page {

  .jtk-demo-canvas {
    max-height: 100%;
  }

  .jtk-node {
    background-color: $blue;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    z-index: 11;
    overflow: hidden;
    min-width:10px;
    border-radius: 50%;
  }

  .jtk-node .name {
    background-color: $blue; // #3E7E9C;
    color: $white; // #f7ebca;
    cursor: move;
    font-size: 14px;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
  }

  .jtk-node .name span {
    cursor: pointer;
    word-break: break-all;
  }

  .jtk-animate-source {
    border: 4px solid $warn;
  }

  /** applied to a node that a path is traversing on its way to another node */
  .jtk-animate-ode-traversing {
    border: 4px solid orange;
  }

  .jtk-animate-edge-traversable path {

  }

  /** applied to an edge that an overlay is traversing */
  .jtk-animate-edge-traversing path {
    stroke-dasharray: 0 2 2;
    stroke: orange;
    stroke-width: 2;
  }

}