.table-container {
    background: $panel-bg;
    width: 100%;
    position: fixed;
    top: $navbarHeight;
    z-index: 1;
    left: 0px;
    margin-left: $side-menu-width;
    table {
        width: 100%;
    }

    .text-overflow {
        width: 600px;
        margin: 0px;
        float: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.table-head {
    th {
        color: #2ab2e4;
        text-align: center;
    }
}

.table-body {
    text-align: center;
    max-height: 150px;
    overflow-y: auto;
    tr:nth-child(2n+1) {
        background-color: $table-bg-odd;  // #e4e4e4;
    }
}

.table-foot {
    margin: 5px;
}

.highlight { background-color: yellow }