<navbar icon="fa fa-fw fa-home"></navbar>

<guide guide-class="guide" need-host=true not-metric=true></guide>

<div class="page-container topn-page">

    <div class="page-header">
        <h2 translate="page_topn_title"></h2>
    </div>

    <div>
        <time-window></time-window>
        <div class="clearfix"></div>

        <p> <span translate="page_topn_cur_time"></span>：{{ _.transformMillionTime(ctrl.timePoint) }}</p>
        <div class="process-table" style="overflow-x: auto; width: 100%;">
            <div class="table panel-table">
                <ul>
                    <li translate="page_topn_process_id"></li>
                    <li translate="page_topn_creator"></li>
                    <li translate="page_topn_process"></li>
                    <li translate="page_topn_cpu_usr"></li>
                    <li translate="page_topn_mem_usage"></li>
                    <li translate="page_topn_disk_read"></li>
                    <li translate="page_topn_disk_write"></li>
                    <li translate="page_topn_create_time"></li>
                    <li translate="page_topn_command"></li>
                </ul>
                <div ng-include="'public/app/features/topn/partials/process_topn_graph.html'"></div>
            </div>
            <div ng-hide="ctrl.tableData.length">
                <em translate="page_topn_none"></em>
                <cw-loading show="!ctrl.tableData.length" duration=6000></cw-loading>
            </div>
        </div>
    </div>

</div>