<navbar text="智能分析" icon="fa fa-fw fa-home"></navbar>

<guide guide-class="guide" need-host=true not-metric=true></guide>

<div class="page-container topn-page">

    <div class="page-header">
        <h2>资源消耗</h2>
    </div>

    <div>
        <time-window></time-window>
        <div class="clearfix"></div>

        <p>当前选中时间点：{{ _.transformMillionTime(ctrl.timePoint) }}</p>
        <div class="process-table" style="overflow-x: auto; width: 100%;">
            <div class="table panel-table">
                <ul>
                    <li>进程 ID</li>
                    <li>创建用户</li>
                    <li>进程</li>
                    <li>CPU 使用率</li>
                    <li>内存占用率</li>
                    <li>读硬盘次数</li>
                    <li>写硬盘次数</li>
                    <li>创建时间</li>
                    <li>命令</li>
                </ul>
                <div ng-include="'public/app/features/topn/partials/process_topn_graph.html'"></div>
            </div>
            <div ng-hide="ctrl.tableData.length">
                <em>该时间暂无数据</em>
                <cw-loading show="!ctrl.tableData.length" duration=6000></cw-loading>
            </div>
        </div>
    </div>

</div>