<navbar>

  <a class="pointer navbar-page-btn" ng-if="::!dashboardMeta.isSnapshot" ng-click="openSearch()">
    <i class="icon-gf icon-gf-dashboard"></i>
    <span>{{dashboard.title}}</span>
    <i class="fa fa-caret-down"></i>
  </a>
  
  <a class="pointer navbar-page-btn" ng-if="::dashboardMeta.isSnapshot" data-container="body" bs-tooltip="titleTooltip" data-placement="bottom" ng-click="openSearch()">
    <i class="icon-gf icon-gf-snapshot"></i>
    <span>
      {{dashboard.title}}
      <em class="small">&nbsp;&nbsp;(snapshot)</em>
    </span>
  </a>
  
  <ul class="nav pull-left dashnav-action-icons">
    <li ng-show="::dashboardMeta.canStar">
      <a class="pointer" ng-click="starDashboard()">
        <i class="fa" ng-class="{'fa-star-o': !dashboardMeta.isStarred, 'fa-star': dashboardMeta.isStarred}" style="color: orange;"></i>
      </a>
    </li>
    <li ng-show="::dashboardMeta.canShare" class="dropdown">
      <a class="pointer" ng-click="hideTooltip($event)" data-container="body" bs-tooltip="'{{ 'i18n_share' | translate }}'" data-placement="bottom" data-toggle="dropdown"><i class="fa fa-share-square-o"></i></a>
      <ul class="dropdown-menu">
        <li>
          <a class="pointer" ng-click="shareDashboard(0)">
            <i class="fa fa-link"></i> <em translate="i18n_dash_share_link"></em>
          </a>
        </li>
        <li>
          <a class="pointer" ng-click="shareDashboard(1)">
            <i class="icon-gf icon-gf-snapshot"></i> <em translate="i18n_dash_share_snap"></em>
          </a>
        </li>
      </ul>
    </li>
    <li ng-show="::dashboardMeta.canSave">
      <a ng-click="saveDashboard()" data-container="body" bs-tooltip="'{{ 'i18n_save_dash' | translate }}'" data-placement="bottom"><i class="fa fa-save"></i></a>
    </li>
    <li ng-if="::showSettingsMenu" class="dropdown">
      <a class="pointer" ng-click="hideTooltip($event)" data-container="body" bs-tooltip="'{{ 'i18n_dash_manage' | translate }}'" data-placement="bottom" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
      <ul class="dropdown-menu">
        <li ng-if="dashboardMeta.canEdit"><a class="pointer" ng-click="openEditView('settings');"><em translate="i18n_setting"></em></a></li>
        <li ng-if="dashboardMeta.canEdit"><a class="pointer" ng-click="openEditView('annotations');"><em translate="i18n_annotation"></em></a></li>
        <li ng-if="dashboardMeta.canEdit"><a class="pointer" ng-click="openEditView('templating');"><em translate="i18n_dash_templating"></em></a></li>
        <li ng-if="dashboardMeta.canEdit"><a class="pointer" ng-click="exportDashboard();"><em translate="i18n_export"></em></a></li>
        <li ng-if="dashboardMeta.canEdit"><a class="pointer" ng-click="editJson();"><em translate="i18n_view_json"></em></a></li>
        <li ng-if="contextSrv.isEditor && !dashboard.editable"><a class="pointer" ng-click="makeEditable();"><em translate="i18n_editable"></em></a></li>
        <li ng-if="contextSrv.isEditor"><a class="pointer" ng-click="saveDashboardAs();"><em translate="i18n_saveAs"></em></a></li>
        <li ng-if="dashboardMeta.canSave"><a class="pointer" ng-click="deleteDashboard();"><em translate="i18n_dash_delete"></em></a></li>
      </ul>
    </li>
    <li>
      <a ng-click="newDashboard()" ng-show="::contextSrv.isEditor" data-container="body" bs-tooltip="'{{ 'i18n_dash_new' | translate }}'">
        <i class="fa fa-plus"></i>
      </a>
    </li>
  </ul>
  
  <ul class="nav dash-playlist-actions" ng-if="playlistSrv">
    <li>
      <a ng-click="playlistSrv.prev()"><i class="fa fa-step-backward"></i></a>
    </li>
    <li>
      <a ng-click="playlistSrv.stop()"><i class="fa fa-stop"></i></a>
    </li>
    <li>
      <a ng-click="playlistSrv.next()"><i class="fa fa-step-forward"></i></a>
    </li>
  </ul>
  
  <ul class="nav pull-right">
    <li ng-show="dashboard.meta.fullscreen" class="dashnav-back-to-dashboard">
      <a ng-click="exitFullscreen()" translate="i18n_back_dashboard">
      </a>
    </li>
    <li ng-if="dashboard">
      <gf-time-picker dashboard="dashboard"></gf-time-picker>
    </li>
  </ul>
  
</navbar>
    