<div class="navbar">
	<div class="navbar-inner">
		<a class="navbar-brand-btn pointer" ng-click="ctrl.toggleSideMenu()">
			<span class="navbar-brand-btn-background">
				<img src="public/img/grafana_icon.svg"></img>
			</span>
			<i class="fa fa-caret-down"></i>
			<i class="fa fa-chevron-left"></i>
		</a>

<!-- <a class="pointer navbar-page-btn" ng-if="::dashboardMeta.isSnapshot" data-container="body" bs-tooltip="titleTooltip" data-placement="bottom" ng-click="openSearch()">
	<i class="icon-gf icon-gf-snapshot"></i>
	<span>
		{{dashboard.title}}
		<em class="small">&nbsp;&nbsp;(snapshot)</em>
	</span>
</a>

<ul class="nav pull-left dashnav-action-icons">
	<li ng-show="::dashboardMeta.canStar">
		<a class="pointer" ng-click="starDashboard()">
			<i class="fa" ng-class="{'fa-star-o': !dashboardMeta.isStarred, 'fa-star': dashboardMeta.isStarred}" style="color: orange;"></i>
		</a>
	</li>
	<li ng-show="::dashboardMeta.canShare" class="dropdown">
		<a class="pointer" ng-click="hideTooltip($event)" data-container="body" bs-tooltip="'分享一下'" data-placement="bottom" data-toggle="dropdown"><i class="fa fa-share-square-o"></i></a>
		<ul class="dropdown-menu">
			<li>
				<a class="pointer" ng-click="shareDashboard(0)">
					<i class="fa fa-link"></i> 链接分享
				</a>
			</li>
			<li>
				<a class="pointer" ng-click="shareDashboard(1)">
					<i class="icon-gf icon-gf-snapshot"></i>快照分享
				</a>
			</li>
		</ul>
	</li>
	<li ng-show="::dashboardMeta.canSave">
		<a ng-click="saveDashboard()" data-container="body" bs-tooltip="'保存仪表盘 <br> CTRL+S'" data-placement="bottom"><i class="fa fa-save"></i></a>
	</li>
	<li ng-if="::showSettingsMenu" class="dropdown">
		<a class="pointer" ng-click="hideTooltip($event)" data-container="body" bs-tooltip="'仪表盘管理'" data-placement="bottom" data-toggle="dropdown"><i class="fa fa-cog"></i></a>
		<ul class="dropdown-menu">
			<li ng-if="dashboardMeta.canEdit"><a class="pointer" ng-click="openEditView('settings');">设置</a></li>
			<li ng-if="dashboardMeta.canEdit"><a class="pointer" ng-click="openEditView('annotations');">标注</a></li>
			<li ng-if="dashboardMeta.canEdit"><a class="pointer" ng-click="openEditView('templating');">模板</a></li>
			<li ng-if="dashboardMeta.canEdit"><a class="pointer" ng-click="exportDashboard();">导出</a></li>
			<li ng-if="dashboardMeta.canEdit"><a class="pointer" ng-click="editJson();">查看 JSON</a></li>
			<li ng-if="contextSrv.isEditor && !dashboard.editable"><a class="pointer" ng-click="makeEditable();">可编辑</a></li>
			<li ng-if="contextSrv.isEditor"><a class="pointer" ng-click="saveDashboardAs();">保存为</a></li>
			<li ng-if="dashboardMeta.canSave"><a class="pointer" ng-click="deleteDashboard();">删除仪表盘</a></li>
		</ul>
	</li>
</ul> -->
		<div class="navbar-section-wrapper">
			<a class="navbar-page-btn" ng-click="ctrl.showSearch()">
				<i class="icon-gf icon-gf-dashboard"></i>
				{{ctrl.dashboard.title}}
				<i class="fa fa-caret-down"></i>
			</a>
		</div>

		<ul class="nav dash-playlist-actions" ng-if="ctrl.playlistSrv.isPlaying">
			<li>
				<a ng-click="ctrl.playlistSrv.prev()"><i class="fa fa-step-backward"></i></a>
			</li>
			<li>
				<a ng-click="ctrl.playlistSrv.stop()"><i class="fa fa-stop"></i></a>
			</li>
			<li>
				<a ng-click="ctrl.playlistSrv.next()"><i class="fa fa-step-forward"></i></a>
			</li>
		</ul>

		<ul class="nav pull-left dashnav-action-icons">
			<li ng-show="::ctrl.dashboard.meta.canStar">
				<a class="pointer" ng-click="ctrl.starDashboard()">
					<i class="fa" ng-class="{'fa-star-o': !ctrl.dashboard.meta.isStarred, 'fa-star': ctrl.dashboard.meta.isStarred}" style="color: orange;"></i>
				</a>
			</li>
			<li ng-show="::ctrl.dashboard.meta.canShare" class="dropdown">
				<a class="pointer" ng-click="ctrl.hideTooltip($event)" bs-tooltip="'分享仪表盘'" data-placement="bottom" data-toggle="dropdown"><i class="fa fa-share-square-o"></i></a>
				<ul class="dropdown-menu">
					<li>
						<a class="pointer" ng-click="ctrl.shareDashboard(0)">
							<i class="fa fa-link"></i> 链接
							<div class="dropdown-desc">生成一个网络链接地址到当前仪表盘. 某些配置选项是可使用的.</div>
						</a>
					</li>
					<li>
						<a class="pointer" ng-click="ctrl.shareDashboard(1)">
							<i class="icon-gf icon-gf-snapshot"></i> 快照
							<div class="dropdown-desc">Interactive, publically accessible dashboard. Sensitive data is stripped out.</div>
						</a>
					</li>
					<li>
						<a class="pointer" ng-click="ctrl.shareDashboard(2)">
							<i class="fa fa-cloud-upload"></i> 导出
							<div class="dropdown-desc">导出当前仪表盘数据为一个 JSON 文件.</div>
						</a>
					</li>
				</ul>
			</li>
			<li ng-show="::ctrl.dashboard.meta.canSave">
				<a ng-click="ctrl.saveDashboard()" bs-tooltip="'保存仪表盘 <br> CTRL+S'" data-placement="bottom"><i class="fa fa-save"></i></a>
			</li>
			<li ng-if="::ctrl.dashboard.snapshot.originalUrl">
				<a ng-href="{{ctrl.dashboard.snapshot.originalUrl}}" bs-tooltip="'Open original dashboard'" data-placement="bottom"><i class="fa fa-link"></i></a>
			</li>
			<li class="dropdown">
				<a class="pointer" data-toggle="dropdown">
					<i class="fa fa-cog"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu--navbar">
					<li ng-repeat="navItem in ::ctrl.navModel.menu" ng-class="{active: navItem.active}">
						<a class="pointer" ng-href="{{::navItem.url}}" ng-click="ctrl.navItemClicked(navItem, $event)">
							<i class="{{::navItem.icon}}" ng-show="::navItem.icon"></i>
							{{::navItem.title}}
						</a>
					</li>
				</ul>
			</li>
		</ul>

<!-- <ul class="nav pull-right">
	<li ng-show="dashboard.meta.fullscreen" class="dashnav-back-to-dashboard">
		<a ng-click="exitFullscreen()">
			返回仪表盘
		</a>
	</li>
	<li ng-if="dashboard">
		<gf-time-picker dashboard="dashboard"></gf-time-picker>
	</li>
</ul> -->
		<ul class="nav pull-right">
			<li ng-show="ctrl.dashboard.meta.fullscreen" class="dashnav-back-to-dashboard">
				<a ng-click="ctrl.exitFullscreen()">
					返回仪表盘
				</a>
			</li>
			<li>
				<gf-time-picker dashboard="ctrl.dashboard"></gf-time-picker>
			</li>
		</ul>
	</div>
</div>

<dashboard-search></dashboard-search>
