<!-- <a class="sidemenu__logo" ng-click="ctrl.toggleSideMenu()">
	<img src="public/img/grafana_icon.svg"></img>
</a>

<a class="sidemenu__logo_small_breakpoint" ng-click="ctrl.toggleSideMenuSmallBreakpoint()">
	<i class="fa fa-bars"></i>
	<span class="sidemenu__close"><i class="fa fa-times"></i>&nbsp;Close</span>
</a> -->

<ul class="sidemenu">
	<li ng-repeat="item in ::ctrl.mainLinks" class="dropdown" bs-tooltip="'{{::item.text | translate}}'" data-placement="right" data-container="body" bs-enabled="showTooltip">
		<a class="sidemenu-item sidemenu-main-link" target="{{::item.target}}" ng-click="updateSubmenu(item)">
			<span class="icon-circle sidemenu-icon">
				<i class="{{::item.icon}}" ng-show="::item.icon"></i>
			</span>
			<span class="sidemenu-item-text" translate>{{::item.text}}</span>
		</a>
	</li>
</ul>

<ul class="sidemenu sidemenu-small">
	<li ng-repeat="item in ::ctrl.bottomLinks" class="dropdown clearfix" bs-tooltip="'{{::item.text}}'" data-placement="right" data-container="body" bs-enabled="showTooltip">
		<a class="sidemenu-item sidemenu-main-link" target="{{::item.target}}" ng-click="updateSubmenu(item)">
			<span class="icon-circle sidemenu-icon">
				<i class="{{::item.icon}}" ng-show="::item.icon"></i>
			</span>
			<span class="sidemenu-item-text" translate>{{::item.text}}</span>
		</a>
	</li>

	<li ng-show="::!ctrl.isSignedIn" bs-tooltip="'登录'" data-placement="right" data-container="body" bs-enabled="showTooltip">
		<a href="login" class="sidemenu-item sidemenu-main-link" target="_self">
			<span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-sign-in"></i></span>
			<span class="sidemenu-item-text" translate="i18n_menu_login"></span>
		</a>
	</li>

	<li ng-show="::ctrl.isSignedIn" bs-tooltip="'登出'" data-placement="right" data-container="body" bs-enabled="showTooltip">
		<a href="logout" class="sidemenu-item sidemenu-main-link" target="_self">
			<span class="icon-circle sidemenu-icon"><i class="fa fa-fw fa-sign-out"></i></span>
			<span class="sidemenu-item-text" translate="i18n_menu_logout"></span>
		</a>
	</li>

</ul>
<ul class="sidemenu submenu" ng-if="showSubmenu" ng-class="submenu.class">
	<li>
		<a class="sidemenu-item sidemenu-item-top clearfix" ng-click="hideSubmenu()">
			<span class="icon-circle sidemenu-icon"><i class="{{submenu.icon}}"></i></span>
			<span class="sidemenu-item-text" style="width: 80px; line-height: 46px;" translate>{{submenu.text}}</span>
		</a>
	</li>
	<li ng-repeat="item in submenu.children" class="dropdown">
		<a ng-click="updateThdmenu(item);" class="sidemenu-item clearfix" class="dropdown-toggle" data-toggle="{{item.dropdown}}">
			<span class="sidemenu-item-text" translate>{{item.text}}</span>
			<i class="fa fa-fw fa-angle-right pull-right" style="line-height: 40px;" ng-if="item.children"></i>
		</a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-if="item.children">
			<li ng-repeat="menuItem in item.children">
				<a href="{{menuItem.url}}" translate>
					{{menuItem.text}}
				</a>
			</li>
		</ul>
	</li>
</ul>
<div ng-click="hideSubmenu()" ng-show="showSubmenu" class="sidemenu-cover"></div>
