<tr>
  <td width="1%"></td>
  <th
    ng-repeat="column in columns"
    scope="col"
  >
    <span
      class="table-header-name"
    >
      {{column.text}}
      <button
        id="docTableHeaderFieldSort{{column.text}}"
        ng-if="isSortableColumn(column.text)"
        aria-label="{{ getAriaLabelForColumn(column.text) }}"
        class="elkTableHeaderButton"
        ng-class="headerClass(column.text)"
        ng-click="cycleSortOrder(column.text)"
      ></button>
    </span>
    <button
      class="fa fa-remove table-header-move"
      ng-click="removeColumn(column)"
      ng-if="canRemoveColumn(column)"
      bs-tooltip="'删除该栏'"
      aria-label="Remove {{column.text}} column"
    ></button>
    <button
      class="fa fa-angle-double-left table-header-move"
      ng-click="moveColumnLeft(column)"
      ng-if="canMoveColumnLeft(column)"
      bs-tooltip="'向左移动该栏'"
      aria-label="Move {{column.text}} column to the left"
    ></button>
    <button
      class="fa fa-angle-double-right table-header-move"
      ng-click="moveColumnRight(column)"
      ng-if="canMoveColumnRight(column)"
      bs-tooltip="'向右移动该栏'"
      aria-label="Move {{column.text}} column to the right"
    ></button>
  </th>
</tr>
