<navbar icon="fa fa-fw fa-users">

</navbar>
<div class="page-container">
    <h2 translate="i18n_menu_customer"></h2>
    <table class="grafana-options-table form-inline">
        <tbody>
        <tr>
            <th translate="page_profile_name"></th>
            <th translate="page_admin_org_name"></th>
            <th translate="page_admin_users_email"></th>
            <th translate="page_customers_tel"></th>
            <th translate="page_customers_scale"></th>
            <th translate="page_customers_create_time"></th>
            <th translate="i18n_status"></th>
        </tr>
        <tr ng-repeat="customer in customers">
            <td>{{customer.Name}}</td>
            <td width="20%">{{customer.Org}}</td>
            <td>{{customer.Email}}</td>
            <td>{{customer.Phone}}</td>
            <td>{{customer.Scale}}人以下</td>
            <td>{{customer.Created}}</td>
            <td>{{customer.Status}}</td>
        </tr>
        </tbody>
    </table>
</div>