.clearfix {
  @include clearfix();
}

.highlight-word {
  color: $brand-primary;
}

.emphasis-word {
  font-weight: 500;
  color: $text-color-emphasis;
}

// Close icons
// --------------------------------------------------
.close {
  @include opacity(20);

  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: $line-height-base;
  color: $black;
  text-shadow: 0 1px 0 rgba(255,255,255,1);

  &:hover,
  &:focus {
    color: $black;
    text-decoration: none;
    cursor: pointer;
    @include opacity(40);
  }
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

//
// Utility classes
// --------------------------------------------------

.text-overflow {
  @include text-overflow();
}


// Quick floats
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

// Toggling content
.hide {
  display: none;
}

.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden !important;
}

// For Affix plugin
.affix {
  position: fixed;
}

.status-color {
  transition: all .2s ease;
}
.status-green {
  color: nth($thresholds-color, 1) !important;
  &:hover {
    color: nth($thresholds-hover-color, 1) !important;
  }
}
.status-yellow {
  color: nth($thresholds-color, 3) !important;
  &:hover {
    color: nth($thresholds-hover-color, 3) !important;
  }
}
.status-red {
  color: nth($thresholds-color, 5) !important;
  &:hover {
    color: nth($thresholds-hover-color, 5) !important;
  }
}

.bg-green {
  background-color: nth($thresholds-color, 1) !important;
  &:hover {
    background-color: nth($thresholds-hover-color, 1) !important;
  }
}
.bg-yellow {
  background-color: nth($thresholds-color, 3) !important;
  &:hover {
    background-color: nth($thresholds-hover-color, 3) !important;
  }
}
.bg-red {
  background-color: nth($thresholds-color, 5) !important;
  &:hover {
    background-color: nth($thresholds-hover-color, 5) !important;
  }
}
.bg-grey {
  background-color: nth($thresholds-color, 6) !important;
  &:hover {
    background-color: nth($thresholds-hover-color, 6) !important;
  }
}
.trigger-red {
  background-color: rgba(246, 0, 0, 0.54);
}
.trigger-yellow {
  background-color: rgba(237, 129, 40, 0.52);
}