.navbar {
  display: block;
  overflow: visible;
  position: relative;
  z-index: $zindex-navbar;
}

.navbar-inner {
  min-height: $navbarHeight;
  // padding-right: $spacer;
  background-color: $navbarBackground;
  border-bottom: $navbarBorder;
  @include clearfix();
}

.navbar .nav {
  position: relative;
  left: 0;
  float: left;
}

.navbar .nav.pull-right {
  float: right; // redeclare due to specificity
  margin-right: 0; // remove margin on float right nav
}

.navbar .nav > li {
  float: left;
}

// Links
.navbar .nav > li > a {
  float: none;
  padding: 17px 13px 13px;
  color: $navbarLinkColor;
  text-decoration: none;

  .fa { font-size: 115%; }
}

// Hover/focus
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: $navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover/:focus from .active
  color: $navbarLinkColorHover;
  text-decoration: none;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $navbarLinkColorActive;
  text-decoration: none;
  background-color: $navbarLinkBackgroundActive;
}

.navbar-brand-btn {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  background-color: $navbarButtonBackground;
  padding: 0.4rem 1.0rem 0.4rem 1rem;
  width: $side-menu-width / 2;

  &:hover {
    background: $navbarButtonBackgroundHighlight;
  }

  img {
    width: 40px;
    position: relative;
  }

  .navbar-brand-btn-background {
    display: flex;
    padding: 4px;
    border-radius: 50%;
    background: transparent;
    width: 40px;
    height: 40px;
    align-content: center;
    span {
      font-size: 20px;
      font-weight: 600;
      color: $white;
      margin: 0 8px 0 6px;
      display: none;
    }
    i.toggle-menu-btn {
      height: 32px;
      line-height: 32px;
      margin: 0 0 0 20px;
      cursor: pointer;
    }
  }

  .icon-gf-grafana_wordmark {
    font-size: 21px;
    position: relative;
    top: 4px;
    padding-left: 5px;
    display: none;
  }
}

.navbar-toggle-menu-btn {
  padding: 1.2rem 1rem 0.9rem 1rem;
  border-right: 1px solid $tight-form-border;
  background-color: $navbarButtonBackground;
}

.navbar-page-btn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  display: block;
  margin: 0;
  font-size: 1.4em;
  border-right: 1px solid $tight-form-border;
  color: darken($link-color, 5%);
  background-color: $navbarButtonBackground;
  font-size: $font-size-lg;
  padding: 1rem 1rem 0.7rem 1rem;

  &:hover {
    background: $navbarButtonBackgroundHighlight;
    color: $link-color;
  }

  .icon-gf {
    position: relative;
    top: 2px;
    font-size: 20px;
    line-height: 8px;
  }

  > img {
    max-width: 27px;
    max-height: 27px;
  }
}

.navbar-shortcut-btn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  display: block;
  margin: 1rem 0 0.7rem 0;
  font-size: 1.4em;
  border-right: 1px solid $tight-form-border;
  color: darken($link-color, 5%);
  font-size: $font-size-lg;
  padding: 0 1rem;

  &:hover {
    color: $link-color;
  }

  &:last-child {
    border: none;
  }
}

.sidemenu-pinned {
  .navbar-brand-btn {
    border-right: none;
    background-color: $dark-2;
    width: $side-menu-width;

    .icon-gf-grafana_wordmark  {
      display: inline-block;
    }

    .navbar-brand-btn-background {
      span {
        display: block;
      }
    }

  }
}

@media (max-height: 800px) {
  .navbar-brand-btn {
    padding: 0.4rem;
  }
  .navbar-toggle-menu-btn {
    border-left: 1px solid $body-bg;
  }
}