
// ------------------------------------
//     Toolbar
// ------------------------------------
.toolbar {
  width: 250px;
  max-width: none;
  padding: 0;
}

.toolbar-content {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.toolbar-item {
  width: 102px;
  height: 90px;
  display: block;
  position: relative;
  margin-bottom: 16px;
  border-radius: 2px;
  border: 1px solid $dropdownDivider;
  transition: all 218ms;
  color: $dropdownLinkColor;
  &:hover {
    color: #3da8f5;
    border-color: #3da8f5;
  }
  .item-name {
    width: 100%;
    bottom: 0px;
    font-size: 13px;
    line-height: 13px;
    position: absolute;
    text-align: center;
    margin: 10px 0 17px 0;
  }
  i {
    font-size: 30px;
    position: relative;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
  }
}

.toolbar-icon {
  font-size: 40px;
}

.toolbar-popover .drop-content {
  background-color: $dropdownBackground !important;
  box-shadow: 0px 0px 4px 1px #d8d8d8;
  &:before {
    border-top-color: $dropdownBackground;
  }
}