.tree-menu {
  border: $panel-border;
  display: flex;
  height: 500px;
  width: 350px;
  overflow: hidden;

  &.open { 
    width: 350px;
  }
  &.close {
    width: 28px;
  }
}

.open-tree{
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-isopen {
  padding: 1.5rem 0.5rem;
}

.tree-container{
  width: 300px;
  border-left: $panel-border;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;

  .header {
    line-height: 30px;
    font-size: 18px;
    margin: 10px 0;
    position: relative;
    .btn-group {
      position: absolute;
      top: 0;
      right: 0;
    }
    .btn-group.dropdown {
      top: 1rem;
      right: auto;
      left: 0;
      .dropdown-menu {
        font-size: 10px;
        max-height: 10rem;
        overflow: scroll;
      }
    }
    .panel-time-info {
      font-size: 10px;
    }
  }

  .slider-container {
    .sliders {
      margin: 10px 5px;
      height: 10px;
    }
    .noUi-handle {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      &::before, &::after {
        background-color: transparent;
      }
    }
    .slider-level {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;
    }
  }

  .nav-tabs {
    display: flex;
    margin: 0 -2rem 0 -1rem;
    padding: 0;
    border-bottom: $panel-border;
    & > li {
      flex: 1;
      text-align: center;
      margin-bottom: 0;
      & > button {
        border: none;
        width: 100%;
        line-height: 2rem;
        font-weight: bold;
        &:focus {
          outline: none;
        }
      }
      &.active > button {
        color: $blue;
        background: none;
      }
      
      &.disabled > button {
        color: $white;
        background: darken($panel-bg, 10%);
      }
    }
  }
}

.tree-content{
  flex: 1;
  overflow: auto;

  &.no-data {
    text-align: center;
    padding-top: 50px;
  }
}

.btn-add-metric {
  color: $blue;
  margin: 0 5px;
  cursor: pointer;
}

.tree_li {
  margin: 0.2rem;
  margin-left: 1rem;
  cursor: pointer;
  i {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
  }

  span {
    display: none;
    margin-top: -2rem;
    i {
      margin: 0 5px;
    }
  }
  &:hover {
    & > span {
      display: block;
    }
  }
}

.tree_leaf {
  display: flex;
  align-items: center;
  input {
    margin-right: 5px;
  }
  p {
    width: 130px;
    margin: 0;
    @include text-overflow();
  }
}

.tree_node {
  display: flex;
  align-items: center;
  p {
    width: 200px;
    margin: 0;
    line-height: 24px;
    @include text-overflow();
  }
}