.tree-menu {
  border: $panel-border;
  display: flex;
  height: 500px;
  width: 350px;

  &.open { 
    width: 350px;
  }
  &.close {
    width: 28px;
  }
}

.open-tree{
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-isopen {
  padding: 1.5rem 0.5rem;
}

.tree-container{
  width: 300px;
  border-left: $panel-border;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  justify-content: center;

  .header {
    line-height: 30px;
    font-size: 18px;
    margin: 0;
  }

  .slider-container {
    display: flex;
    align-items: center;
    .sliders {
      flex: 1;
      margin: 0 5px;
      height: 10px;
    }
    .noUi-handle {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      &::before, &::after {
        background: none;
      }
    }
  }
}

.tree-content{
  flex: 1;
  overflow: scroll;

  &.no-data {
    text-align: center;
    padding-top: 50px;
  }
}

.btn-add-metric {
  color: $blue;
  margin: 0 5px;
  cursor: pointer;
}

.tree_li {
  margin: 0.2rem;
  margin-left: 1rem;
  cursor: pointer;
  i {
    margin-left: -0.5rem;
    margin-right: 0.5rem;
    background: $white;
  }
}

.tree_leaf {
  display: flex;
  align-items: center;
  input {
    margin-right: 5px;
  }
  p {
    width: 130px;
    margin: 0;
    @include text-overflow();
  }
  span {
    display: none;
    i {
      margin: 0 5px;
    }
  }

  &:hover {
    span {
      display: block;
    }
  }
}

.tree_node {
  display: flex;
  align-items: center;
  p {
    width: 200px;
    margin: 0;
    line-height: 24px;
    @include text-overflow();
  }
}