<navbar icon="fa fa-fw fa-cloud-download" title="安装指南" title-url="/setting/agent">
  <ul class="nav">
      <li><a href="/setting/agent">安装探针</a></li>
      <li><a href="/setting/service">安装服务</a></li>
      <li class="active"><a href="/setting/filebeat">日志收集配置</a></li>
      <li><a href="/setting/proxy">内网代理设置</a></li>
  </ul>
</navbar>
<div class="page-container">
  <h2>日志收集配置<span style="font-size:14px; margin-left:20px;">* 注意: 请严格按照参考实例格式</span></h2>
  <h4>1. 修改日志配置文件</h4>
  <ul style="list-style:none;">
    <li>
      <p style="word-break: break-all">查找配置文件</p>
      <div class="tight-form last">
        <p class="code-block">/opt/cloudwiz-agent/filebeat/user.conf</p>
        <p class="code-block"># 注：windows用户请查找 c:\opt\cloudwiz-agent\filebeat\user.conf</p>
      </div>
      <p style="word-break: break-all">修改配置文件</p>
      <div class="tight-form last">
        <p class="code-block">[log_x] # 一个日志的名字 命名规则log_x, x是字母数字的字符串</p>
        <p class="code-block">document_type = filebeat # 搜索使用的_type</p>
        <p class="code-block">path = /opt/cloudwiz-agent/altenv/var/log/filebeat.log  # 需要上传的日志路径,多个路径请使用","隔开</p>
        <p class="code-block"># 注: windows用户 path = c:\opt\cloudwiz-agent\altenv\var\log\filebeat.log</p>
        <p class="code-block">pattern = ^[0-9]{4}-[0-9]{2}-[0-9]{2}  # 标记上传日志的开始的正则表达式,若没有这个属性,则默认为空字符串</p>
      </div>
    </li>
  </ul>

  <h4>2. 相关操作<span style="font-size:12px; margin-left:20px;">* 注意: 执行以下操作需要root权限</span></h4>
  <ul style="list-style:lower-roman;">
    <li>
      <p style="word-break: break-all">完成以上配置后,请重启filebeat</p>
      <div class="tight-form last">
        <p  class="code-block">/opt/cloudwiz-agent/altenv/bin/supervisorctl restart cloudwiz-agent:filebeat</p>
      </div>
    </li>
    <li>
      <p style="word-break: break-all">完成安装启动后,您可以检查其状态</p>
      <div class="tight-form last">
        <p  class="code-block">/opt/cloudwiz-agent/altenv/bin/supervisorctl status</p>
      </div>
      <p style="word-break: break-all">如果显示以下信息,则说明配置成功</p>
      <div class="tight-form last">
        <p  class="code-block">cloudwiz-agent:collector         RUNNING   pid 4818, uptime 5 days, 15:32:59</p>
        <p  class="code-block bold">cloudwiz-agent:filebeat          RUNNING   pid 45495, uptime 3 days, 20:14:35
        <p  class="code-block">cloudwiz-agent:uagent            RUNNING   pid 4817, uptime 5 days, 15:32:59</p>
      </div>
    </li>
    <li>
      <p style="word-break: break-all">停止</p>
      <div class="tight-form last">
        <p class="code-block">/opt/cloudwiz-agent/altenv/bin/supervisorctl stop cloudwiz-agent:filebeat</p>
      </div>
    </li>
    <li>
      <p style="word-break: break-all">启动</p>
      <div class="tight-form last">
        <p class="code-block">/opt/cloudwiz-agent/altenv/bin/supervisorctl start cloudwiz-agent:filebeat</p>
      </div>
    </li>
  </ul>

  <h4>3. 了解更多</h4>
  <p>如果您想了解更多关于filebeat的相关信息，
    <a href="https://www.elastic.co/guide/en/beats/filebeat/current/configuration-filebeat-options.html" target="_blank" style="color:blue">请点击这里</a>
  </p>

</div>

