<navbar icon="fa fa-fw fa-cloud-download" title="安装指南" title-url="/setting/agent">
  <ul class="nav">
      <li class="active"><a href="/setting/agent">安装探针</a></li>
      <li><a href="/setting/service">安装服务</a></li>
      <li><a href="/setting/filebeat">日志收集配置</a></li>
      <li><a href="/setting/proxy">内网代理设置</a></li>
  </ul>
</navbar>

<div class="page-container setup-container">
  <ul class="tab-list pull-left">
    <li>请选择操作系统:</li>
    <li ng-repeat="item in platform" ng-click="changeSelect(item)" ng-class="{'active':item.host === selected.host}">
      <i class="{{item.icon}}"></i>
      {{item.host}}
    </li>
  </ul>
  <div class="tab-container">
    <a ng-click="nextEvent('back')" class="pull-right">返回</a>
    <div ng-if="!selected" style="height: 100%; overflow: hidden;">
      <img src="public/img/chooseHost.png" alt=""/>
    </div>
    <div ng-if="selected">
      <h3>您将在【{{system}}】下{{type}}【{{selected.host}}】探针</h3>

      <h5>您也可以选择<span class="btn-update" ng-click="updateType('安装')">安装</span>或<span class="btn-update" ng-click="updateType('更新')">更新</span>探针</h5>

      <h4>1. {{type}}部署</h4>
      <h5>* 您可以选择一键{{type}}</h5>
      <ul class="tight-form last">
        <li ng-if="selected.addr !== 'windows'" style="word-break: break-all">
          sudo ORG_TOKEN={{token}} CLIENT_ID={{orgId}} SYSTEM_ID={{systemId}} METRIC_SERVER_HOST={{metricsServer}} ALERTD_SERVER={{alertServer}} AGENT_URL=https://download.cloudwiz.cn/agent bash -c "$(curl -kL https://download.cloudwiz.cn/agent/deploy_agent.sh)"{{updateAuto}}
        </li>
        <li ng-if="selected.addr === 'windows'" style="word-break: break-all">
          powershell -Command if ( !(Test-Path C:\tmp)){ new-item -path c:\  -name tmp -type directory;} Set-ExecutionPolicy unrestricted; $client = new-object System.Net.WebClient;$client.DownloadFile('https://download.cloudwiz.cn/agent/windows_deploy_agent.ps1','C:/tmp/windows_deploy_agent.ps1'); $ORG_TOKEN='{{token}}';$CLIENT_ID='{{orgId}}';$SYSTEM_ID='{{systemId}}';$METRIC_SERVER_HOST='{{metricsServer}}';$ALERTD_SERVER='{{alertServer}}';$AGENT_URL='https://download.cloudwiz.cn/agent';$ONLINE=1;$UPDATE={{updateAuto}};$OS_VERSION='{{selected.version}}';c:/tmp/windows_deploy_agent.ps1;
        </li>
      </ul>

      <h5 style="cursor: pointer;" ng-click="installManual = !installManual">* 如果您希望手动{{type}},请点击这里<i style="margin-left:10px;" ng-class="{true:'fa fa-hand-o-down',false:'fa fa-hand-o-left'}[installManual]"></i></h5>
      <ul ng-if="installManual && selected.addr !== 'windows'" style="list-style:lower-roman;">
        <li>
          <p style="word-break: break-all">创建文件安装目录</p>
          <div class="tight-form last">
            <p style="word-break: break-all">/tmp/publish/{{selected.addr}}/</p>
          </div>
        </li>
        <li>
          <p style="word-break: break-all">下载相关文件</p>
          <div class="tight-form last">
            <p style="word-break: break-all">wget https://download.cloudwiz.cn/agent/deploy_agent.sh</p>
            <p style="word-break: break-all">wget https://download.cloudwiz.cn/agent/{{selected.addr}}/agent.tar.gz</p>
            <p style="word-break: break-all">wget https://download.cloudwiz.cn/agent/{{selected.addr}}/agent.tar.gz.md5</p>
          </div>
        </li>
        <li>
          <p style="word-break: break-all">修改文件权限</p>
          <div class="tight-form last">
            <p style="word-break: break-all">chmod +x deploy_agent.sh</p>
          </div>
        </li>
        <li>
          <p style="word-break: break-all">部署探针</p>
          <div class="tight-form last">
            <p style="word-break: break-all">sudo ORG_TOKEN={{token}} CLIENT_ID={{orgId}} SYSTEM_ID={{systemId}} METRIC_SERVER_HOST={{metricsServer}} ALERTD_SERVER={{alertServer}} ./deploy_agent.sh{{updateSelf}}</p>
          </div>
        </li>
      </ul>
      <ul ng-if="installManual && selected.addr === 'windows'" style="list-style:lower-roman;">
        <li>
          <p style="word-break: break-all">下载相关文件至 c:/tmp/publish/windows/</p>
          <div class="tight-form last">
            <p style="word-break: break-all"><a style="color: blue;" href="https://download.cloudwiz.cn/agent/windows_deploy_agent.ps1" download="windows_deploy_agent.ps1">windows_deploy_agent.ps1 https://download.cloudwiz.cn/agent/windows_deploy_agent.ps1;</a></p>
            <p style="word-break: break-all"><a style="color: blue;" href="https://download.cloudwiz.cn/agent/windows/cloudwiz-agent-amd64.zip">cloudwiz-agent-amd64.zip https://download.cloudwiz.cn/agent/windows/cloudwiz-agent-amd64.zip</a></p>
          </div>
        </li>
        <li>
          <p style="word-break: break-all">部署探针</p>
          <div class="tight-form last">
            <p style="word-break: break-all">
              powershell -Command if ( !(Test-Path C:\tmp)){ new-item -path c:\  -name tmp -type directory;} Set-ExecutionPolicy unrestricted; $ORG_TOKEN='{{token}}';$CLIENT_ID='{{orgId}}';$SYSTEM_ID='{{systemId}}';$METRIC_SERVER_HOST='{{metricsServer}}';$ALERTD_SERVER='{{alertServer}}';$AGENT_URL='https://download.cloudwiz.cn/agent';$ONLINE=0;$UPDATE={{updateAuto}};$OS_VERSION='{{selected.version}}';c:/tmp/publish/windows/windows_deploy_agent.ps1;
            </p>
          </div>
        </li>
      </ul>

      <h4>2. 启动探针</h4>
      <ul class="tight-form last">
        <li ng-if="selected.addr !== 'windows'" style="word-break: break-all">sudo /etc/init.d/cloudwiz-agent start</li>
        <li ng-if="selected.addr === 'windows'" style="word-break: break-all">/opt/cloudwiz-agent/altenv/bin/supervisorctl.bat start all</li>
      </ul>

      <div ng-if="selected.addr === 'windows'">
        <h4 class="pointer" ng-click="otherQuestion = !otherQuestion">3. 其他<i style="margin-left:10px;" ng-class="{true:'fa fa-hand-o-down',false:'fa fa-hand-o-left'}[otherQuestion]"></i></h4>
        <ul ng-if="otherQuestion">
          <li>
            <p style="word-break: break-all; font-weight: bold;">1). 私有云用户请修改相关参数</p>
            <p style="word-break: break-all">i. 运行以下命令</p>
            <div class="tight-form last">
              <p style="word-break: break-all">/opt/cloudwiz-agent/agent/cloudwiz-service.exe edit cloudwiz-agent:collector</p>
            </div>
            <p style="word-break: break-all">ii. 修改 Application >> Arguments 参数</p>
            <div class="tight-form last">
              <p style="word-break: break-all">a. 删除 '--ssl'</p>
              <p style="word-break: break-all">b. 将port中'443' 修改为 '4242'</p>
            </div>
            <p style="word-break: break-all">iii. 重启探针</p>
            <div class="tight-form last">
              <p style="word-break: break-all">/opt/cloudwiz-agent/altenv/bin/supervisorctl.bat restart all</p>
            </div>
          </li>
        </ul>
      </div>

    <div class="pull-right installed">
      <button ng-click="nextEvent('skip')" class="btn btn-inverse" ng-if="installed">跳过</button>
      <button ng-click="nextEvent('import')" class="btn btn-success" ng-disabled="!installed">导入报警规则</button>
      <button ng-click="createTemp()" class="btn btn-success" ng-disabled="hostDashboard">导入模板</button>
      <button ng-click="nextEvent('next')" class="btn btn-primary" ng-disabled="!installed">下一步</button>
    </div>

  </div>
</div>

