<navbar icon="fa fa-fw fa-cloud-download" title="安装指南" title-url="/setting/agent">
  <ul class="nav">
      <li class="active"><a href="/setting/agent">安装探针</a></li>
      <li><a href="/setting/service">安装服务</a></li>
      <li><a href="/setting/log">日志收集配置</a></li>
      <li><a href="/setting/proxy">内网代理设置</a></li>
      <li><a href="/setting/problems">常见问题</a></li>
  </ul>
</navbar>

<div class="page-container setup-container">
  <ul class="tab-list pull-left">
    <li>请选择操作系统:</li>
    <li ng-repeat="item in platform" ng-click="changeSelect(item)" ng-class="{'active':item.host === selected.host}">
      <i class="{{item.icon}}"></i>
      {{item.host}}
    </li>
  </ul>
  <div class="tab-container">
    <button class="btn btn-primary pull-right btn-small" ng-click="nextEvent('back')">返回</button>
    <div ng-if="!selected" style="margin-top: 20px; height: 100%; overflow: hidden;">
      <img src="public/img/chooseHost.png" alt=""/>
    </div>
    <div ng-if="selected">
      <h1>您将在【{{system}}】下{{type}}【{{selected.host}}】探针</h1>
      <p><br></p>
      <h2>您也可以选择<span class="btn-update" ng-click="updateType('安装')">安装</span>或<span class="btn-update" ng-click="updateType('更新')">更新</span>探针</h2>
      <p><br></p>
      <h2>1. {{type}}部署</h2>
      <p class="ql-indent-1"><strong>* 您可以选择一键{{type}}</strong></p>
      <pre class="ql-syntax ql-indent-1" ng-if="selected.addr !== 'windows'">sudo ORG_TOKEN={{token}} CLIENT_ID={{orgId}} SYSTEM_ID={{systemId}} METRIC_SERVER_HOST={{metricsServer}} ALERTD_SERVER={{alertServer}} AGENT_URL={{agentUrl}} bash -c "$(curl -kL {{agentUrl}}/deploy_agent.sh)"{{updateAuto}}</pre>
      <pre class="ql-syntax ql-indent-1" ng-if="selected.addr === 'windows'">powershell -Command if ( !(Test-Path C:\tmp)){ new-item -path c:\  -name tmp -type directory;} Set-ExecutionPolicy unrestricted; $client = new-object System.Net.WebClient;$client.DownloadFile('{{agentUrl}}/windows_deploy_agent.ps1','C:/tmp/windows_deploy_agent.ps1'); $ORG_TOKEN='{{token}}';$CLIENT_ID='{{orgId}}';$SYSTEM_ID='{{systemId}}';$METRIC_SERVER_HOST='{{metricsServer}}';$ALERTD_SERVER='{{alertServer}}';$AGENT_URL='{{agentUrl}}';$ONLINE=1;$UPDATE={{updateAuto}};$OS_VERSION='{{selected.version}}';c:/tmp/windows_deploy_agent.ps1;</pre>
      <p class="ql-indent-1" style="cursor: pointer;" ng-click="installManual = !installManual"><strong>* 如果您希望手动{{type}},请点击这里<i style="margin-left:10px;" ng-class="{true:'fa fa-hand-o-down',false:'fa fa-hand-o-left'}[installManual]"></i></strong></p>
      <div ng-if="installManual && selected.addr !== 'windows'">
        <p class="ql-indent-1"><strong>创建文件安装目录</strong></p>
        <pre class="ql-syntax ql-indent-1">/tmp/publish/{{selected.addr}}/</pre>
        <p class="ql-indent-1"><strong>下载相关文件</strong></p>
        <pre class="ql-syntax ql-indent-1">wget {{agentUrl}}/deploy_agent.sh
wget {{agentUrl}}/{{selected.addr}}/agent.tar.gz
wget {{agentUrl}}/{{selected.addr}}/agent.tar.gz.md5</pre>
        <p class="ql-indent-1"><strong>修改文件权限</strong></p>
        <pre class="ql-syntax ql-indent-1">chmod +x deploy_agent.sh</pre>
        <p class="ql-indent-1"><strong>部署探针</strong></p>
        <pre class="ql-syntax ql-indent-1">sudo ORG_TOKEN={{token}} CLIENT_ID={{orgId}} SYSTEM_ID={{systemId}} METRIC_SERVER_HOST={{metricsServer}} ALERTD_SERVER={{alertServer}} ./deploy_agent.sh{{updateSelf}}</pre>
      </div>

      <div ng-if="installManual && selected.addr === 'windows'">
        <p class="ql-indent-1"><strong>下载下列文件至 c:/tmp/publish/windows/</strong></p>
        <p class="ql-indent-1"><a style="color: blue;" href="{{agentUrl}}/windows_deploy_agent.ps1" download="windows_deploy_agent.ps1">windows_deploy_agent.ps1</a></p>
        <p class="ql-indent-1"><a style="color: blue;" href="{{agentUrl}}/windows/cloudwiz-agent-amd64.zip">cloudwiz-agent-amd64.zip</a></p>
        <p class="ql-indent-1"><strong>部署探针</strong></p>
        <pre class="ql-syntax ql-indent-1">powershell -Command if ( !(Test-Path C:\tmp)){ new-item -path c:\  -name tmp -type directory;} Set-ExecutionPolicy unrestricted; $ORG_TOKEN='{{token}}';$CLIENT_ID='{{orgId}}';$SYSTEM_ID='{{systemId}}';$METRIC_SERVER_HOST='{{metricsServer}}';$ALERTD_SERVER='{{alertServer}}';$AGENT_URL='{{agentUrl}}';$ONLINE=0;$UPDATE={{updateAuto}};$OS_VERSION='{{selected.version}}';c:/tmp/publish/windows/windows_deploy_agent.ps1;</pre>
      </div>

      <h2>2. 启动探针</h2>
      <pre class="ql-syntax ql-indent-1" ng-if="selected.addr !== 'windows'">sudo /etc/init.d/cloudwiz-agent start</pre>
      <pre class="ql-syntax ql-indent-1" ng-if="selected.addr === 'windows'">/opt/cloudwiz-agent/altenv/bin/supervisorctl.bat start all</pre>

      <div ng-if="selected.addr === 'windows'">
        <h2 class="pointer" ng-click="otherQuestion = !otherQuestion">3. 其他<i style="margin-left:10px;" ng-class="{true:'fa fa-hand-o-down',false:'fa fa-hand-o-left'}[otherQuestion]"></i></h2>
        <div ng-if="otherQuestion">
          <p class="ql-indent-1"><strong>私有云用户请修改相关参数</strong></p>
          <p class="ql-indent-1"><strong>i. 运行以下命令</strong></p>
          <pre class="ql-syntax ql-indent-1">/opt/cloudwiz-agent/agent/cloudwiz-service.exe edit cloudwiz-agent:collector</pre>
          <p class="ql-indent-1"><strong>ii. 修改 Application >> Arguments 参数</strong></p>
          <p class="ql-indent-1"><strong>a. 删除 '--ssl'</strong></p>
          <p class="ql-indent-1"><strong>b. 将port中'443' 修改为 '4242'</strong></p>
          <p class="ql-indent-1"><strong>iii. 重启探针</strong></p>
          <pre class="ql-syntax ql-indent-1">/opt/cloudwiz-agent/altenv/bin/supervisorctl.bat restart all</pre>
        </div>
      </div>

    <div class="pull-right installed">
      <button ng-click="nextEvent('skip')" class="btn btn-inverse" ng-if="installed">跳过</button>
      <button ng-click="nextEvent('import')" class="btn btn-success" ng-disabled="!installed">导入报警规则</button>
      <button ng-click="createTemp()" class="btn btn-success" ng-disabled="hostDashboard">导入模板</button>
      <button ng-click="nextEvent('next')" class="btn btn-primary" ng-disabled="!installed">下一步</button>
    </div>

  </div>
</div>

