<navbar icon="fa fa-fw fa-cloud-download" title="安装指南" title-url="/setting/agent">
  <ul class="nav">
      <li><a href="/setting/agent">安装探针</a></li>
      <li class="active"><a href="/setting/service">安装服务</a></li>
      <li><a href="/setting/log">日志收集配置</a></li>
      <li><a href="/setting/proxy">内网代理设置</a></li>
  </ul>
</navbar>

<div class="page-container">
  <div class="grafana-info-box" style="margin: 20px 0 25px 0">
    <p>完成机器探针的安装后,请在相应机器上运行指定服务启动命令,来启动服务探针。</p>
    <p>成功启动探针后,您可以点击"导入模板"按钮,在"指标浏览"中您可以看到相应服务的指标信息。</p>
    <p>详情请点击下列服务查看。</p>
  </div>
  <h3>
    <i class="iconfont fa-clound icon-install"></i>
    已经安装服务
  </h3>
  <div class="service-list">
    <div class="service-item" ng-repeat="installed in services | filter:{status: 0}" ng-click="showDetail(installed)">
      <div class="service-cover">
        <p class="service-info">{{installed.info}}</p>
      </div>
      <div class="service-msg">
        <i class="{{installed.icon}}"></i>
        <p class="service-name">{{installed.name}}</p>
      </div>
      <button class="btn-install">详情</button>
    </div>
    <div class="service-item service-err" ng-repeat="installed in services | filter:{status: 2}" ng-click="showDetail(installed)">
      <div class="service-cover">
        <p class="service-info">{{installed.info}}</p>
      </div>
      <div class="service-msg">
        <i class="{{installed.icon}}"></i>
        <p class="service-name">{{installed.name}}</p>
      </div>
      <button class="btn-install">详情</button>
    </div>
  </div>
  <h3>
    <i class="iconfont fa-cloud1 icon-install"></i>
    您尚未安装服务
  </h3>
  <div class="service-list">
    <div class="service-item" ng-repeat="uninstall in services | filter:{status: -1}" ng-click="showDetail(uninstall)">
      <div class="service-cover">
        <p class="service-info">{{uninstall.info}}</p>
      </div>
      <div class="service-msg">
        <i class="{{uninstall.icon}}"></i>
        <p class="service-name">{{uninstall.name}}</p>
      </div>
      <button class="btn-install">安装</button>
    </div>
  </div>
</div>

