<div class="service-list service-tab-content">
  <div ng-hide="ctrl.servicePanel.length">
    <em>暂没有任何机器数据</em>
    <cw-loading show="!ctrl.servicePanel.length" duration=6000></cw-loading>
  </div>
  <table class="table service-panel-table" ng-show="ctrl.servicePanel.length">
    <thead>
      <tr>
        <th>服务名</th>
        <th>服务 ID</th>
        <!-- <th>服务是否中断</th> -->
        <th>开始运行时间</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in ctrl.servicePanel"
          ng-class="{active: item.name==ctrl.currentService.name}"
          ng-click="ctrl.nodeClickHandle(item);">
        <td>{{ item.name }}</td>
        <td>{{ item.id || '-' }}</td>
        <!-- <td>{{ item.isStop || '-' }}</td> -->
        <td>{{ item.createdAt | date:'yyyy-MM-dd HH:mm:ss' || '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>