<navbar title="系统总览" icon="fa fa-fw fa-home"></navbar>

<div class="page-container" style="padding-left:20px;">

    <div class="page-header">
        <h2>
            创建服务依赖
        </h2>
    </div>

    <div class="build-service-depend">

        <div class="sidebar node-palette">
            <ul>
                <li title="Drag to add new"
                    ng-repeat="obj in ctrl.draggableTypes"
                    data-node-id="{{ obj.id }}"
                    data-node-key="{{ obj.key }}">
                    {{ obj.label }}
                </li>
            </ul>
        </div>

        <div class="jtk-page-container">
            <div class="jtk-container">
        
                <script type="jtk" id="tmplNode">
                    <div>
                        <div class="name">
                            <i class="${icon} service-icon"></i>
                            <div class="delete" title="Click to delete">
                                <i class="fa fa-times"></i>
                            </div>
                            <span>${name}</span>
                        </div>
                        <div class="connect"></div>
                        <jtk-source filter=".connect"></jtk-source>
                        <jtk-target></jtk-target>
                    </div>
                </script>
        
                <div class="jtk-main" id="jtk-paths">
                    <div class="jtk-canvas canvas-wide">
                        <div class="controls">
                            <i class="fa fa-arrows selected-mode" mode="pan" title="Pan Mode"></i>
                            <i class="fa fa-pencil" mode="select" title="Select Mode"></i>
                            <i class="fa fa-home" reset title="Zoom To Fit"></i>
                        </div>
                        <div class="miniview"></div>
                    </div>
                </div>
        
            </div>
        </div>

        <div style="padding-top: 10px;">
            <button class="btn btn-primary" ng-click="ctrl.save()">保存</button>
        </div>

        <div class="description">
            <p>创建服务依赖方法:</p>
            <ul>
                <li>从左侧的服务列表中拖动新节点到工作区.</li>
                <li>点击工作区中某个节点右下角的红色小方块，并拖动到另外一个节点上，即可建立两个节点之间的依赖关系.</li>
                <li>点击工作区中某个节点左下角的“x”，即可删除该节点.</li>
                <li>已经拖动到工作区中的节点不可再次添加.</li>
            </ul>
        </div>

    </div>

</div>