<div class="service-list service-tab-content">
  <div ng-hide="ctrl.servicePanel.length">
    <em>暂没有任何服务数据</em>
    <cw-loading show="!ctrl.servicePanel.length" duration=6000></cw-loading>
  </div>

  <div style="width: 100%" ng-show="ctrl.servicePanel.length" >
    <h2>
      <!--<a ng-if="!ctrl.contextSrv.isViewer" class="btn btn-primary btn-cmdb" style="margin-left: 12px;" href="/cmdb/servicecustom">添加拓展服务</a>-->
      <!-- <a ng-if="!ctrl.contextSrv.isViewer" class="btn btn-success btn-cmdb" style="margin-left: 12px;" href="/service_dependency">创建服务依赖</a> -->
      <!--<a ng-if="ctrl.contextSrv.isGrafanaAdmin" class="btn btn-success btn-cmdb" style="margin-left: 12px;" href="/cmdb/servicecustom?unit=true">添加默认服务</a>-->
      <!-- <button class="btn btn-success btn-cmdb" ng-disabled="isScan" style="margin-left: 12px;" ng-click="serviceScan()"><span ng-if="!isScan">刷新</span><i ng-if="isScan" class="fa fa-spinner fa-spin"></i></button> -->
    </h2>

    <div class="">
        <table class="table table-hover table-striped service-panel-table">
            <tr>
                <th>ID</th>
                <th>名称<i class="fa fa-sort"></i></th>
                <th>类型</th>
                <th>资源组</th>
                <th>位置</th>
            </tr>
            <tr ng-repeat="item in ctrl.servicePanel"
                ng-click="ctrl.rowClickHandle(item)"
                class="pointer">
                <td>{{ item.id }}</td>
                <td><i class="iconfont fa-default"></i> {{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.group }}</td>
                <td>{{ item.location }}</td>
            </tr>
        </table>
    </div>
  </div>
</div>