<navbar icon="fa fa-fw fa-home"></navbar>

<div class="page-container" style="padding-left:20px;">

    <div class="page-header">
        <h2 translate="page_service_create_depend">
        </h2>
    </div>

    <div class="build-service-depend">

        <div class="sidebar node-palette">
            <ul>
                <li title="Drag to add new"
                    ng-repeat="obj in ctrl.draggableTypes"
                    data-node-id="{{ obj.id }}"
                    data-node-key="{{ obj.key }}">
                    {{ obj.label }}
                </li>
            </ul>
        </div>

        <div class="jtk-page-container">
            <div class="jtk-container">
        
                <!-- <i class="${icon} service-icon"></i> -->
                <script type="jtk" id="tmplNode">
                    <div>
                        <div class="name">
                            <img ng-src="${icon}" class="service-icon" />
                            <div class="delete" title="Click to delete">
                                <i class="fa fa-times"></i>
                            </div>
                            <span>${name}</span>
                        </div>
                        <div class="connect"></div>
                        <jtk-source filter=".connect"></jtk-source>
                        <jtk-target></jtk-target>
                    </div>
                </script>
        
                <div class="jtk-main" id="jtk-paths">
                    <div class="jtk-canvas canvas-wide">
                        <div class="controls">
                            <i class="fa fa-arrows selected-mode" mode="pan" title="Pan Mode"></i>
                            <i class="fa fa-pencil" mode="select" title="Select Mode"></i>
                            <i class="fa fa-home" reset title="Zoom To Fit"></i>
                        </div>
                        <div class="miniview"></div>
                    </div>
                </div>
        
            </div>
        </div>

        <div style="padding-top: 10px;">
            <button class="btn btn-primary" ng-click="ctrl.save()" translate="i18n_save"></button>
        </div>

        <div class="description">
            <p translate="page_service_dep_usage"></p>
            <ul>
                <li translate="page_service_dep_info1"></li>
                <li translate="page_service_dep_info2"></li>
                <li translate="page_service_dep_info3"></li>
                <li translate="page_service_dep_info4"></li>
            </ul>
        </div>

    </div>

</div>