<div class="service-list service-tab-content">
  <div ng-hide="ctrl.servicePanel.length">
    <em translate="page_service_none"></em>
    <cw-loading show="!ctrl.servicePanel.length" duration=6000></cw-loading>
  </div>

  <div style="width: 100%">
    <h2>
      <a ng-if="!ctrl.contextSrv.isViewer" class="btn btn-primary btn-cmdb" style="margin-left: 12px;" href="/cmdb/servicecustom" translate="page_service_add_custom"></a>
      <a ng-if="!ctrl.contextSrv.isViewer" class="btn btn-success btn-cmdb" style="margin-left: 12px;" href="/service_dependency" translate="page_service_create_depend"></a>
      <a ng-if="ctrl.contextSrv.isGrafanaAdmin" class="btn btn-success btn-cmdb" style="margin-left: 12px;" href="/cmdb/servicecustom?unit=true" translate="page_service_add_default"></a>
      <!-- <button class="btn btn-success btn-cmdb" ng-disabled="isScan" style="margin-left: 12px;" ng-click="serviceScan()"><span ng-if="!isScan">刷新</span><i ng-if="isScan" class="fa fa-spinner fa-spin"></i></button> -->
    </h2>
    <table class="table service-panel-table" ng-show="ctrl.servicePanel.length">
      <thead>
        <tr>
          <th translate="i18n_servicename"></th>
          <th>ID</th>
          <th translate="page_host_start"></th>
          <th translate="i18n_operating"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in ctrl.servicePanel"
            ng-class="{active: item.name==ctrl.currentService.name}"
            ng-click="ctrl.rowClickHandle($event, item)">
          <td>{{ item.name }}</td>
          <td>{{ item.id || '-' }}</td>
          <td>{{ item.createdAt | date:'yyyy-MM-dd HH:mm:ss' || '-' }}</td>
          <td>
            <button class="btn btn-small btn-outline-primary del-btn" ng-if="!ctrl.contextSrv.isViewer" ng-click="ctrl.deleteService($event, item.id)">
              <i class="fa fa-times"></i>
              <span translate="i18n_delete" class="del-btn"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>