<div class="modal-body">

    <a class="modal-close" ng-click="dismiss();">
        <i class="fa fa-remove"></i>
    </a>

    <h3 translate="page_logs_relative_time">
    </h3>

    <form name="timeShiftFrom">
        <div style="display: inline-block">
            <div class="tight-form-title">
                <ul>
                    <li translate="page_logs_relative_tip1"></li>
                    <li translate="page_logs_relative_tip2"></li>
                </ul>
            </div>
            <div class="tight-form-container">
                <div class="tight-form">
                    <ul class="tight-form-list">
                        <li class="tight-form-item" style="width: 100px" translate="page_logs_relative_time">
                        </li>
                        <li>
                            <input ng-model="shift" type="text" required class="input-large tight-form-input"
                                   placeholder="-1d / -1M / -1y">
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="" style="margin-top: 30px; margin-bottom: 20px;">
                <button type="button" class="btn btn-inverse" ng-click="dismiss()" translate="i18n_cancel"></button>
                <button type="submit" class="btn btn-success" ng-click="logCompare(shift);dismiss()" translate="i18n_confirm"></button>
            </div>
        </div>
    </form>
</div>