<navbar icon="fa fa-fw fa-search" title-url="/logs/rules">
  <ul class="nav">
      <li class="active"><a translate="page_logs_rules"></a></li>
  </ul>
</navbar>

<div class="page-container">
  <div class="page-header">
    <h1 translate="page_logs_rules_edit"></h1>
    <div class="log-step-container">
      <dl class="log-step" ng-repeat="step in ctrl.steps"
        ng-class="{true: 'active'}[ctrl.curStep > $index]"
        ng-click="ctrl.selectStep($index + 1)">
        <dt>{{$index + 1}}</dt>
        <dd translate>{{step}}</dd>
      </dl>
    </div>
  </div>

  <form class="gf-form-group">
    <div class="parse-form-group" ng-if="ctrl.curStep === 1">
      <h2 translate="page_logs_parser_step1"></h2>
      <div class="gf-form">
        <span class="gf-form-label width-20"> <em translate="page_log_rule_name"></em> <em>*</em></span>
        <input class="gf-form-input max-width-21" type="text" required ng-model="ctrl.rule.ruleName" />
      </div>

      <div class="gf-form">
        <span class="gf-form-label width-20"> <em translate="i18n_menu_service"></em> <em>*</em></span>
        <select class="gf-form-input max-width-21" ng-options="s.name as s.name for s in ctrl.serviceList"
          ng-change="ctrl.getTemplate(ctrl.rule.logServiceName)"
          ng-model="ctrl.rule.logServiceName"></select>
        <input class="gf-form-input max-width-21" type="text" ng-if="ctrl.rule.logServiceName === '其他'"
          ng-class="{false: 'error-input'}[!ctrl.custom.logServiceName || ctrl.checkInput(ctrl.custom.logServiceName, 'parseName')]"
          ng-model="ctrl.custom.logServiceName" placeholder="仅支持英文字母/数字/下划线/小数点" required />
      </div> -->

      <!-- Feichi: Modify -->
      <div class="gf-form">
        <span class="gf-form-label width-20"> <em translate="page_alert_log_type"></em> <em>*</em></span>
        <select class="gf-form-input max-width-21" ng-options="t for t in ctrl.rule.logTypes"
          ng-change="ctrl.getTemplate(ctrl.rule.logServiceName, ctrl.rule.logType)"
          ng-model="ctrl.rule.logType"></select>
        <input class="gf-form-input max-width-21"
          ng-class="{false: 'error-input'}[!ctrl.custom.logType || ctrl.checkInput(ctrl.custom.logType, 'logType')]"
          type="text" ng-if="ctrl.rule.logType === '其他'"
          ng-model="ctrl.custom.logType" placeholder="请输入英文字母" required />
      </div>

      <div class="gf-form parse-form">
        <span class="gf-form-label width-20"> <span translate="page_service_host_list"></span><em>*</em>
          <a class="parse-btn parse-edit" ng-click="ctrl.addHost()" style="margin-left: 10px;">
            <i class="fa fa-plus-square"></i>
          </a>
        </span>
        <table class="table parse-table" ng-if="ctrl.rule.hosts.length">
          <tr>
            <th translate="i18n_hostname"></th>
            <th>IP</th>
            <th translate="i18n_operating"></th>
          </tr>
          <tr ng-repeat="host in ctrl.rule.hosts | orderBy: id">
            <td><span>{{host.hostname}}</span></td>
            <td><span>{{host.defaultIp}}</span></td>
            <td>
              <a class="parse-btn parse-delete" ng-click="ctrl.deleteHost(host.id)"><i class="fa fa-times-circle"></i> <em translate="i18n_delete"></em></a>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="parse-form-group" ng-if="ctrl.curStep === 2">
      <h2 translate="page_logs_parser_step2"></h2>
      <div class="gf-form" style="display: flex; justify-content: center;">
        <input class="gf-form-input max-width-21" type="text" placeholder="请输入日志路径" ng-model="ctrl.newPath"
        ng-class="{false: 'error-input'}[ctrl.checkInput(ctrl.newPath, 'logPath') || !ctrl.newPath]"/>
        <a class="parse-btn parse-add" ng-click="ctrl.addLogPath()"><i class="fa fa-pencil"></i> <em translate="i18n_add"></em> </a>
      </div>

      <div class="gf-form parse-form" ng-if="ctrl.rule.paths.length">
        <table class="table parse-table">
          <tr>
            <th translate="page_logs_path"></th>
            <th translate="i18n_operating"></th>
          </tr>
          <tr ng-repeat="path in ctrl.rule.paths">
            <td><span>{{path}}</span></td>
            <td>
              <span>
                <a class="parse-btn parse-delete" ng-click="ctrl.deleteLog(path)"><i class="fa fa-times-circle"></i>删除</a>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="parse-form-group" ng-if="ctrl.curStep === 3">
      <h2 translate="page_logs_parser_step3"></h2>
      <ul class="log-check-container" ng-repeat="status in ctrl.checkStatus">
        <li class="log-host">
          <i class="fa fa-laptop"></i>
          <div><span translate="i18n_host"></span>: {{ctrl.getHostKey(status.hostKey)}}</div>
        </li>
        <li class="log-dir {{ctrl.logStatus[directorys.status].class}}" ng-repeat="directorys in status.directorys">
          <i class="fa fa-code"></i>
          <div>
            <p><span translate="page_logs_path"></span>{{$index + 1}}: {{directorys.directory}}</p>
            <p>
              <i class="{{ctrl.logStatus[directorys.status].icon}}"></i>
              {{ctrl.logStatus[directorys.status].txt}}
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="parse-form-group"  ng-if="ctrl.curStep === 4">
      <h2 translate="page_logs_parser_step4"></h2>
      <div class="gf-form parse-form">
        <span class="gf-form-label width-20"> <span translate="page_logs_pattern"></span> <em>*</em></span>
        <label class="multiline-label">
          <input type="radio" name="multiline" ng-value=false ng-model="ctrl.rule.multiline" />
          <span translate="page_logs_singleline"></span>
        </label>
        <label class="multiline-label">
          <input type="radio" name="multiline" ng-value=true ng-model="ctrl.rule.multiline" />
          <span translate="page_logs_multiline"></span>
        </label>
        <div class="multiline-box" ng-if="ctrl.rule.multiline">
          <span class="gf-form-label width-21"> <span translate="page_logs_start"></span><em>*</em></span>
          <input class="gf-form-input width-30" type="text" ng-model="ctrl.rule['multiline.pattern']" placeholder="请输入日志起始匹配规则" required />
        </div>
      </div>

      <div class="gf-form parse-form section">
        <span class="gf-form-label width-20">
          <span translate="page_logs_parser"></span>
          <a class="parse-btn parse-edit" ng-click="ctrl.editPattren()" style="margin-left: 10px;">
            <i class="fa fa-plus-square"></i>
          </a>
        </span>
        <table class="table parse-table" ng-if="ctrl.rule.patterns.length">
          <tr>
            <th translate="page_logs_parser_name"></th>
            <th translate="i18n_operating"></th>
          </tr>
          <tr ng-repeat="pattern in ctrl.rule.patterns">
            <td style="width: 50%;"><span>{{pattern.name}}</span></td>
            <td style="width: 50%;">
              <a class="parse-btn parse-edit" ng-click="ctrl.editPattren(pattern)"><i class="fa fa-pencil"></i> <span translate="i18n_edit"></span></a>
              <a class="parse-btn parse-delete" ng-click="ctrl.deletePattern(pattern);"><i class="fa fa-times-circle"></i> <span tabindex="i18n_delete"></span></a>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="parse-form-group no-border">
      <a class="btn btn-primary" ng-if="ctrl.curStep > 1" ng-click="ctrl.selectStep(ctrl.curStep - 1)" translate="i18n_pre"></a>
      <a class="btn btn-primary" ng-if="ctrl.curStep < 3" ng-click="ctrl.selectStep()" translate="i18n_next"></a>
      <a class="btn btn-primary" ng-if="ctrl.curStep === 3" ng-click="ctrl.selectStep()" translate="i18n_save_next"></a>
      <a class="btn btn-primary" ng-if="ctrl.curStep > 3" ng-click="ctrl.selectStep()" translate="i18n_save"></a>
    </div>

  </form>
</div>