<navbar icon="fa fa-fw fa-search" title-url="/logs/rules">
  <ul class="nav">
      <li class="active"><a translate="page_logs_rules"></a></li>
  </ul>
</navbar>

<div class="page-container" ng-init="ctrl.initDetail()">
  <div class="page-header">
    <h1 translate="page_logs_rules"></h1>
  </div>

  <form class="gf-form-group">
    <div class="parse-form-group">
      <div class="gf-form">
        <span class="gf-form-label width-10" translate="page_log_rule_name"></span>
        <span>{{ctrl.rule.ruleName}}</span>
      </div>

      <div class="gf-form">
        <span class="gf-form-label width-10" translate="i18n_menu_service"></span>
        <span>{{ctrl.rule.logServiceName}}</span>
      </div>

      <div class="gf-form">
        <span class="gf-form-label width-10" translate="page_alert_log_type"></span>
        <span>{{ctrl.rule.logType}}</span>
      </div>
    </div>

    <div class="parse-form-group">
      <ul class="log-check-container" ng-repeat="status in ctrl.checkStatus">
        <li class="log-host">
          <i class="fa fa-laptop"></i>
          <div> <span translate="i18n_host"></span>: {{status.hostKey}}</div>
        </li>
        <li class="log-dir log-stat1" ng-repeat="directorys in status.directorys">
          <i class="fa fa-code"></i>
          <div>
            <p> <span translate="page_logs_path"></span>{{$index + 1}}: {{directorys.directory}}</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="parse-form-group">
      <div class="gf-form">
        <span class="gf-form-label width-10" translate="page_logs_pattern"></span>
        <span ng-if="!ctrl.rule.multiline" translate="page_logs_singleline"></span>
        <span ng-if="ctrl.rule.multiline" translate="page_logs_multiline"></span>
      </div>

      <div class="gf-form">
        <span class="gf-form-label width-10" translate="page_logs_start"></span>
        <span ng-if="!ctrl.rule.multiline" translate="page_logs_start_none"></span>
        <span ng-if="ctrl.rule.multiline">{{ctrl.rule['multiline.pattern']}}</span>
      </div>
    </div>

    <div class="parse-form-group">
      <span class="gf-form-label width-10" translate="page_logs_parser"></span>
      <table class="table parse-table" ng-if="ctrl.rule.patterns.length">
        <tr>
          <th translate="page_logs_parser_name"></th>
        </tr>
        <tr ng-repeat="pattern in ctrl.rule.patterns">
          <td><span>{{pattern.name}}</span></td>
        </tr>
      </table>
    </div>

    <div class="parse-form-group no-border">
      <a class="btn btn-primary" href="/logs/rules/new?ruleId={{ctrl.rule.id}}" translate="i18n_edit"></a>
      <a class="btn btn-primary" href="/logs/rules" translate="i18n_back"></a>
    </div>

  </form>
</div>