<form class="gf-form-group tidy-form">
  <div>
      <div class="gf-form">
          <ul class="gf-form-list tidy-form-list" style="overflow: inherit">
              <li ng-click="ctrl.showSearchGuide = !ctrl.showSearchGuide" class="gf-form-item" style="width: 100px">
                  <span translate="page_logs_key_words"></span>
                  <i class="grafana-tip fa fa-question-circle" bs-tooltip="ctrl.$translate.i18n.page_logs_seach_tip" data-placement="top" html=true></i>
              </li>
              <li class="dropdown" style="width: 400px">
                  <input placeholder="type: nginx" type="text"
                         class="input-xlarge tidy-form-input last dropdown-toggle" id="dropdownMenu1"
                         data-toggle="dropdown" autocomplete="off" ng-model="ctrl.query" required=""
                         ng-keypress="ctrl.showQueryOption($event)">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="item in ctrl.queryInputOptions" ng-click="ctrl.selectQueryOption(item.key)">
                            <a href="javascript:;">{{item.key}}<i>{{item.helpInfo}}</i></a>
                        </li>
                    </ul>
              </li>
              <li class="tidy-form-item" style="width: 100px; margin-left:30px; outline: none;" translate="page_logs_show_number">
              </li>
              <li class="tidy-form-item">
                  <button type="button" class="log-size input-small tidy-form-input last input" ng-model="ctrl.size" 
                          bs-options="f for f in [500, 1000, 2000, 3000, 5000]" data-placeholder="{{ ctrl.$translate.i18n.i18n_select_choose }}"
                          bs-on-select="ctrl.getLogSize" data-placement="bottom-auto" bs-select>
                    <span class="caret"></span>
                  </button>
              </li>
              <li>
                  <button type="submit" class="btn btn-primary" ng-click="ctrl.reQuery()" style="margin:0 20px;"><i class="fa fa-search"></i><span translate="i18n_search"></span></button>
              </li>
              <li class="search-guide" ng-if="ctrl.showSearchGuide">
                  <i class="fa fa-times pull-right pointer" ng-click="ctrl.hideGuide()"></i>
                  <p>1、*</p>
                  <p>2、{{ ctrl.$translate.i18n.page_logs_help_host }}</p>
                  <p>3、{{ ctrl.$translate.i18n.page_logs_help_type }}</p>
                  <p>4、{{ ctrl.$translate.i18n.page_logs_help_and }}-NOT: NOT host:host_name</p>
                  <p>5、{{ ctrl.$translate.i18n.page_logs_help_and }}-OR: host:host1 OR host:host2</p>
                  <p>6、{{ ctrl.$translate.i18n.page_logs_help_message }}</p>
              </li>
          </ul>
          <div class="clearfix"></div>
      </div>
  </div>
</form>

<div class="grafana-row log-container" ng-repeat="(row_name, row) in dashboard.rows track by row.id" ng-controller="RowCtrl" row-height>
    <div class="log-filed-container" ng-if="row.openfiled">
        <p class="log-filed-title" ng-click="row.openfiled = !row.openfiled"><i class="fa fa-filter"></i><span translate="page_logs_filter"></span> <i class="fa fa-angle-left pull-right"></i></p>
        <ul ng-repeat="(index, tabsQuery) in ctrl.tabsQuery[row.id]">
            <li class="log-filed-header" data-toggle="collapse" data-target="#{{index}}" ng-click="tabsQuery.select = !tabsQuery.select">
                <i class="fa" ng-class="{true: 'fa-angle-down', false: 'fa-angle-up'}[tabsQuery.select]"></i>
                <span translate="{{tabsQuery.name}}"></span>
            </li>
            <li id="{{index}}" class="collapse" ng-if="index !== 'fields'">
                <label ng-repeat="query in tabsQuery.values">
                    <input type="checkbox" name="query" ng-model="query.checked" ng-change="ctrl.reQuery();"> {{query.text}}
                </label>                
            </li>
            <li id="{{index}}" class="collapse" ng-if="index === 'fields'">
                <label ng-repeat="query in tabsQuery.values">
                    <input type="checkbox" name="query" ng-model="query.checked" ng-change="ctrl.updateColum(row, query);"> {{query.text}}
                </label>                
            </li>
        </ul>
    </div>
    <div class="log-filed-contaienr-close" ng-click="row.openfiled = !row.openfiled" ng-if="!row.openfiled"><i class="fa fa-angle-right"></i></div>
    <div class="row-control" ng-class="{true: 'active'}[row.openfiled]">
      <div class="panels-wrapper" ng-if="!row.collapse">
          <div class="row-text pointer" ng-click="toggleRow(row)" ng-if="row.showTitle"
              ng-bind="row.title | interpolateTemplateVars:this">
          </div>

          <div ng-repeat="(name, panel) in row.panels track by panel.id" class="panel"  ng-if="panel.type === 'graph'" panel-width>
              <plugin-component type="panel" class="panel-margin"></plugin-component>
          </div>
          <tabset>
              <tab heading="{{panel.title}}"
                   ng-repeat="(name, panel) in row.panels track by panel.id"
                   ng-if="panel.type !== 'graph'"
                   active="panel.active"
                   ng-click="ctrl.logOperate($index)">
                  <div ng-if="name == 0" class="log-search">
                      <div class="btn-group">
                            <button class="btn btn-primary" ng-click="ctrl.addRCA()" ng-class="{ 'btn-success': ctrl.logsSelected.length, 'btn-inverse': !ctrl.logsSelected.length }" ng-disabled="!ctrl.logsSelected.length" ng-if="ctrl.showAddRCA" translate="page_logs_add_source"></button>
                      </div>
                      <div class="btn-group">
                            <ul>
                                <li style="color: #F9934E; text-align: right;">
                                    <em translate="page_logs_total_number"></em>: <strong>{{panel.regularResult.data[0].total || 0}}</strong>, <em translate="page_logs_shown_number"></em> {{panel.regularResult.data[0].datapoints.length || 0}}. <em translate="page_logs_datazoom"></em>
                                </li>
                            </ul>
                      </div>
                  </div>
                  <div ng-if="name == 2" class="log-compare">
                    <div class="btn-group btn-log-compare"><em translate="page_logs_log_compare"></em>: 
                        <button class="dropdown-toggle input" data-toggle="dropdown">
                            {{ ctrl.currentRelativeTime }} <span class="caret" style="vertical-align: middle; margin-left: 10px;"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="ctrl.logCompare('-1d')">1 <em translate="i18n_day"></em><em translate="i18n_ago"></em></li>
                            <li ng-click="ctrl.logCompare('-7d')">7 <em translate="i18n_day"></em><em translate="i18n_ago"></em></li>
                            <li ng-click="ctrl.logCompare('-30d')">1 <em translate="i18n_month"></em><em translate="i18n_ago"></em></li>
                            <li ng-click="ctrl.logCompare('-365d')">1 <em translate="i18n_year"></em><em translate="i18n_ago"></em></li>
                            <li ng-click="ctrl.showInputModal()"><em translate="i18n_custom"></em></li>
                        </ul>
                    </div>
                    <div class="btn-group btn-log-filter"><em translate="page_logs_filter_rule"></em>: 
                        <button class="dropdown-toggle input" data-toggle="dropdown">
                            {{ ctrl.currentFilter }}<span class="caret" style="vertical-align: middle; margin-left: 10px;"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="ctrl.logFilterOperator('')"><em translate="i18n_empty"></em></li>
                            <li ng-click="ctrl.logFilterOperator(ctrl.$translate.i18n.i18n_increase)"><em translate="i18n_increase"></em></li>
                            <li ng-click="ctrl.logFilterOperator(ctrl.$translate.i18n.i18n_decrease)"><em translate="i18n_decrease"></em></li>
                            <li ng-click="ctrl.logFilterOperator(ctrl.$translate.i18n.i18n_newly_added)"><em translate="i18n_newly_added"></em></li>
                            <li ng-click="ctrl.logFilterOperator(ctrl.$translate.i18n.i18n_disappearing)"><em translate="i18n_disappearing"></em></li>
                        </ul>
                    </div>
                    <div>
                        <ul ng-if="name == 2">
                            <li style="color: #F9934E;"><em translate="page_logs_cur_range"></em>: <strong>{{ ctrl.tabsCache[row.id].timeRange | formatTimeRange:'now':0 }} <em translate="i18n_to"></em> {{ ctrl.tabsCache[row.id].timeRange | formatTimeRange:'now':1 }}</strong></li>
                            <li style="color: #F9934E;"><em translate="page_logs_compare_range"></em>: <strong>{{ ctrl.tabsCache[row.id].timeRange | formatTimeRange:currentRelativeTime:0}} <em translate="i18n_to"></em> {{ ctrl.tabsCache[row.id].timeRange | formatTimeRange:currentRelativeTime:1 }}</strong></li>
                        </ul>
                    </div>
                  </div>
                  <div class="panel">
                    <plugin-component type="panel" class="panel-margin log-panel tab-{{panel.tab}}"></plugin-component>
                  </div>
              </tab>
          </tabset>
          <div class="clearfix"></div>
      </div>
    </div>
</div>