<navbar title="日志管理" icon="fa fa-fw fa-search" title-url="/logs/rules"></navbar>

<div class="page-container">
  <div class="page-header">
    <h1>日志配置管理<a href="/logs/rules/new" class="parse-btn parse-edit" style="margin-left: 10px;"><i class="fa fa-plus-square-o"></i></a></h1>
  </div>
  <div class="grafana-info-box" style="margin: 20px 0 25px 0">
    您可以根据日志类型创建多个日志规则,请保证日志规则名称的唯一性
  </div>
  <br>
  <table class="table parse-table" ng-if="ctrl.ruleList.length">
    <tr>
      <th>规则名称</th>
      <th>服务</th>
      <th>操作</th>
    </tr>
    <tr ng-repeat="rule in ctrl.ruleList">
      <td style="width: 40%;"><span>{{rule.ruleName}}</span></td>
      <td style="width: 30%;"><span>{{rule.logServiceName}}</span></td>
      <td style="width: 30%;">
        <a href="/logs/rules/new?ruleId={{rule.id}}" class="parse-btn parse-edit"><i class="fa fa-pencil"></i>修改</a>
        <a class="parse-btn parse-delete" ng-click="ctrl.deleteRuleById(rule.id)"><i class="fa fa-times-circle"></i>删除</a>
      </td>
    </tr>
  </table>
  <div ng-if="!ctrl.ruleList.length" class="no-data-box">
    暂无日志规则,请<a href="/logs/rules/new" class="parse-btn parse-edit" style="margin-left: 10px;">添加日志规则</a>
  </div>
</div>