<div class="modal log-search-compare-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body" style="overflow-y: visible;">
    
        <a class="modal-close" ng-click="$hide()">
            <i class="fa fa-remove"></i>
        </a>
    
        <h3>
            选择日志查询结果进行对比：
        </h3>
    
        <form>
            <div style="display: inline-block">
                <div class="tight-form-container">
                    <div class="tight-form">
                        <button type="button" class="input-large tight-form-item input" ng-model="ctrl.selectedCompare1" 
                            bs-options="tab.title for tab in ctrl.tabs" data-placeholder="请选择"
                            bs-on-select="ctrl.getSearchQuery(0);" data-placement="bottom-auto" bs-select>
                            请选择 <span class="caret"></span>
                        </button>
                        对比
                        <button type="button" class="input-large tight-form-item input" ng-model="ctrl.selectedCompare2" 
                            bs-options="tab.title for tab in ctrl.tabs" data-placeholder="请选择"
                            bs-on-select="ctrl.getSearchQuery(1);" data-placement="bottom-auto" bs-select>
                            请选择 <span class="caret"></span>
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div style="display: inline-block">
                <button type="submit" class="btn btn-success" ng-click="ctrl.logSearchCompare()">确定</button>
            </div>
        </form>

        <div id="diffoutput" style="margin: 30px 0px;"></div>

    </div>
</div>