<div class="modal-log-parse">

  <form class="gf-form-group">
    <div class="parse-form-group no-border">
      <div class="gf-form">
        <span class="gf-form-label width-10" translate="page_logs_parser"></span>
      </div>
      <div class="gf-form">
        <span class="gf-form-label width-10"> <em translate="page_logs_parser_name"></em><em>*</em></span>
        <input class="gf-form-input max-width-30" type="text" required ng-model="pattern.name" placeholder="ctrl.$translate.i18n.page_log_parse_input" />
      </div>
      
      <div class="gf-form">
        <span class="gf-form-label width-10"> <em translate="page_logs_parser_rules"></em><em>*</em></span>
        <input class="gf-form-input max-width-30" type="text" required ng-model="pattern.pattern" />
        <select class="gf-form-input max-width-7" ng-options="f for f in ['grok']" ng-model="pattern.type"></select>
      </div>
      
      <div class="gf-form">
        <span class="gf-form-label width-10" translate="page_logs_parser_test"></span>
        <input class="gf-form-input max-width-30" type="text" required ng-model="pattern.log" />
        <button class="btn btn-primary max-width-7" ng-click="ctrl.testPattern(pattern)" translate="i18n_test"></button>
      </div>

      <div class="gf-form">
        <span class="gf-form-label width-10"></span>
        <div class="gf-form-input max-width-30" style="border-radius: 0px; height: 15rem; overflow: scroll;">
          <label class="multiline-label">
            <em class="warn-message"><i class="fa fa-info-circle"></i><em translate="page_logs_parser_info1"></em></em>
          </label>
          <br>
          <p ng-if="pattern.result === ctrl.$translate.i18n.i18n_fail">{{pattern.result}}</p>
          <label class="multiline-label" ng-click="ctrl.selectMetric($event, pattern, key)" ng-if="pattern.result !== ctrl.$translate.i18n.i18n_fail" ng-repeat="(key, value) in pattern.result">
            <input ng-if="pattern.isMetric" type="checkbox" name="pattern" ng-checked="_.has(pattern.fields, key);">{{key}}: {{value}}
          </label>
        </div>
      </div>

      <div class="gf-form">
        <span class="gf-form-label width-10"></span>
        <div>
          <em ng-if="pattern.isMetric" class="warn-message"><i class="fa fa-info-circle"></i><em translate="page_logs_parser_info2"></em> </em>
        </div>
      </div>
      
      <div class="gf-form" ng-if="pattern.isMetric">
        <span class="gf-form-label width-10" translate="i18n_metric"></span>
        <div class="gf-form-input max-width-30" style="height: auto;min-height: 2.5rem;">
          <p ng-repeat="filedname in pattern.fields">{{ctrl.custom.logType || ctrl.rule.logType}}.{{pattern.name}}.{{filedname}}</p>
        </div>
      </div>


      <div class="gf-form">
        <span class="gf-form-label width-10"><em translate="page_logs_parser_info3"></em><em>*</em></span>
        <label class="multiline-label">
          <input type="radio" name="ismetric" ng-value=true ng-model="pattern.isMetric" />
          <span translate="i18n_yes"></span>
        </label>
        <label class="multiline-label" ng-click="pattern.fields = [];">
          <input type="radio" name="ismetric" ng-value=false ng-model="pattern.isMetric" />
          <span tabindex="i18n_no"></span>
        </label>
        <label class="multiline-label">
          <em class="warn-message"><i class="fa fa-info-circle"></i> <em translate="page_logs_parser_info4"></em></em>
        </label>
      </div>
      
      <div class="gf-form">
        <span class="gf-form-label width-10"></span>
        <div>
          <button class="btn btn-success" ng-disabled="!pattern.name" ng-click="savePattern(oldPattern, pattern, isNew, dismiss);" translate="i18n_save"></button>
          <button class="btn btn-inverse" ng-click="dismiss();" translate="i18n_cancel"></button>
        </div>
      </div>
    </div>

  </form>
</div>