
<div class="modal log-context-modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="LogContextCtrl as ctrl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" ng-show="title">
          <button type="button" class="close" aria-label="Close" ng-click="$hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" ng-bind="title"></h4>
        </div>
        <div class="modal-body">
            <ul>
              <li style="color: #F9934E; text-align: left;">
                {{ ctrl.timeSelected.name }} <em translate="page_logs_context_time"></em>, 
                <em translate="page_logs_count"></em>
                <strong>{{ ctrl.contextLogs.total || 0 }}</strong>, <em translate="page_logs_shown_number"></em> {{ ctrl.contextLogs.datapoints.length || 0 }}
              </li>
              <li>
                <select class="gf-form-select-wrapper gf-form-input width-7"
                  ng-model="ctrl.timeSelected" 
                  ng-options="item.name for item in ctrl.timeOptions"
                  ng-change="ctrl.changeTime(ctrl.timeSelected)">
                </select>
              </li>
            </ul>
            <table class="table table-cluster-modal">
                <thead>
                  <tr>
                    <th data-field="timestamp">timestamp</th>
                    <th data-field="type">type</th>
                    <th data-field="host">host</th>
                    <th data-field="message">message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in ctrl.contextLogs.datapoints" ng-class="{'origin': row.origin}">
                    <td>{{ _.transformMillionTime(row['@timestamp'][0]) }}</td>
                    <td>{{ row.type }}</td>
                    <td>{{ row.host }}</td>
                    <td>{{ row.message }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="$hide()" translate="i18n_close"></button>
        </div>
      </div>
    </div>
  </div>