<navbar title="日志管理" icon="fa fa-fw fa-search" title-url="/logs/rules">
  <ul class="nav">
      <li class="active"><a>日志规则</a></li>
  </ul>
</navbar>

<div class="page-container">
  <div class="page-header">
    <h1>编辑日志规则<em class="warn-message" style="font-size: 1rem;">(修改日志规则将会修改或覆盖所选机器上的filebeat配置文件,如有疑问,请事先联系管理员,并做好备份)</em></h1>
  </div>
  <form class="gf-form-group">
    <div class="parse-form-group">
      <div class="gf-form">
        <span class="gf-form-label width-10">规则名称<em>*</em></span>
        <input class="gf-form-input max-width-21" type="text" required ng-model="ctrl.rule.ruleName" />
      </div>

      <div class="gf-form">
        <span class="gf-form-label width-10">服务<em>*</em></span>
        <select class="gf-form-input max-width-21" ng-options="s.name as s.name for s in ctrl.serviceList"
          ng-change="ctrl.getTemplate(ctrl.rule.logServiceName)"
          ng-model="ctrl.rule.logServiceName"></select>
        <input class="gf-form-input max-width-21" type="text" ng-if="ctrl.rule.logServiceName === '其他'"
          ng-class="{false: 'error-input'}[!ctrl.custom.logServiceName || ctrl.checkInput(ctrl.custom.logServiceName, 'parseName')]"
          ng-model="ctrl.custom.logServiceName" placeholder="仅支持英文字母/数字/下划线/小数点" required />
      </div>

      <div class="gf-form">
        <span class="gf-form-label width-10">日志类型<em>*</em></span>
        <select class="gf-form-input max-width-21" ng-options="t for t in ctrl.rule.logTypes"
          ng-change="ctrl.getTemplate(ctrl.rule.logServiceName, ctrl.rule.logType)"
          ng-model="ctrl.rule.logType"></select>
        <input class="gf-form-input max-width-21"
          ng-class="{false: 'error-input'}[!ctrl.custom.logType || ctrl.checkInput(ctrl.custom.logType, 'logType')]"
          type="text" ng-if="ctrl.rule.logType === '其他'"
          ng-model="ctrl.custom.logType" placeholder="请输入英文字母" required />
      </div>

      <div class="gf-form parse-form section">
        <span class="gf-form-label width-10">日志文件<em>*</em></span>
        <table class="table parse-table">
          <tr>
            <th>路径</th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="path in ctrl.rule.paths">
            <td style="width: 50%;">
              <span ng-if="ctrl.editLogPath.index !== $index">{{path}}</span>
              <input style="width: 100%;" type="text" ng-class="{false: 'error-input'}[ctrl.checkInput(ctrl.editLogPath.path, 'logPath')]"
              placeholder="请输入日志路径"
              ng-if="ctrl.editLogPath.index === $index"
              ng-model="ctrl.editLogPath.path">
            </td>
            <td style="width: 50%;">
              <span ng-if="ctrl.editLogPath.index !== $index">
                <a class="parse-btn parse-edit" ng-click="ctrl.editLog($index, path);"><i class="fa fa-pencil"></i>修改</a>
                <a class="parse-btn parse-delete" ng-click="ctrl.deleteLog(path)"><i class="fa fa-times-circle"></i>删除</a>
              </span>
              <span ng-if="ctrl.editLogPath.index === $index">
                <button class="btn btn-outline-success" ng-click="ctrl.addLogPath('save')">保存</button>
                <button class="btn btn-outline-inverse" ng-click="ctrl.editLog(-1, '')">取消</button>
              </span>
            </td>
          </tr>
          <tr>
            <td style="width: 50%;">
              <input class="gf-form-input max-width-21" type="text" placeholder="请输入日志路径" ng-model="ctrl.newPath"
              ng-class="{false: 'error-input'}[ctrl.checkInput(ctrl.newPath, 'logPath') || !ctrl.newPath]"/>
            </td>
            <td style="width: 50%;">
              <a class="parse-btn parse-add" ng-click="ctrl.addLogPath('add')"><i class="fa fa-pencil"></i>添加</a>
            </td>
          </tr>
        </table>
      </div>

      <div class="gf-form parse-form">
        <span class="gf-form-label width-10">格式<em>*</em></span>
        <label class="multiline-label">
          <input type="radio" name="multiline" ng-value=false ng-model="ctrl.rule.multiline" />
          <span>单行</span>
        </label>
        <label class="multiline-label">
          <input type="radio" name="multiline" ng-value=true ng-model="ctrl.rule.multiline" />
          <span>多行</span>
        </label>
        <div class="multiline-box" ng-if="ctrl.rule.multiline">
          <span class="gf-form-label width-21">日志起始标识<em>*</em></span>
          <input class="gf-form-input width-30" type="text" ng-model="ctrl.rule['multiline.pattern']" placeholder="请输入日志起始匹配规则" required />
        </div>
      </div>
    </div>

    <div class="parse-form-group">
        
      <div class="gf-form parse-form section">
        <span class="gf-form-label width-10">解析器
          <a class="parse-btn parse-edit" ng-click="ctrl.editPattren()" style="margin-left: 10px;">
            <i class="fa fa-plus-square"></i>
          </a>
        </span>
        <table class="table parse-table" ng-if="ctrl.rule.patterns.length">
          <tr>
            <th>解析器名称</th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="pattern in ctrl.rule.patterns">
            <td style="width: 50%;"><span>{{pattern.name}}</span></td>
            <td style="width: 50%;">
              <a class="parse-btn parse-edit" ng-click="ctrl.editPattren(pattern)"><i class="fa fa-pencil"></i>修改</a>
              <a class="parse-btn parse-delete" ng-click="ctrl.deletePattern(pattern);"><i class="fa fa-times-circle"></i>删除</a>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="parse-form-group">
      <div class="gf-form parse-form section">
        <span class="gf-form-label width-10">部署机器<em>*</em>
          <a class="parse-btn parse-edit" ng-click="ctrl.addHost()" style="margin-left: 10px;">
            <i class="fa fa-plus-square"></i>
          </a>
        </span>
        <table class="table parse-table" ng-if="ctrl.rule.hosts.length">
          <tr>
            <th>机器名称</th>
            <th>操作</th>
          </tr>
          <tr ng-repeat="hostId in ctrl.rule.hosts | orderBy: hostId">
            <td style="width: 50%;"><span>{{ctrl.getHostNameById(hostId)}}</span></td>
            <td style="width: 50%;">
              <a class="parse-btn parse-delete" ng-click="ctrl.deleteHost(hostId)"><i class="fa fa-times-circle"></i>删除</a>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="parse-form-group no-border">
      <a class="btn btn-success" ng-click="ctrl.saveRule()">保存</a>
      <a class="btn btn-inverse" href="/logs/rules">取消</a>
    </div>

  </form>
</div>