<navbar icon="fa fa-fw fa-search" title="日志查看">
    <ul class="nav pull-right">
        <li ng-show="dashboard.meta.fullscreen" class="dashnav-back-to-dashboard">
            <a ng-click="exitFullscreen()">
                返回到仪表盘
            </a>
        </li>
        <li ng-if="dashboard">
            <gf-time-picker dashboard="dashboard"></gf-time-picker>
        </li>
    </ul>
</navbar>

<div dash-editor-view></div>

<guide guide-class="guide"></guide>

<div class="page-container" ng-init="ctrl.init()">

    <div class="page-header">
        <h2>日志全文搜索</h2>
    </div>
    <div class="grafana-info-box" style="margin: 20px 0 25px 0">
        完成日志配置之后，可在此搜索需要查看的日志，聚合数据，与之前日志进行纵向对比，多种日志横向对比，选中日志添加根源等。
    </div>

    <tabset class="log-search">
        <tab heading="{{ tab.title }}"
             ng-repeat="tab in ctrl.tabs"
             active="tab.active"
             ng-click="ctrl.switchCurLogTab(tab.id, $index)">
        </tab>
        <tab heading=""
             disable="true"
             active="false"
             class="fa btn btn-primary fa-plus btn-spec"
             ng-click="ctrl.pushTab()">
        </tab>
        <tab heading="横向对比"
            disable="true"
            active="false"
            class="pull-right btn btn-primary"
            ng-click="ctrl.showSearchCompareModal()">
        </tab>
    </tabset>

    <div class="log-search-result">
        <log-tabpane template='/public/app/features/logs/partials/log_tabpane.html'></log-tabpane>
    </div>
</div>
