<navbar icon="fa fa-fw fa-bell" title="智能检测">
  <ul class="nav">
    <li><a href="alerts/status" translate="page_alert_status_title"></a></li>
    <li><a href="alerts" translate="page_alert_list_title"></a></li>
    <li class="active"><a href="alerts/new" translate="page_alert_new_title"></a></li>
  </ul>
  <ul class="nav pull-right">
    <li ng-if="dashboard">
      <gf-time-picker dashboard="dashboard"></gf-time-picker>
    </li>
  </ul>
</navbar>

<div dash-editor-view></div>

<div class="page-container" ng-init="ctrl.init()">
  <div class="page-header">
    <h2 ng-show="ctrl.isNew" translate="page_alert_new_title"></h2>
    <h2 ng-show="!ctrl.isNew" translate="page_alert_edit_title"></h2>
  </div>

  <!-- Dashboard -->
  <div class="main-view-container preview-panel">
      <div class="grafana-row" ng-controller="RowCtrl" ng-repeat="(row_name, row) in dashboard.rows" row-height>

        <div class="row-control">
          <div class="row-control-inner">
            <div class="row-close" ng-show="row.collapse" data-placement="bottom">
              <div class="row-close-buttons">
                <span class="row-button bgPrimary" ng-click="toggleRow(row)">
                  <i bs-tooltip="'Expand row'" data-placement="right" class="fa fa-caret-left pointer"></i>
                </span>
              </div>
              <div class="row-text pointer" ng-click="toggleRow(row)"
                  ng-bind="row.title | interpolateTemplateVars:this"></div>
            </div>
          </div>

          <div class="panels-wrapper" ng-if="!row.collapse">
            <div class="row-text pointer" ng-click="toggleRow(row)" ng-if="row.showTitle"
                ng-bind="row.title | interpolateTemplateVars:this">
            </div>

            <div ng-repeat="(name, panel) in row.panels track by panel.id" class="panel"
                ui-draggable="!dashboardViewState.fullscreen" drag="panel.id"
                ui-on-Drop="onDrop($data, row, panel)" drag-handle-class="drag-handle" panel-width>
              <plugin-component type="panel" class="panel-margin"></plugin-component>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
  </div>

  <!-- Alert-editing Form -->
  <form name="ctrl.editForm" class="tidy-form">

    <!-- Part1: 报警基本信息 -->
    <fieldset>
      <div class="gf-form-group">
        <div class="gf-form" ng-if="false">
            <span class="gf-form-label width-7">id</span>
            <div class="gf-form-select-wrapper max-width-23">
                <input type="text" class="input-xlarge tidy-form-input last"
                ng-model="ctrl.alertDef.id" placeholder="randomly generated" readonly>
            </div>
        </div>
        <h3 translate="page_alert_basic"></h3>
        <div class="gf-form-inline">
          <div class="gf-form">
            <span class="gf-form-label width-7" translate="page_alert_name"></span>
            <input type="text" class="input-xlarge tidy-form-input last"
                ng-model="ctrl.alertDef.name" ng-blur="ctrl.checkName()" placeholder="报警规则名称" required>
          </div>
          <div class="gf-form">
              <span class="gf-form-label width-7" translate="page_alert_desc"></span>
              <input type="text" class="input-xlarge tidy-form-input last"
                  ng-model="ctrl.alertDef.description" placeholder="报警规则描述信息" required>
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Part2: 报警内容 -->
    <fieldset>
      <div class="gf-form-group">
        <h3 translate="page_alert_content"></h3>
        <div class="gf-form">
          <span class="gf-form-label width-7" translate="page_alert_type"></span>
          <select class="gf-form-select-wrapper gf-form-input width-7"
            ng-model="ctrl.alertTypeSelected" 
            ng-options="item.name for item in ctrl.alertTypeRange"
            ng-change="ctrl.changeAlertType(ctrl.alertTypeSelected)">
          </select>
        </div>

        <!-- Log Alert -->
        <div ng-show="ctrl.alertTypeSelected.value === 'log'">
          <div class="gf-form-inline">
              <div class="gf-form">
                  <span class="gf-form-label width-7" translate="page_alert_log_type"></span>
                  <input type="text" class="gf-form-input width-7"
                      ng-blur="ctrl.refreshPreview()"
                      ng-model='ctrl.logType'
                      spellcheck='false'
                      bs-typeahead-old="ctrl.servicelist"
                      placeholder="例: nginx" />
              </div>
              <!-- <div class="gf-form">
                  <span class="gf-form-label width-7">聚合方式</span>
                  <select class="gf-form-select-wrapper gf-form-input"
                      ng-model="ctrl.logAggregator"
                      ng-change="ctrl.refreshPreview()"
                      ng-options="f for f in ['SUM']">
                  </select>
              </div> -->
          </div>
          <div class="gf-form-inline" ng-repeat="logDef in ctrl.logQueries">
              <div class="gf-form">
                  <span class="gf-form-label width-7" translate="page_alert_relationship"></span>
                  <select class="gf-form-select-wrapper gf-form-input"
                      ng-model="logDef.condition"
                      ng-change="ctrl.refreshPreview()"
                      ng-options="f for f in ['AND', 'OR', 'NOT']">
                  </select>
              </div>
              <div class="gf-form">
                  <span class="gf-form-label width-7 spec-tip" translate="page_alert_keyword_type"></span>
                  <select class="gf-form-select-wrapper gf-form-input"
                      ng-change="ctrl.refreshPreview()"
                      ng-model="logDef.keyType"
                      ng-options="f for f in ['MESSAGE', 'HOST']">
                  </select>
              </div>
              <div class="gf-form">
                  <span class="gf-form-label width-7 spec-tip">
                    <span translate="page_logs_key_words"></span>
                    <tip>
                      1. 具体值：MESSAGE: ERROR<br />
                      2. 正则匹配查询：MESSAGE: /^[\w.]+$/<br />
                      3. 所有：*
                    </tip>
                  </span>
                  <input type="text" class="gf-form-input width-7"
                      ng-blur="ctrl.refreshPreview()"
                      ng-model='logDef.key'
                      spellcheck='false'
                      bs-typeahead-old="['ERROR', 'EXCEPTION', '*']" />
              </div>
              <div class="gf-form">
                  <label class="gf-form-label">
                    <a class="pointer" tabindex="1" ng-click="ctrl.removeLogQuery(logDef)">
                      <i class="fa fa-trash"></i>
                    </a>
                  </label>
              </div>
          </div>
          <div class="gf-form">
              <span class="gf-form-label width-11" translate="page_alert_preview_conditions"></span>
              <span>{{ ctrl.logQueriesOutput }}</span>
          </div>
          <div class="gf-form-inline">
              <div class="gf-form">
                  <button class="btn btn-inverse gf-form-btn" ng-click="ctrl.addLogQuery()">
                      <i class="fa fa-plus"></i>&nbsp;
                      <span translate="page_logs_key_words"></span>
                  </button>
              </div>
              <div class="gf-form">
                  <button class="btn btn-inverse gf-form-btn" ng-click="ctrl.refreshLogPreview()">
                      <i class="fa fa-fw fa-search"></i>&nbsp;
                      <span translate="i18n_preview"></span>
                  </button>
              </div>
          </div>
        </div>

        <!-- Metric Alert -->
        <div ng-show="ctrl.alertTypeSelected.value === 'metric'">
            <div class="gf-form-inline" ng-repeat="metricDef in ctrl.metricQueries">
                <div class="gf-form" ng-show="metricDef.id">
                    <label class="gf-form-label gf-form-query-letter-cell">
                        <span class="gf-form-query-letter-cell-letter">{{ metricDef.id }}</span>
                    </label>
                </div>
                <div class="gf-form">
                    <span class="gf-form-label width-7" translate="i18n_metric_name"></span>
                    <input type="text" class="gf-form-input width-20"
                          ng-blur="ctrl.refreshPreview()"
                          ng-model='metricDef.metric'
                          spellcheck='false'
                          bs-typeahead-old="suggestMetrics"
                          placeholder="例: cpu.usr" />
                </div>
                <div class="gf-form">
                    <span class="gf-form-label width-7">
                        <span translate="i18n_aggregation"></span>
                        <tip>选择一分钟里面数据展示形式</tip>
                    </span>
                    <select class="gf-form-select-wrapper gf-form-input max-width-23"
                        ng-change="ctrl.refreshPreview()"
                        ng-model="metricDef.aggregator"
                        ng-options="f for f in ['AVG', 'MIN', 'MAX', 'SUM', 'P99', 'P999']">
                    </select>
                </div>
                <div class="gf-form">
                    <label class="gf-form-label">
                      <a class="pointer" tabindex="1" ng-click="ctrl.removeMetricQuery(metricDef)">
                        <i class="fa fa-trash"></i>
                      </a>
                    </label>
                </div>
            </div>
            <div class="gf-form-inline" ng-if="ctrl.metricQueries.length > 1">
                <div class="gf-form">
                    <span class="gf-form-label query-keyword">计算上述指标值</span>
                </div>
                <div class="gf-form">
                    <input type="text" class="gf-form-input max-width-23"
                          ng-model='ctrl.metricExpression'
                          ng-blur="ctrl.refreshPreview()"
                          placeholder="例: a+b" />
                </div>
                <div class="gf-form">
                    <span class="gf-form-label query-keyword" translate="i18n_aggregation"></span>
                    <select class="gf-form-select-wrapper gf-form-input max-width-23"
                        ng-change="ctrl.refreshPreview()"
                        ng-model="ctrl.alertDef.alertDetails.clusterwideAggregator"
                        ng-options="f for f in ['AVG', 'MIN', 'MAX', 'SUM', 'P99', 'P999']">
                    </select>
                </div>
            </div>
            <div class="gf-form">
                <button class="btn btn-inverse gf-form-btn" ng-click="ctrl.addMetricQuery()">
                    <i class="fa fa-plus"></i>&nbsp;
                    <span translate="i18n_metric"></span>
                </button>
            </div>
        </div>
      </div>
    </fieldset>

    <!-- Part3: 报警条件 -->
    <fieldset>
      <div class="gf-form-group" ng-show="ctrl.alertTypeSelected.value === 'metric'">
        <h3 translate="page_alert_conditions"></h3>
        <div class="gf-form-inline">
          <div class="gf-form">
              <span class="gf-form-label width-7" translate="page_alert_conditions_critical"></span>
          </div>
          <div class="gf-form">
              <span class="gf-form-label query-keyword">当指标值</span>
          </div>
          <div class="gf-form">
              <select class="gf-form-select-wrapper width-3" style="width: 40px; text-align: center;"
                      ng-model="ctrl.expression"
                      ng-change="ctrl.addThresholdOp()"
                      ng-options="f for f in ['>', '<', '?']">
              </select>
          </div>
          <div class="gf-form">
              <span class="gf-form-label query-keyword" translate="i18n_threshold"></span>
          </div>
          <div class="gf-form">
              <input type="number" class="gf-form-input width-11"
                    ng-model='ctrl.alertDef.alertDetails.crit.threshold' 
                    ng-blur="ctrl.addThreshold(1)"
                    placeholder="critical threshold" required ng-readonly="ctrl.expression==='?'"/>
          </div>
          <div class="gf-form">
              <span class="gf-form-label query-keyword">并且持续时间达</span>
          </div>
          <div class="gf-form">
              <input type="number" min="1" class="gf-form-input width-5" style="width: 45px;"
                    ng-model='ctrl.alertDef.alertDetails.crit.durarionMinutes'
                    required />
              <span class="gf-form-label query-keyword">分钟，则触发紧急报警</span>
          </div>
        </div>

        <div class="gf-form-inline">
          <div class="gf-form">
              <span class="gf-form-label width-7" translate="page_alert_conditions_warning"></span>
          </div>
          <div class="gf-form">
              <span class="gf-form-label query-keyword">当指标值</span>
          </div>
          <div class="gf-form">
              <span class="gf-form-label width-3">{{ ctrl.expression }}</span>
          </div>
          <div class="gf-form">
              <span class="gf-form-label query-keyword" translate="i18n_threshold"></span>
          </div>
          <div class="gf-form">
              <input type="number" class="gf-form-input width-11" style="width: 139px"
                    ng-model='ctrl.alertDef.alertDetails.warn.threshold' 
                    ng-blur="ctrl.addThreshold(0)"
                    placeholder="warn threshold" required ng-readonly="ctrl.expression==='?'"/>
          </div>
          <div class="gf-form">
              <span class="gf-form-label query-keyword">并且持续时间达</span>
          </div>
          <div class="gf-form">
              <input type="number" min="1" class="gf-form-input width-5" style="width: 45px;"
                    ng-model='ctrl.alertDef.alertDetails.warn.durarionMinutes' required />
              <span class="gf-form-label query-keyword">分钟，则触发警告报警</span>
          </div>
        </div>

        <div>
          <div class="gf-form-inline">
            <div class="gf-form">
                <span class="gf-form-label width-7" translate="i18n_tag"></span>
            </div>
            <div class="gf-form" ng-repeat="(key, value) in ctrl.target.tags track by $index">
                <label class="gf-form-label">
                    {{key}}&nbsp;=&nbsp;{{value}}
                    <a ng-click="ctrl.editTag(key, value)">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a ng-click="ctrl.removeTag(key)">
                        <i class="fa fa-remove"></i>
                    </a>
                </label>
            </div>
            <div class="gf-form" ng-hide="ctrl.addTagMode">
                <label class="gf-form-label query-keyword">
                  <a ng-click="ctrl.addTags()"><i class="fa fa-plus"></i></a>
                </label>
              </div>
            <div class="gf-form" ng-show="ctrl.addTagMode">
                <input type="text" class="gf-form-input width-7" spellcheck='false'
                      bs-typeahead-old="suggestTagKeys" data-min-length=0 data-items=100
                      ng-model="ctrl.target.currentTagKey" placeholder="key" />
                <input type="text" class="gf-form-input width-7"
                      spellcheck='false' bs-typeahead-old="suggestTagValues"
                      data-min-length=0 data-items=100 ng-model="ctrl.target.currentTagValue" placeholder="value" />
                <label class="gf-form-label" ng-show="ctrl.errors.tags">
                    <a bs-tooltip="ctrl.errors.tags" style="color: rgb(229, 189, 28)">
                      <i class="fa fa-warning"></i>
                    </a>
                </label>
                <label class="gf-form-label">
                    <a ng-click="ctrl.addTags()" ng-hide="ctrl.errors.tags" class="" translate="i18n_add_tag"></a>
                    <a ng-click="ctrl.closeAddTagMode()"><i class="fa fa-remove"></i></a>
                </label>
            </div>
          </div>

          <div class="gf-form-inline">
            <div class="gf-form">
                <span class="gf-form-label width-7">Host List</span>
                <input type="text" class="gf-form-input width-20"
                      ng-model="ctrl.alertDef.alertDetails.hosts" placeholder="请输入以','分隔的hosts列表">
            </div>
            <div class="gf-form">
                <span class="gf-form-label">Host Membership</span>
                <input type="text" class="gf-form-input width-20"
                      ng-model="ctrl.alertDef.alertDetails.membership" placeholder="*" readonly>
            </div>
          </div>
        </div>

        <div class="gf-form-inline" ng-if="false">
          <div class="gf-form">
              <span class="gf-form-label width-7" translate="i18n_cluster"></span>
              <input type="text" class="input-xlarge tidy-form-input last"
                    ng-model="ctrl.alertDef.alertDetails.cluster" readonly>
          </div>
        </div>
        <div class="gf-form-inline" ng-if="false">
          <div class="gf-form">
              <span class="gf-form-label width-7">监控范围</span>
              <select class="input-medium tidy-form-input last"
                      ng-model="ctrl.alertDef.alertDetails.monitoringScope"
                      ng-options="f for f in ['HOST']" readonly>
              </select>
          </div>
        </div>
      </div>

      <div class="gf-form-group" ng-show="ctrl.alertTypeSelected.value === 'log'">
        <h3 translate="page_alert_conditions"></h3>
        <div class="gf-form-inline">
            <div class="gf-form">
                <span class="gf-form-label width-7" translate="page_alert_conditions_critical"></span>
            </div>
            <div class="gf-form">
                <span class="gf-form-label query-keyword">当日志查询结果在</span>
            </div>
            <div class="gf-form">
                <input type="number" min="1" class="gf-form-input width-5" style="width: 45px;"
                        ng-model='ctrl.alertDef.alertDetails.crit.durarionMinutes'
                        required />
                <span class="gf-form-label query-keyword">分钟内</span>
            </div>
            <div class="gf-form">
                <select class="gf-form-select-wrapper width-3" style="width: 40px; text-align: center;"
                        ng-model="ctrl.expression"
                        ng-change="ctrl.addThresholdOp()"
                        ng-options="f for f in ['>', '<', '?']">
                </select>
            </div>
            <div class="gf-form">
                <input type="number" class="gf-form-input width-11"
                        ng-model='ctrl.alertDef.alertDetails.crit.threshold' 
                        ng-blur="ctrl.addThreshold(1)"
                        placeholder="critical threshold" required ng-readonly="ctrl.expression==='?'"/>
            </div>
            <div class="gf-form">
                <span class="gf-form-label query-keyword">条，则触发紧急报警</span>
            </div>
        </div>
    
        <div class="gf-form-inline">
            <div class="gf-form">
                <span class="gf-form-label width-7" translate="page_alert_conditions_warning"></span>
            </div>
            <div class="gf-form">
                <span class="gf-form-label query-keyword">当日志查询结果在</span>
            </div>
            <div class="gf-form">
                <input type="number" min="1" class="gf-form-input width-5" style="width: 45px;"
                        ng-model='ctrl.alertDef.alertDetails.warn.durarionMinutes' required />
                <span class="gf-form-label query-keyword">分钟内</span>
            </div>
            <div class="gf-form">
                <span class="gf-form-label width-3">{{ ctrl.expression }}</span>
            </div>
            <div class="gf-form">
                <input type="number" class="gf-form-input width-11" style="width: 139px"
                        ng-model='ctrl.alertDef.alertDetails.warn.threshold' 
                        ng-blur="ctrl.addThreshold(0)"
                        placeholder="warn threshold" required ng-readonly="ctrl.expression==='?'"/>
            </div>
            <div class="gf-form">
                <span class="gf-form-label query-keyword">条，则触发警告报警</span>
            </div>
        </div>
      </div>
    </fieldset>

    <div class="pull-right" style="margin-top: 35px">
      <button type="submit" class="btn btn-success" ng-click="ctrl.saveChanges()" translate="i18n_save"></button><!-- ng-disabled="!ctrl.checkStatus.checkForm" -->
      <a class="btn btn-inverse" href="alerts" translate="i18n_cancel"></a>
    </div>

  </form>
</div>