<navbar icon="fa fa-fw fa-bell" title="智能检测">
	<ul class="nav">
    <li class="active"><a href="alerts/status">总览</a></li>
    <li><a href="alerts">报警规则</a></li>
    <li><a href="alerts/new">新建报警规则</a></li>
  </ul>
</navbar>

<div class="page-container alert-status-page" ng-init="ctrl.init()">
  <div class="page-header">
    <h2>报警指标状态</h2>
  </div>

  <div class="grafana-info-box" style="margin: 20px 0 25px 0">
    您可以对目前发生的报警进行"诊断分析"、"延迟报警"或"处理警告"，以帮助您快速定位故障原因，反馈报警处理结果。
  </div>

  <div ng-include="'public/app/partials/alert_status.html'"></div>
</div>