<navbar icon="fa fa-fw fa-signal" title="智能分析">
    <ul class="nav pull-right">
        <li ng-show="dashboard.meta.fullscreen" class="dashnav-back-to-dashboard">
            <a ng-click="exitFullscreen()">
                返回到仪表盘
            </a>
        </li>
        <li ng-if="dashboard">
             <gf-time-picker dashboard="dashboard"></gf-time-picker>
        </li>
    </ul>
</navbar>
<div dash-editor-view class="time-picker"></div>

<guide guide-class="guide" need-host=true></guide>

<div class="page-container association-page" ng-init="ctrl.init()">

    <div class="page-header">
        <h2 translate="page_association_title"></h2>
    </div>

    <form class="tidy-form-box">
        <div class="tidy-form">
            <ul class="tidy-form-list">
                <li class="tidy-form-item" translate="i18n_metric">
                </li>
                <li>
                    <input type="text" class="tidy-form-input input-xlarge"
                        style="margin-right: 40px;"
                        ng-model='ctrl.targetObj.metric'
                        spellcheck='false'
                        bs-typeahead-old="suggestMetrics"
                        placeholder="需要分析的指标" required/>
                </li>
            </ul>
        </div>
        <div class="tidy-form">
            <ul class="tidy-form-list">
                <li class="tidy-form-item" translate="i18n_host">
                </li>
                <li>
                    <input type="text" class="input-medium tidy-form-input ng-pristine ng-untouched ng-valid"
                        style="margin-right: 40px;"
                        spellcheck="false"
                        placeholder="请键入主机名"
                        bs-typeahead-old="ctrl.suggestTagHost"
                        ng-model="ctrl.targetObj.host">
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="ctrl.analysis()"><i class="fa fa-search"></i> <span translate="page_association_analysis"></span></button>
    </form>

    <div class="main-view-container">
        <div class="grafana-row" ng-controller="RowCtrl" ng-repeat="(row_name, row) in dashboard.rows" row-height>

            <!-- 关联性分析 图 -->
            <div class="row-control">
                <div class="row-control-inner">
                    <div class="row-close" ng-show="row.collapse" data-placement="bottom">
                        <div class="row-close-buttons">
                            <span class="row-button bgPrimary" ng-click="toggleRow(row)">
                                <i bs-tooltip="'Expand row'" data-placement="right" class="fa fa-caret-left pointer"></i>
                            </span>
                        </div>
                        <div class="row-text pointer" ng-click="toggleRow(row)" ng-bind="row.title | interpolateTemplateVars:this"></div>
                    </div>
                </div>

                <div class="panels-wrapper" ng-if="!row.collapse">

                    <!-- 关联性分析 图 -->
                    <div ng-if="row.title === 'associationGraph'">
                        <div ng-repeat="(name, panel) in row.panels track by panel.id" class="panel" ng-class="{true: 'association-container'}[panel.id === 1]"
                            ui-draggable="!dashboardViewState.fullscreen" drag="panel.id"
                            ui-on-Drop="onDrop($data, row, panel)" drag-handle-class="drag-handle" panel-width>
                            <plugin-component type="panel" class="panel-margin"></plugin-component>
                            <cw-tree-menu ng-if="panel.id === 1"></cw-tree-menu>
                        </div>
                    </div>

                    <!-- 事件列表 -->
                    <div ng-if="row.title === 'serviceEvents'">
                        <!-- <div class="service-events" ng-if="ctrl.serviceEvents.length">
                            <h3 ng-click="toggleRow(row)" class="pointer" translate="i18n_event_list"></h3>    
                            <table ng-table="ctrl.tableParams" class="table">
                                <tr ng-repeat="row in $data">
                                    <td>
                                        <div>
                                            <input type="checkbox" name="event" ng-click="ctrl.addAnnotation(row)" ng-model="row.checked" />
                                        </div>
                                    </td>
                                    <td title="'名称'" sortable="'service'">
                                        <div>{{ row.service }}</div>
                                    </td>
                                    <td title="'事件类型'" sortable="'type'">
                                        <div>{{ row.type }}</div>
                                    </td>
                                    <td title="'发生时间'" sortable="'timestamp'">
                                        <div>{{ row.time }}</div>
                                    </td>
                                    <td title="'其他信息'" sortable="'hostname'">
                                        <div>{{ row.hostname }}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="service-events no-events" ng-if="!ctrl.serviceEvents.length">
                            <h3 translate="i18n_event_list"></h3><p translate="i18n_no_data"></p>
                        </div> -->
                    </div>

                    <!-- 日志查询 -->
                    <div ng-if="row.title === 'logs'">
                        <div class="logs" id="logs">
                            <h3 ng-click="toggleRow(row)" class="pointer" translate="page_association_log"></h3>
                            <form>
                                <input type="text" class="input-xlarge tidy-form-input ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="ctrl.query" required style="display: inline;">
                                <button type="submit" class="btn btn-primary" ng-click="ctrl.reQuery()"><i class="fa fa-search"></i> <span translate="i18n_search"></span></button>
                                <a href="/logs?query={{ ctrl.query }}" class="btn btn-outline-primary pull-right" translate="i18n_detail"></a>
                            </form>
                            <div class="clearfix"></div>
                            <div class="log-search-result log-association-search-result">
                                <tabset>
                                    <tab heading="{{ panel.title }}" ng-repeat="(name, panel) in row.panels track by panel.id" ng-if="panel.tab !== graph">
                                        <ul ng-if="panel.regularResult.data[0].total">
                                            <li style="color: #feb101; list-style-type: disc; margin-left: 30px;">
                                                该时间区域内共有 <strong>{{ panel.regularResult.data[0].total }}</strong> 条日志，当前显示前 {{ panel.regularResult.data[0].datapoints.length }} 条。放大时间区域，以查看更细日志数据。
                                            </li>
                                        </ul>
                                        <div>
                                            <plugin-component type="panel" class="panel-margin log-panel"></plugin-component>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>