<navbar icon="fa fa-fw fa-bell" title="智能检测">
	<ul class="nav">
    <li class="active"><a href="alerts/status" translate="page_alert_status_title"></a></li>
    <li><a href="alerts" translate="page_alert_list_title"></a></li>
    <li><a href="alerts/new" translate="page_alert_new_title"></a></li>
  </ul>
</navbar>

<div class="page-container alert-status-page" ng-init="ctrl.init()">
  <div class="page-header">
    <h2 translate="page_alert_status_title"></h2>
  </div>

  <div ng-include="'public/app/partials/alert_status.html'"></div>
</div>