<div class="host-list host-tab-content">
  <div ng-hide="ctrl.hostPanels.length">
    <em translate="page_host_none"></em>
    <cw-loading show="!ctrl.hostPanels.length" duration=6000></cw-loading>
  </div>
  <div>
    <table class="table host-panel-table" ng-show="ctrl.hostPanels.length">
      <thead>
        <tr>
          <th translate="i18n_hostname"></th>
          <th>IP</th>
          <th translate="page_host_stat"></th>
          <th translate="page_overview_cpu_usage"></th>
          <th translate="page_overview_mem_usage"></th>
          <th translate="page_overview_disk_usage"></th>
          <th translate="page_host_start"></th>
          <th translate="page_host_agent_version"></th>
          <th>Commit Id</th>
          <th translate="i18n_operating"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="host in ctrl.hostPanels"
            ng-class="{active: host.host==ctrl.currentHost.name}"
            ng-click="ctrl.rowClickHandle($event, host);">
          <td>{{ host.host }}</td>
          <td>{{ host.defaultIp || '-' }}</td>
          <td>{{ host.status || '-' }}</td>
          <td>{{ host.cpu || '-' }}</td>
          <td>{{ host.mem || '-' }}</td>
          <td>{{ host.disk || '-' }}</td>
          <td>{{ host.startTime || '-' }}</td>
          <td>{{ host.version || '-' }}</td>
          <td>{{ host.commit || '-' }}</td>
          <td>
            <button class="btn btn-small btn-outline-primary del-btn" ng-if="!ctrl.contextSrv.isViewer" ng-click="ctrl.deleteHost($event, host.id)">
              <i class="fa fa-times"></i>
              <span translate="i18n_delete" class="del-btn"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>