<navbar icon="fa fa-fw fa-home"></navbar>

<div class="page-container host-page topology-graph" ng-init="ctrl.init();">

    <div class="page-header">
        <h2 translate="page_overview_panel_host_title"></h2>
    </div>

    <topology-graph params="ctrl.topologyGraphParams" current-item="ctrl.currentHost"></topology-graph>

    <div class="detail">
        <tabset class="host-detail">
            <tab heading="{{ tab.title }}"
                 ng-repeat="tab in ctrl.tabs"
                 active="tab.active"
                 ng-click="ctrl.switchTab(tab.id)"
                 ng-show="tab.show">
                 <div ng-include="tab.content"></div>
            </tab>
        </tabset>
    </div>
</div>