<table class="table table-hack"
    data-pagination="true"
    data-page-size="10"
    data-sort-order="desc">
    <thead>
        <tr>
            <th data-field="pid" data-sortable="true">进程 ID</th>
            <th data-field="user" data-sortable="true">进程创建用户</th>
            <th data-field="name" data-sortable="true">进程</th>
            <th data-field="cpuPercent" data-sortable="true">CPU 使用率</th>
            <th data-field="memPercent" data-sortable="true">内存占用率</th>
            <th data-field="diskIoRead" data-sortable="true">读硬盘次数</th>
            <th data-field="diskIoWrite" data-sortable="true">写硬盘次数</th>
            <th data-field="createTime" data-sortable="true" data-formatter="timeFormatter">创建时间</th>
            <th data-field="command" data-sortable="true">命令</th>
        </tr>
    </thead>
</table>
<script>
  function timeFormatter(value) {
    return _.transformTime(value);
  }
</script>