<div class="host-anomaly host-tab-content">
  <div ng-hide="anomalyHistory.length">
    <em translate="page_anomaly_none"></em>
    <cw-loading show="!anomalyHistory.length" duration=6000></cw-loading>
  </div>

  <div ng-show="anomalyHistory.length">
    <p>
      <em style="font-size: 12px">（1 <em translate="i18n_hour"></em>）</em>
    </p>
    <table class="table">
      <thead>
        <tr>
          <th translate="page_anomaly_time"></th>
          <th translate="i18n_hostname"></th>
          <th translate="i18n_metric_name"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="anomaly in anomalyHistory | filter: anomalyKey">
          <td>{{ anomaly.time | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ anomaly.host }}</td>
          <td>{{ anomaly.metric }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>