<div class="host-list host-tab-content">
  <div ng-hide="ctrl.hostPanels.length">
    <em>暂没有任何机器数据</em>
    <cw-loading show="!ctrl.hostPanels.length" duration=6000></cw-loading>
  </div>
  <div>
    <table class="table host-panel-table" ng-show="ctrl.hostPanels.length">
      <thead>
        <tr>
          <th>机器名</th>
          <th>机器在线状态</th>
          <th>CPU 使用率</th>
          <th>内存使用</th>
          <th>磁盘剩余空间</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="host in ctrl.hostPanels"
            ng-class="{active: host.host==ctrl.currentHost.name}"
            ng-click="ctrl.nodeClickHandle(host);">
          <td>{{ host.host }}</td>
          <td>{{ host.status || '-' }}</td>
          <td>{{ host.cpu || '-' }}</td>
          <td>{{ host.mem || '-' }}</td>
          <td>{{ host.disk || '-' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>